homeassistant/node-red/.flows.json.backup
[{"id":"e3962ad7.9f7788","type":"tab","label":"Trackers","disabled":false,"info":""},{"id":"b27af49e.d9bd78","type":"server","z":"","name":"Home Assistant"},{"id":"56a8167f.132c8","type":"mqtt-broker","z":"","name":"Hass","broker":"192.168.0.201","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2a4d2694.bb4a2a","type":"http response","z":"e3962ad7.9f7788","name":"","statusCode":"","headers":{},"x":710,"y":50,"wires":[]},{"id":"21579ecc.444ae2","type":"http in","z":"e3962ad7.9f7788","name":"","url":"owntracks/stuart/phone","method":"post","upload":false,"swaggerDoc":"","x":150,"y":50,"wires":[["2a4d2694.bb4a2a","a9a75800.0c4a4","6e5e2e92.58b72"]]},{"id":"a9a75800.0c4a4","type":"change","z":"e3962ad7.9f7788","name":"stuart/phone/location","rules":[{"t":"set","p":"topic","pt":"msg","to":"tracker/family/stuart/phone/location","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":30,"wires":[["3ed6030e.13656c"]]},{"id":"3ed6030e.13656c","type":"mqtt out","z":"e3962ad7.9f7788","name":"","topic":"","qos":"2","retain":"true","broker":"56a8167f.132c8","x":710,"y":90,"wires":[]},{"id":"785dcf68.329ce8","type":"comment","z":"e3962ad7.9f7788","name":"Tasker OwnTracks Report","info":"","x":130,"y":90,"wires":[]},{"id":"16accdc2.0fbf7a","type":"function","z":"e3962ad7.9f7788","name":"","func":"var translated = {}\ntranslated.longitude = msg.payload.lon\ntranslated.latitude = msg.payload.lat\ntranslated.gps_accuracy = msg.payload.acc\ntranslated.battery_level = msg.payload.batt\nmsg.payload = translated\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":70,"wires":[["3ed6030e.13656c"]]},{"id":"6e5e2e92.58b72","type":"change","z":"e3962ad7.9f7788","name":"tracker/family/stuart","rules":[{"t":"set","p":"topic","pt":"msg","to":"tracker/family/stuart","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":70,"wires":[["16accdc2.0fbf7a"]]},{"id":"eb0cb139.09cf2","type":"http response","z":"e3962ad7.9f7788","name":"","statusCode":"","headers":{},"x":710,"y":130,"wires":[]},{"id":"5bf10620.3c9fe8","type":"http in","z":"e3962ad7.9f7788","name":"","url":"owntracks/kareen/phone","method":"post","upload":false,"swaggerDoc":"","x":150,"y":130,"wires":[["eb0cb139.09cf2","9df822f7.21def8","fa2f712b.13b07"]]},{"id":"9df822f7.21def8","type":"change","z":"e3962ad7.9f7788","name":"kareen/phone/location","rules":[{"t":"set","p":"topic","pt":"msg","to":"tracker/family/kareen/phone/location","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":150,"wires":[["3ed6030e.13656c"]]},{"id":"4f2766ac.3cfe68","type":"function","z":"e3962ad7.9f7788","name":"","func":"var translated = {}\ntranslated.longitude = msg.payload.lon\ntranslated.latitude = msg.payload.lat\ntranslated.gps_accuracy = msg.payload.acc\ntranslated.battery_level = msg.payload.batt\nmsg.payload = translated\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":110,"wires":[["3ed6030e.13656c"]]},{"id":"fa2f712b.13b07","type":"change","z":"e3962ad7.9f7788","name":"tracker/family/kareen","rules":[{"t":"set","p":"topic","pt":"msg","to":"tracker/family/kareen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":110,"wires":[["4f2766ac.3cfe68"]]}]