homeassistant/node-red/flows.json
[{"id":"9e19792f.bad6e8","type":"tab","label":"Family","disabled":false,"info":""},{"id":"70e66d25.f95abc","type":"tab","label":"React Lighting","disabled":false,"info":""},{"id":"b34303b6.e141a8","type":"tab","label":"React Power","disabled":false,"info":""},{"id":"86a2cb87.41be4","type":"tab","label":"House Scenes","disabled":false,"info":""},{"id":"7c4edcbf.0aba1c","type":"tab","label":"Web","disabled":false,"info":""},{"id":"103b2b90.4d268c","type":"tab","label":"Security","disabled":false,"info":""},{"id":"f43c2fc4.f37718","type":"tab","label":"Room/Study","disabled":false,"info":""},{"id":"db2d12c6.e8984","type":"tab","label":"Room/Kitchen","disabled":false,"info":""},{"id":"ea135125.978e8","type":"tab","label":"Room/Lounge","disabled":false,"info":""},{"id":"6b5456e0.047d7","type":"tab","label":"Room/Bedroom","disabled":false,"info":""},{"id":"b66bb36b.d91f98","type":"tab","label":"Room/Landing","disabled":true,"info":""},{"id":"17a692e7.2bcf1d","type":"tab","label":"Room/Entryway","disabled":true,"info":""},{"id":"f743ff89.b49248","type":"tab","label":"DashButtons","disabled":true,"info":""},{"id":"b3c5a6b9.91186","type":"tab","label":"Tracker Room","disabled":false,"info":""},{"id":"85b0aa49.11501","type":"tab","label":"API Proxy","disabled":false,"info":""},{"id":"e33ca006.baadb8","type":"subflow","name":"FamilyScene - Off","info":"","category":"","in":[{"x":25,"y":25,"wires":[{"id":"e4b4885.13e2678"}]}],"out":[],"env":[]},{"id":"84850539.36296","type":"subflow","name":"House Occupied","info":"","category":"","in":[{"x":25,"y":25,"wires":[{"id":"7de0c9ce.b72d4"}]}],"out":[],"env":[]},{"id":"9e429f2c.47f6","type":"subflow","name":"Check State","info":"","category":"","in":[{"x":50,"y":80,"wires":[{"id":"ed6960fd.51571"}]}],"out":[],"env":[]},{"id":"3f8bb462.cc3434","type":"subflow","name":"Hass.io","info":"","category":"notify","in":[{"x":50,"y":80,"wires":[{"id":"37efbd6b.9cd10a"}]}],"out":[],"env":[]},{"id":"5a520374.42875c","type":"subflow","name":"JarvisHAB","info":"","category":"notify","in":[{"x":50,"y":80,"wires":[{"id":"d000bf1b.2f3af8"}]}],"out":[],"env":[]},{"id":"9e8b7db7.07a7f8","type":"subflow","name":"JarvisNx","info":"","category":"notify","in":[{"x":50,"y":80,"wires":[{"id":"99985a44.3c95c8"}]}],"out":[],"env":[]},{"id":"1e089688.6ba879","type":"subflow","name":"JarvisOutside","info":"","category":"notify","in":[{"x":50,"y":80,"wires":[{"id":"cb50e074.d61ed8"}]}],"out":[],"env":[]},{"id":"666a32e3.2e6f04","type":"subflow","name":"JarvisTweets","info":"","category":"notify","in":[{"x":50,"y":80,"wires":[{"id":"11189ca3.abbc6b"}]}],"out":[],"env":[]},{"id":"94219112.b2c818","type":"subflow","name":"JarvisVisitorLog","info":"","category":"notify","in":[{"x":50,"y":80,"wires":[{"id":"c2de3fc2.2354e"}]}],"out":[],"env":[]},{"id":"4d697121.6b434","type":"subflow","name":"JarvisTTS","info":"","category":"notify","in":[{"x":50,"y":80,"wires":[{"id":"443e60fe.d4ec1"},{"id":"f18ccabf.23d82"}]}],"out":[],"env":[]},{"id":"b27af49e.d9bd78","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"f8fa9894.75c16","type":"mqtt-broker","z":"","name":"Hass.io","broker":"192.168.0.201","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a54bc67b.b5fab8","type":"inject","z":"f43c2fc4.f37718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":30,"wires":[["741feabc.0ed4c4"]]},{"id":"b7a3a996.6d8de","type":"api-current-state","z":"f43c2fc4.f37718","name":"Study Alexa Status","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.study","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":556,"y":96,"wires":[["d0903ef8.ef7878"]]},{"id":"d0903ef8.ef7878","type":"switch","z":"f43c2fc4.f37718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"playing","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":746,"y":96,"wires":[["e4e6c7d8.6d3218"],["a4ca089d.d8132"]]},{"id":"e4e6c7d8.6d3218","type":"function","z":"f43c2fc4.f37718","name":"Alexa Playing","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/study\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/study/reason\";\nreason.payload = \"Alexa Playing\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":906,"y":96,"wires":[["a6d83e65.17fea8"],["a6d83e65.17fea8"]]},{"id":"a6d83e65.17fea8","type":"mqtt out","z":"f43c2fc4.f37718","name":"","topic":"","qos":"","retain":"true","broker":"f8fa9894.75c16","x":1326,"y":176,"wires":[]},{"id":"a4ca089d.d8132","type":"api-current-state","z":"f43c2fc4.f37718","name":"Motion","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.motion_ff_study","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":516,"y":196,"wires":[["103017eb.b6b21"]]},{"id":"103017eb.b6b21","type":"switch","z":"f43c2fc4.f37718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":746,"y":196,"wires":[["bd5da423.659a1"],["a9bb6fed.55bca"]]},{"id":"bd5da423.659a1","type":"function","z":"f43c2fc4.f37718","name":"Motion was Detected","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/study\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/study/reason\";\nreason.payload = \"Motion was Detected\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":926,"y":196,"wires":[["a6d83e65.17fea8"],["a6d83e65.17fea8"]]},{"id":"436cf7e9.924188","type":"server-state-changed","z":"f43c2fc4.f37718","name":"Check Triggers","server":"b27af49e.d9bd78","entityidfilter":"sensor.family_family_state_raw|media_player.study|binary_sensor.motion_ff_study|binary_sensor.ff_study_sensor_sensor|switch.ff_study_monitors|sensor.ff_study_monitors_power","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":85,"y":80,"wires":[["ef34059e.0289c"]]},{"id":"741feabc.0ed4c4","type":"api-current-state","z":"f43c2fc4.f37718","name":"Someone Home","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_family_state_raw","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":546,"y":31,"wires":[["64c9596c.9c69d8"]]},{"id":"64c9596c.9c69d8","type":"switch","z":"f43c2fc4.f37718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"4","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":746,"y":31,"wires":[["251a6adf.5b1aae"],["82f62d88.3ca85"],["b7a3a996.6d8de"]]},{"id":"251a6adf.5b1aae","type":"function","z":"f43c2fc4.f37718","name":"No One Home","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/study\";\nstate.payload = \"OFF\";\n\nreason.topic = \"iot/room/occupancy/study/reason\";\nreason.payload = \"No One Home\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":906,"y":21,"wires":[["a6d83e65.17fea8"],["a6d83e65.17fea8"]]},{"id":"f3846a65.6f2968","type":"inject","z":"6b5456e0.047d7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":30,"wires":[["6092a5dd.53137c"]]},{"id":"6468f914.87a5a","type":"api-current-state","z":"6b5456e0.047d7","name":"Stuart's State","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_stuart_state","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":528,"y":104,"wires":[["8384781a.8243e8"]]},{"id":"8384781a.8243e8","type":"switch","z":"6b5456e0.047d7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"9","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":708,"y":104,"wires":[["8cc2e0b6.6466"],["a935ff21.3ba41"]]},{"id":"8cc2e0b6.6466","type":"function","z":"6b5456e0.047d7","name":"Stuart's Asleep","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/bedroom\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/bedroom/reason\";\nreason.payload = \"Stuart's Asleep\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":913,"y":104,"wires":[["1626ae0a.0d531a"],["1626ae0a.0d531a"]]},{"id":"1626ae0a.0d531a","type":"mqtt out","z":"6b5456e0.047d7","name":"","topic":"","qos":"","retain":"true","broker":"f8fa9894.75c16","x":1290,"y":215,"wires":[]},{"id":"c09cdb50.faef48","type":"function","z":"6b5456e0.047d7","name":"Empty","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/bedroom\";\nstate.payload = \"OFF\";\n\nreason.topic = \"iot/room/occupancy/bedroom/reason\";\nreason.payload = \"Empty\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":885,"y":360,"wires":[["1626ae0a.0d531a"],["1626ae0a.0d531a"]]},{"id":"a935ff21.3ba41","type":"api-current-state","z":"6b5456e0.047d7","name":"Kareen's State","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_kareen_state","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":528,"y":154,"wires":[["2fea3b9a.bc8dec"]]},{"id":"2fea3b9a.bc8dec","type":"switch","z":"6b5456e0.047d7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"9","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":708,"y":154,"wires":[["167b7335.8a559d"],["2d007103.21e506"]]},{"id":"167b7335.8a559d","type":"function","z":"6b5456e0.047d7","name":"Kareen's Asleep","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/bedroom\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/bedroom/reason\";\nreason.payload = \"Kareen's Asleep\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":923,"y":154,"wires":[["1626ae0a.0d531a"],["1626ae0a.0d531a"]]},{"id":"2d007103.21e506","type":"api-current-state","z":"6b5456e0.047d7","name":"Motion","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.motion_ff_bedroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":508,"y":304,"wires":[["9e65b31a.4e6f78"]]},{"id":"9e65b31a.4e6f78","type":"switch","z":"6b5456e0.047d7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":706,"y":304,"wires":[["f1fddf8e.7f5c"],["c09cdb50.faef48"]]},{"id":"f1fddf8e.7f5c","type":"function","z":"6b5456e0.047d7","name":"Motion was Detected","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/bedroom\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/bedroom/reason\";\nreason.payload = \"Motion was Detected\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":935,"y":310,"wires":[["1626ae0a.0d531a"],["1626ae0a.0d531a"]]},{"id":"686c092a.a4ee8","type":"server-state-changed","z":"6b5456e0.047d7","name":"Check Triggers","server":"b27af49e.d9bd78","entityidfilter":"sensor.family_family_state_raw|media_player.bedroom_fire_tv_stick|sensor.family_stuart_state|sensor.family_kareen_state|binary_sensor.motion_ff_bedroom","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":85,"y":70,"wires":[["84dd93d4.9a92e8"]]},{"id":"6092a5dd.53137c","type":"api-current-state","z":"6b5456e0.047d7","name":"Someone Home","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_family_state_raw","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":538,"y":32,"wires":[["20ecb888.85d65"]]},{"id":"20ecb888.85d65","type":"switch","z":"6b5456e0.047d7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"4","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":708,"y":32,"wires":[["8ea2ec58.70e638"],["3d410303.37b14c"],["6468f914.87a5a"]]},{"id":"8ea2ec58.70e638","type":"function","z":"6b5456e0.047d7","name":"No One Home","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/bedroom\";\nstate.payload = \"OFF\";\n\nreason.topic = \"iot/room/occupancy/bedroom/reason\";\nreason.payload = \"No One Home\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":913,"y":32,"wires":[["1626ae0a.0d531a"],["1626ae0a.0d531a"]]},{"id":"a9bb6fed.55bca","type":"api-current-state","z":"f43c2fc4.f37718","name":"Monitors","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.ff_study_monitors","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":516,"y":246,"wires":[["48e0be39.a3f2b8"]]},{"id":"48e0be39.a3f2b8","type":"switch","z":"f43c2fc4.f37718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":746,"y":246,"wires":[["987e3ebf.6eaaf8"],["2901ded2.3fe41a"]]},{"id":"987e3ebf.6eaaf8","type":"function","z":"f43c2fc4.f37718","name":"Empty","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/study\";\nstate.payload = \"OFF\";\n\nreason.topic = \"iot/room/occupancy/study/reason\";\nreason.payload = \"Monitors Are Off\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":876,"y":246,"wires":[["a6d83e65.17fea8"],["a6d83e65.17fea8"]]},{"id":"73158bd0.62b35c","type":"api-current-state","z":"f43c2fc4.f37718","name":"Study Plex Alexa Status","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.plex_ff_study_alexa","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":566,"y":146,"wires":[["3a37f3b2.5d93bc"]]},{"id":"3a37f3b2.5d93bc","type":"switch","z":"f43c2fc4.f37718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"PLAY","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":746,"y":146,"wires":[["2f8438db.dfb91"],[]]},{"id":"2f8438db.dfb91","type":"function","z":"f43c2fc4.f37718","name":"Alexa (Plex) Playing","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/study\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/study/reason\";\nreason.payload = \"Alexa (Plex) Playing\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":926,"y":146,"wires":[["a6d83e65.17fea8"],["a6d83e65.17fea8"]]},{"id":"370e60ee.c6af7","type":"inject","z":"7c4edcbf.0aba1c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"*/10 6-20 * * 1,2,3,4,5","once":false,"onceDelay":"","x":85,"y":65,"wires":[["945a3cb9.f3042"]]},{"id":"945a3cb9.f3042","type":"http request","z":"7c4edcbf.0aba1c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://www.tayroadbridge.co.uk/bridge-status","tls":"","proxy":"","x":225,"y":85,"wires":[["e6536a48.05a028","3144146e.e1e324","28cd21bc.73af36","3544a8b5.ab574"]]},{"id":"e6536a48.05a028","type":"html","z":"7c4edcbf.0aba1c","name":"","tag":"div.field-name-field-status","ret":"html","as":"multi","x":465,"y":25,"wires":[["4bd79a3e.361184"]]},{"id":"3144146e.e1e324","type":"html","z":"7c4edcbf.0aba1c","name":"","tag":"div.field-name-field-cars-and-single-decker-bus","ret":"html","as":"multi","x":535,"y":65,"wires":[["d55d9611.f90288"]]},{"id":"28cd21bc.73af36","type":"html","z":"7c4edcbf.0aba1c","name":"","tag":"div.field-name-field-northbound","ret":"html","as":"multi","x":485,"y":105,"wires":[["bedf9616.e83448"]]},{"id":"3544a8b5.ab574","type":"html","z":"7c4edcbf.0aba1c","name":"","tag":"div.field-name-field-southbound","ret":"html","as":"multi","x":485,"y":145,"wires":[["dfcf74da.e53348"]]},{"id":"28f2076e.9074a8","type":"inject","z":"7c4edcbf.0aba1c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"*/30 9-16 * * 6,0","once":false,"onceDelay":"","x":85,"y":105,"wires":[["945a3cb9.f3042"]]},{"id":"4bd79a3e.361184","type":"html","z":"7c4edcbf.0aba1c","name":"","property":"","outproperty":"","tag":"div.field-item","ret":"text","as":"multi","x":805,"y":25,"wires":[["12a00b35.769afd"]]},{"id":"d55d9611.f90288","type":"html","z":"7c4edcbf.0aba1c","name":"","tag":"div.field-item","ret":"text","as":"multi","x":805,"y":65,"wires":[["20002b5d.38b464"]]},{"id":"bedf9616.e83448","type":"html","z":"7c4edcbf.0aba1c","name":"","tag":"div.field-item","ret":"text","as":"multi","x":805,"y":105,"wires":[["756ec662.0257f8"]]},{"id":"dfcf74da.e53348","type":"html","z":"7c4edcbf.0aba1c","name":"","tag":"div.field-item","ret":"text","as":"multi","x":805,"y":145,"wires":[["c1e0077b.b9fba"]]},{"id":"12a00b35.769afd","type":"rbe","z":"7c4edcbf.0aba1c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":945,"y":25,"wires":[["9c900d4a.f0a628"]]},{"id":"20002b5d.38b464","type":"rbe","z":"7c4edcbf.0aba1c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":945,"y":65,"wires":[["1a3d1911.d6cc37"]]},{"id":"756ec662.0257f8","type":"rbe","z":"7c4edcbf.0aba1c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":945,"y":105,"wires":[["e5a74118.21cb1"]]},{"id":"c1e0077b.b9fba","type":"rbe","z":"7c4edcbf.0aba1c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":945,"y":145,"wires":[["537bee1c.ab7af8"]]},{"id":"9c900d4a.f0a628","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":1075,"y":25,"wires":[["f57a4b72.0933f8"]]},{"id":"1a3d1911.d6cc37","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} to Cars","output":"str","x":1075,"y":65,"wires":[["f57a4b72.0933f8"]]},{"id":"e5a74118.21cb1","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} North Bound","output":"str","x":1075,"y":105,"wires":[["f57a4b72.0933f8"]]},{"id":"537bee1c.ab7af8","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} South Bound","output":"str","x":1075,"y":145,"wires":[["f57a4b72.0933f8"]]},{"id":"f95312f2.fa8cc","type":"inject","z":"7c4edcbf.0aba1c","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":105,"y":20,"wires":[["72ad33b2.e8b124"]]},{"id":"72ad33b2.e8b124","type":"change","z":"7c4edcbf.0aba1c","name":"Rest","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":255,"y":20,"wires":[["12a00b35.769afd","20002b5d.38b464","756ec662.0257f8","c1e0077b.b9fba"]]},{"id":"f57a4b72.0933f8","type":"function","z":"7c4edcbf.0aba1c","name":"Empty","func":"state = {};\n\nstate.topic = \"iot/information/taybridge\";\nstate.payload = msg.payload;\n\nreturn state;","outputs":1,"noerr":0,"x":1250,"y":85,"wires":[["a84715a9.8750c8"]]},{"id":"a84715a9.8750c8","type":"mqtt out","z":"7c4edcbf.0aba1c","name":"","topic":"","qos":"","retain":"true","broker":"f8fa9894.75c16","x":1375,"y":85,"wires":[]},{"id":"821c3b9a.fe5128","type":"inject","z":"70e66d25.f95abc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":95,"y":230,"wires":[["925eedae.6e46e8"]]},{"id":"acdd0176.406748","type":"function","z":"70e66d25.f95abc","name":"Study Night","func":"study = {}\nstudy.payload = {}\nstudy.payload.service = \"turn_on\"\nstudy.payload.domain = \"light\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"light.ff_study_celing\"\nstudy.payload.data.transition = 5\nstudy.payload.data.rgb_color = [255,207,120]\nstudy.payload.data.brightness = 255\nlanding = {}\nlanding.payload = {}\nlanding.payload.service = \"turn_on\"\nlanding.payload.domain = \"light\"\nlanding.payload.data = {}\nlanding.payload.data.entity_id = \"light.ff_landing_celing\"\nlanding.payload.data.transition = 5\nlanding.payload.data.rgb_color = [255,207,120]\nlanding.payload.data.brightness = 150\nreturn [study,landing];","outputs":2,"noerr":0,"x":710,"y":230,"wires":[["2a998ca3.880b84"],["2a998ca3.880b84"]]},{"id":"fd7edf71.7f5bd8","type":"api-current-state","z":"70e66d25.f95abc","name":"Light Scene","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.light_scene","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":330,"wires":[["8117460e.8ba2b"]]},{"id":"925eedae.6e46e8","type":"api-current-state","z":"70e66d25.f95abc","name":"House Scene","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.house_scene","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":260,"y":230,"wires":[["fe0d4d.43799ab"]]},{"id":"cd6a44e3.a74a8","type":"api-current-state","z":"70e66d25.f95abc","name":"Room Occupancy","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.room_occupancy_study","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":280,"wires":[["e1b24402.488668"]]},{"id":"fe0d4d.43799ab","type":"switch","z":"70e66d25.f95abc","name":"Occupied","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Occupied","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":455,"y":230,"wires":[["cd6a44e3.a74a8"]]},{"id":"e1b24402.488668","type":"switch","z":"70e66d25.f95abc","name":"On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":445,"y":280,"wires":[["fd7edf71.7f5bd8"],["e59f3478.42cac8"]]},{"id":"8117460e.8ba2b","type":"switch","z":"70e66d25.f95abc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Night","vt":"str"},{"t":"eq","v":"Sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":445,"y":330,"wires":[["acdd0176.406748"],["138bdb65.05737d"]]},{"id":"9d87ae76.3bd8a8","type":"server-state-changed","z":"70e66d25.f95abc","name":"Study Occ","server":"b27af49e.d9bd78","entityidfilter":"switch.room_occupancy_study","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":70,"y":265,"wires":[["925eedae.6e46e8"]]},{"id":"138bdb65.05737d","type":"function","z":"70e66d25.f95abc","name":"Study Sunset","func":"study = {}\nstudy.payload = {}\nstudy.payload.service = \"turn_on\"\nstudy.payload.domain = \"light\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"light.ff_study_celing\"\nstudy.payload.data.transition = 5\nstudy.payload.data.rgb_color = [255,207,120]\nstudy.payload.data.brightness = 150\nlanding = {}\nlanding.payload = {}\nlanding.payload.service = \"turn_on\"\nlanding.payload.domain = \"light\"\nlanding.payload.data = {}\nlanding.payload.data.entity_id = \"light.ff_landing_celing\"\nlanding.payload.data.transition = 5\nlanding.payload.data.rgb_color = [255,207,120]\nlanding.payload.data.brightness = 150\nreturn [study,landing];","outputs":2,"noerr":0,"x":700,"y":270,"wires":[["2a998ca3.880b84"],["2a998ca3.880b84"]]},{"id":"2fcc7591.b95daa","type":"function","z":"70e66d25.f95abc","name":"Study Off","func":"study = {}\nstudy.payload = {}\nstudy.payload.service = \"turn_off\"\nstudy.payload.domain = \"light\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"group.lights_ff_study\"\nreturn study;","outputs":1,"noerr":0,"x":1295,"y":370,"wires":[["b2be4ac4.5a4678"]]},{"id":"e59f3478.42cac8","type":"link out","z":"70e66d25.f95abc","name":"","links":["eb7798ba.d45f3"],"x":555,"y":285,"wires":[]},{"id":"eb7798ba.d45f3","type":"link in","z":"70e66d25.f95abc","name":"light_ff_study_off","links":["e59f3478.42cac8"],"x":1195,"y":335,"wires":[["2fcc7591.b95daa","f79f6951.5b3ef8"]]},{"id":"f79f6951.5b3ef8","type":"api-current-state","z":"70e66d25.f95abc","name":"Bedroom Occupancy","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.room_occupancy_bedroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1335,"y":335,"wires":[["6f7bc173.3b7548"]]},{"id":"6f7bc173.3b7548","type":"switch","z":"70e66d25.f95abc","name":"Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1500,"y":335,"wires":[["caf41890.82665"]]},{"id":"caf41890.82665","type":"function","z":"70e66d25.f95abc","name":"Landing Off","func":"study = {}\nstudy.payload = {}\nstudy.payload.service = \"turn_off\"\nstudy.payload.domain = \"light\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"light.ff_landing_celing\"\nreturn study;","outputs":1,"noerr":0,"x":1685,"y":375,"wires":[["b2be4ac4.5a4678"]]},{"id":"649ac8c.c3976b8","type":"server-state-changed","z":"70e66d25.f95abc","name":"Light Scene","server":"b27af49e.d9bd78","entityidfilter":"sensor.light_scene","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":80,"y":315,"wires":[["925eedae.6e46e8"]]},{"id":"1f12f67.de7f88a","type":"server-state-changed","z":"86a2cb87.41be4","name":"House Scene","server":"b27af49e.d9bd78","entityidfilter":"sensor.house_scene","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":85,"y":55,"wires":[["c42161cb.ecb4f8"]]},{"id":"af9aa7e1.98b2c","type":"inject","z":"86a2cb87.41be4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":95,"y":20,"wires":[["5aa819cb.c3771"]]},{"id":"5aa819cb.c3771","type":"api-current-state","z":"86a2cb87.41be4","name":"House Scene","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.house_scene","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":255,"y":20,"wires":[["c42161cb.ecb4f8"]]},{"id":"c42161cb.ecb4f8","type":"switch","z":"86a2cb87.41be4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Going To Bed","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":55,"wires":[["46d881f.4a94f8"]]},{"id":"46d881f.4a94f8","type":"link out","z":"86a2cb87.41be4","name":"","links":["59d0b8db.13986"],"x":530,"y":55,"wires":[]},{"id":"59d0b8db.13986","type":"link in","z":"86a2cb87.41be4","name":"HouseScene - Going To Bed","links":["46d881f.4a94f8"],"x":155,"y":520,"wires":[["857a6e44.04aca8","39bf4048.ae8748","7c5422a2.4f2ab4"]]},{"id":"857a6e44.04aca8","type":"function","z":"86a2cb87.41be4","name":"House Lighting","func":"function default_on(entity_id) {\n\tvar default_on = {}\n\tdefault_on.payload = {}\n\tdefault_on.payload.service = \"turn_on\"\n\tdefault_on.payload.domain = \"light\"\n\tdefault_on.payload.data = {}\n\tdefault_on.payload.data.transition = 5\n\tdefault_on.payload.data.brightness = 150\n\tdefault_on.payload.data.rgb_color = [255,207,120]\n\tdefault_on.payload.data.entity_id = entity_id\n\treturn default_on\n}\n\nfunction default_off(entity_id) {\n\tvar default_off = {}\n\tdefault_off.payload = {}\n\tdefault_off.payload.service = \"turn_off\"\n\tdefault_off.payload.domain = \"light\"\n\tdefault_off.payload.data = {}\n\tdefault_off.payload.data.entity_id = entity_id\n\treturn default_off\n}\n\nfunction default_on_switch(entity_id) {\n\tvar default_on = {}\n\tdefault_on.payload = {}\n\tdefault_on.payload.service = \"turn_on\"\n\tdefault_on.payload.domain = \"switch\"\n\tdefault_on.payload.data = {}\n\tdefault_on.payload.data.entity_id = entity_id\n\treturn default_on\n}\n\nfunction default_off_switch(entity_id) {\n\tvar default_on = {}\n\tdefault_on.payload = {}\n\tdefault_on.payload.service = \"turn_off\"\n\tdefault_on.payload.domain = \"switch\"\n\tdefault_on.payload.data = {}\n\tdefault_on.payload.data.entity_id = entity_id\n\treturn default_on\n}\n\nvar outputs = []\n\noutputs.push(default_on(\"light.ff_bedroom_bedside_kareen\"));\noutputs.push(default_on(\"light.ff_bedroom_bedside_stuart\"));\noutputs.push(default_off(\"light.ff_bedroom_celing\"));\noutputs.push(default_off(\"group.lights_gf_dinning\"));\noutputs.push(default_on(\"light.gf_hallway_celing\"));\noutputs.push(default_off(\"light.gf_dinning_cooker\"));\noutputs.push(default_on(\"light.gf_dinning_dishwahser\"));\noutputs.push(default_off(\"light.gf_dinning_door_way\"));\noutputs.push(default_on(\"light.gf_dinning_sink\"));\noutputs.push(default_on(\"light.ff_landing_celing\"));\noutputs.push(default_on(\"light.gf_living_celing\"));\noutputs.push(default_off(\"light.gf_living_lamp\"));\noutputs.push(default_off(\"group.lights_gf_studio\"));\n\noutputs.push(default_on_switch(\"switch.ff_bedroom_fairylights\"));\noutputs.push(default_off_switch(\"switch.gf_dinning_tv\"));\noutputs.push(default_off_switch(\"switch.gf_living_tv\"));\n\nreturn outputs;","outputs":17,"noerr":0,"x":360,"y":520,"wires":[["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"]]},{"id":"e16d0da6.c81b9","type":"server-state-changed","z":"9e19792f.bad6e8","name":"Family State","server":"b27af49e.d9bd78","entityidfilter":"sensor.family_family_state_raw","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":102,"y":632,"wires":[["af3ae1a2.6ae698","90e903be.b3ebb8"]]},{"id":"bcc665fb.fdbde8","type":"function","z":"f43c2fc4.f37718","name":"Empty","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/study\";\nstate.payload = \"OFF\";\n\nreason.topic = \"iot/room/occupancy/study/reason\";\nreason.payload = \"Empty\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":881,"y":331,"wires":[["a6d83e65.17fea8"],["a6d83e65.17fea8"]]},{"id":"2901ded2.3fe41a","type":"api-current-state","z":"f43c2fc4.f37718","name":"Watts","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.ff_study_monitors_power","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":506,"y":296,"wires":[["6ff0b6d3.f29ec"]]},{"id":"6ff0b6d3.f29ec","type":"switch","z":"f43c2fc4.f37718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"45","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":746,"y":296,"wires":[["ff4613a3.56b618"],["bcc665fb.fdbde8"]]},{"id":"ff4613a3.56b618","type":"function","z":"f43c2fc4.f37718","name":"Monitor Watts","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/study\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/study/reason\";\nreason.payload = \"Monitor In Use\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":911,"y":291,"wires":[["a6d83e65.17fea8"],["a6d83e65.17fea8"]]},{"id":"235450a4.2a6b78","type":"api-call-service","z":"e33ca006.baadb8","name":"","server":"b27af49e.d9bd78","service_domain":"","service":"","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":260,"y":25,"wires":[[]]},{"id":"7de0c9ce.b72d4","type":"function","z":"84850539.36296","name":"Livingroom TV - On","func":"study = {}\nstudy.payload = {}\nstudy.payload.service = \"turn_on\"\nstudy.payload.domain = \"switch\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"switch.gf_living_tv\"\nreturn study;","outputs":1,"noerr":0,"x":155,"y":25,"wires":[["a3bc8223.edf1c8"]]},{"id":"a3bc8223.edf1c8","type":"api-call-service","z":"84850539.36296","name":"","server":"b27af49e.d9bd78","service_domain":"","service":"","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":315,"y":25,"wires":[[]]},{"id":"c44dd14.9cd8c3","type":"subflow:e33ca006.baadb8","z":"9e19792f.bad6e8","name":"","env":[],"x":858,"y":832,"wires":[]},{"id":"6a8d06ed.f4ea9","type":"inject","z":"70e66d25.f95abc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":95,"y":435,"wires":[["229aaa95.ad1d36"]]},{"id":"ebd0e3d1.1ef5d8","type":"function","z":"70e66d25.f95abc","name":"Bedroom Night","func":"study = {}\nstudy.payload = {}\nstudy.payload.service = \"turn_on\"\nstudy.payload.domain = \"light\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"light.ff_bedroom_celing\"\nstudy.payload.data.transition = 5\nstudy.payload.data.rgb_color = [255,207,120]\nstudy.payload.data.brightness = 255\nlanding = {}\nlanding.payload = {}\nlanding.payload.service = \"turn_on\"\nlanding.payload.domain = \"light\"\nlanding.payload.data = {}\nlanding.payload.data.entity_id = \"light.ff_landing_celing\"\nlanding.payload.data.transition = 5\nlanding.payload.data.rgb_color = [255,207,120]\nlanding.payload.data.brightness = 150\nreturn [study,landing];","outputs":2,"noerr":0,"x":700,"y":435,"wires":[["701a9783.0cc998"],["701a9783.0cc998"]]},{"id":"229aaa95.ad1d36","type":"api-current-state","z":"70e66d25.f95abc","name":"House Scene","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.house_scene","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":260,"y":435,"wires":[["a521df5c.7ae7"]]},{"id":"7280fffd.20cc18","type":"api-current-state","z":"70e66d25.f95abc","name":"Room Occupancy","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.room_occupancy_bedroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":485,"wires":[["357dde71.2c8ffa"]]},{"id":"a521df5c.7ae7","type":"switch","z":"70e66d25.f95abc","name":"Occupied","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Occupied","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":455,"y":435,"wires":[["7280fffd.20cc18"]]},{"id":"357dde71.2c8ffa","type":"switch","z":"70e66d25.f95abc","name":"On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":445,"y":485,"wires":[["cb1af460.80d0a"],["258f46dc.35373a"]]},{"id":"4da8aec.30d5ad","type":"switch","z":"70e66d25.f95abc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Night","vt":"str"},{"t":"eq","v":"Sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":445,"y":535,"wires":[["ebd0e3d1.1ef5d8"],["186f8f34.bd97f1"]]},{"id":"97724cb2.d24d98","type":"server-state-changed","z":"70e66d25.f95abc","name":"Bedroom Occ","server":"b27af49e.d9bd78","entityidfilter":"switch.room_occupancy_bedroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":80,"y":470,"wires":[["229aaa95.ad1d36"]]},{"id":"186f8f34.bd97f1","type":"function","z":"70e66d25.f95abc","name":"Bedroom Sunset","func":"study = {}\nstudy.payload = {}\nstudy.payload.service = \"turn_on\"\nstudy.payload.domain = \"light\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"light.ff_bedroom_celing\"\nstudy.payload.data.transition = 5\nstudy.payload.data.rgb_color = [255,207,120]\nstudy.payload.data.brightness = 150\n\nlanding = {}\nlanding.payload = {}\nlanding.payload.service = \"turn_on\"\nlanding.payload.domain = \"light\"\nlanding.payload.data = {}\nlanding.payload.data.entity_id = \"light.ff_landing_celing\"\nlanding.payload.data.transition = 5\nlanding.payload.data.rgb_color = [255,207,120]\nlanding.payload.data.brightness = 150\n\nreturn [study,landing];","outputs":2,"noerr":0,"x":690,"y":475,"wires":[["701a9783.0cc998"],["701a9783.0cc998"]]},{"id":"258f46dc.35373a","type":"link out","z":"70e66d25.f95abc","name":"","links":["249b0e0e.f986f2","70035877.7597"],"x":555,"y":490,"wires":[]},{"id":"b8c56631.d5e36","type":"function","z":"70e66d25.f95abc","name":"Bedroom Off","func":"study = {}\nstudy.payload = {}\nstudy.payload.service = \"turn_off\"\nstudy.payload.domain = \"light\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"group.lights_ff_bedroom\"\nreturn study;","outputs":1,"noerr":0,"x":1305,"y":445,"wires":[["b2be4ac4.5a4678"]]},{"id":"249b0e0e.f986f2","type":"link in","z":"70e66d25.f95abc","name":"light_ff_study_off","links":["e8d2dddc.c3f1b8","258f46dc.35373a","c380ace1.60f81","d959fe06.7f5118"],"x":1195,"y":410,"wires":[["b8c56631.d5e36","645b5c8d.77a19c"]]},{"id":"645b5c8d.77a19c","type":"api-current-state","z":"70e66d25.f95abc","name":"Study Occupancy","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.room_occupancy_study","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1325,"y":410,"wires":[["74320489.703eec"]]},{"id":"74320489.703eec","type":"switch","z":"70e66d25.f95abc","name":"Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1500,"y":410,"wires":[["caf41890.82665"]]},{"id":"b2be4ac4.5a4678","type":"api-call-service","z":"70e66d25.f95abc","name":"","server":"b27af49e.d9bd78","service_domain":"","service":"","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":1665,"y":415,"wires":[[]]},{"id":"e30292da.76dfd8","type":"trigger-state","z":"9e19792f.bad6e8","name":"Stuart's State","server":"b27af49e.d9bd78","entityid":"sensor.family_stuart_state","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"num","x":90,"y":65,"wires":[["93f5fddd.9125e8"],[]]},{"id":"93f5fddd.9125e8","type":"function","z":"9e19792f.bad6e8","name":"","func":"var input_payload = msg;\nmsg.payload = {};\nmsg.payload.usr = {};\nmsg.payload.usr.new = input_payload.data.event.new_state.state\nmsg.payload.usr.old = input_payload.data.event.old_state.state\nreturn msg;","outputs":1,"noerr":0,"x":245,"y":60,"wires":[["3fba054f.c48d52"]]},{"id":"3fba054f.c48d52","type":"api-current-state","z":"9e19792f.bad6e8","name":"Kareen's State","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_kareen_state","state_type":"str","state_location":"","override_payload":"none","entity_location":"kareen","override_data":"msg","x":390,"y":60,"wires":[["53b79710.7ad408"]]},{"id":"bc02a3cc.d7ba28","type":"function","z":"9e19792f.bad6e8","name":"","func":"var input_payload = msg;\nmsg.stuart = parseInt(input_payload.stuart.state);\nmsg.kareen = parseInt(input_payload.data.event.new_state.state);\nmsg.data = {};\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":110,"wires":[["242abc97.0bb4bc"]]},{"id":"242abc97.0bb4bc","type":"function","z":"9e19792f.bad6e8","name":"Calc Home State 2019","func":"var stuart_value = msg.stuart\nvar kareen_value = msg.kareen\nvar family_value = msg.family\n\nraw = {};\nhuman = {};\n\nraw.topic = \"tracker/family/state/raw\";\nhuman.topic = \"tracker/family/state\";\n\nif (stuart_value === 0 && kareen_value === 0 && family_value !== \"home\") {\n    human.payload = \"No Ones Home - Security Watch\"\n    raw.payload = \"1\"\n    return [human,raw]\n} else if (stuart_value === 0 && kareen_value === 0 && family_value === \"home\") {\n    human.payload = \"Everyone Says Their Out\"\n    raw.payload = \"3\"\n    return [human,raw]\n} else if (stuart_value < 7 && kareen_value === 7) {\n    human.payload = \"Kareen's Home\"\n    raw.payload = \"4\"\n    return [human,raw]\n} else if (stuart_value === 7 && kareen_value < 7) {\n    human.payload = \"Stuart's Home\"\n    raw.payload = \"5\"\n    return [human,raw]\n} else if (stuart_value === 7 && kareen_value === 7) {\n    human.payload = \"We're Both Home\"\n    raw.payload = \"6\"\n    return [human,raw]\n} else if (stuart_value < 9 && kareen_value === 9) {\n    human.payload = \"Kareens's Asleep\"\n    raw.payload = \"7\"\n    return [human,raw]\n} else if (stuart_value === 9 && kareen_value < 9) {\n    human.payload = \"Stuart's Asleep\"\n    raw.payload = \"8\"\n    return [human,raw]\n} else if (stuart_value >= 9 && kareen_value >= 9) {\n    human.payload = \"We're Both Asleep\"\n    raw.payload = \"9\"\n    return [human,raw]\n}\n","outputs":2,"noerr":0,"x":900,"y":85,"wires":[["e07595b1.25ff4","268ee7e.1132998"],["e07595b1.25ff4"]]},{"id":"7f1fa611.038978","type":"trigger-state","z":"9e19792f.bad6e8","name":"Kareen's State","server":"b27af49e.d9bd78","entityid":"sensor.family_kareen_state","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"num","x":90,"y":110,"wires":[["e868950.33e8d68"],[]]},{"id":"e868950.33e8d68","type":"function","z":"9e19792f.bad6e8","name":"","func":"var input_payload = msg;\nmsg.payload = {};\nmsg.payload.usr = {};\nmsg.payload.usr.new = input_payload.data.event.new_state.state\nmsg.payload.usr.old = input_payload.data.event.old_state.state\nreturn msg;","outputs":1,"noerr":0,"x":245,"y":110,"wires":[["89324f5e.f5de68"]]},{"id":"89324f5e.f5de68","type":"api-current-state","z":"9e19792f.bad6e8","name":"Stuart's State","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_stuart_state","state_type":"str","state_location":"","override_payload":"none","entity_location":"stuart","override_data":"msg","x":390,"y":110,"wires":[["4d59300c.43a7b"]]},{"id":"e07595b1.25ff4","type":"mqtt out","z":"9e19792f.bad6e8","name":"","topic":"","qos":"","retain":"true","broker":"f8fa9894.75c16","x":1090,"y":85,"wires":[]},{"id":"2786ce27.b146c2","type":"function","z":"9e19792f.bad6e8","name":"","func":"var input_payload = msg;\nmsg.kareen = parseInt(input_payload.kareen.state);\nmsg.stuart = parseInt(input_payload.data.event.new_state.state);\nmsg.data = {};\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":60,"wires":[["242abc97.0bb4bc"]]},{"id":"83b6de27.110748","type":"http in","z":"f743ff89.b49248","name":"","url":"dash/out/stuart","method":"get","upload":false,"swaggerDoc":"","x":105,"y":245,"wires":[["c234c848.4bd988","32864d00.2c4b54"]]},{"id":"32864d00.2c4b54","type":"http response","z":"f743ff89.b49248","name":"","statusCode":"","headers":{},"x":330,"y":245,"wires":[]},{"id":"c234c848.4bd988","type":"debug","z":"f743ff89.b49248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":465,"y":245,"wires":[]},{"id":"dea1296.39dacd8","type":"http in","z":"f743ff89.b49248","name":"","url":"dash/sleep/kareen","method":"get","upload":false,"swaggerDoc":"","x":115,"y":20,"wires":[["9d85a601.b5e66","e67f9221.f48ae8"]]},{"id":"e67f9221.f48ae8","type":"http response","z":"f743ff89.b49248","name":"","statusCode":"","headers":{},"x":335,"y":20,"wires":[]},{"id":"9d85a601.b5e66","type":"debug","z":"f743ff89.b49248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":465,"y":20,"wires":[]},{"id":"a697dcbc.432ff","type":"http in","z":"f743ff89.b49248","name":"","url":"dash/out/kareen","method":"get","upload":false,"swaggerDoc":"","x":105,"y":170,"wires":[["12e918c3.3ef797","64ef9fa.3292ce"]]},{"id":"64ef9fa.3292ce","type":"http response","z":"f743ff89.b49248","name":"","statusCode":"","headers":{},"x":335,"y":170,"wires":[]},{"id":"12e918c3.3ef797","type":"debug","z":"f743ff89.b49248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":465,"y":170,"wires":[]},{"id":"9349e3c.a1fb92","type":"http in","z":"f743ff89.b49248","name":"","url":"dash/chore/littlechange","method":"get","upload":false,"swaggerDoc":"","x":125,"y":320,"wires":[["25bb71a1.6aabce","93a6e17a.b57df8"]]},{"id":"93a6e17a.b57df8","type":"http response","z":"f743ff89.b49248","name":"","statusCode":"","headers":{},"x":330,"y":320,"wires":[]},{"id":"25bb71a1.6aabce","type":"debug","z":"f743ff89.b49248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":465,"y":320,"wires":[]},{"id":"4d59300c.43a7b","type":"api-current-state","z":"9e19792f.bad6e8","name":"Family Group","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.people_family","state_type":"str","state_location":"family","override_payload":"msg","entity_location":"","override_data":"none","x":565,"y":110,"wires":[["bc02a3cc.d7ba28"]]},{"id":"53b79710.7ad408","type":"api-current-state","z":"9e19792f.bad6e8","name":"Family Group","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.people_family","state_type":"str","state_location":"family","override_payload":"msg","entity_location":"","override_data":"none","x":565,"y":60,"wires":[["2786ce27.b146c2"]]},{"id":"fef7a567.d4c3f","type":"function","z":"70e66d25.f95abc","name":"Asleep (Kareen)","func":"var outputs = []\n\n// Bedroom Main Light\nstudy = {}\nstudy.payload = {}\nstudy.payload.service = \"turn_off\"\nstudy.payload.domain = \"light\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"light.ff_bedroom_celing\"\noutputs.push(study);\n\n// Bedroom Main Light\nstudy = {}\nstudy.payload = {}\nstudy.payload.service = \"turn_off\"\nstudy.payload.domain = \"light\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"light.ff_bedroom_bedside_kareen\"\noutputs.push(study);\n\n// Stuart's Bedside\nstudy = {}\nstudy.payload = {}\nstudy.payload.service = \"turn_on\"\nstudy.payload.domain = \"light\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"light.ff_bedroom_bedside_stuart\"\nstudy.payload.data.transition = 5\nstudy.payload.data.rgb_color = [255,207,120]\nstudy.payload.data.brightness = 10\noutputs.push(study);\n\nlanding = {}\nlanding.payload = {}\nlanding.payload.service = \"turn_on\"\nlanding.payload.domain = \"light\"\nlanding.payload.data = {}\nlanding.payload.data.entity_id = \"light.ff_landing_celing\"\nlanding.payload.data.transition = 5\nlanding.payload.data.rgb_color = [255,207,120]\nlanding.payload.data.brightness = 50\noutputs.push(landing);\n\nreturn outputs;","outputs":4,"noerr":0,"x":260,"y":70,"wires":[["98286a3d.139a3"],["98286a3d.139a3"],["98286a3d.139a3"],["98286a3d.139a3"]]},{"id":"22d02220.c67256","type":"function","z":"70e66d25.f95abc","name":"Asleep (Stuart)","func":"var outputs = []\n\n// Bedroom Main Light\nstudy = {}\nstudy.payload = {}\nstudy.payload.service = \"turn_off\"\nstudy.payload.domain = \"light\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"light.ff_bedroom_celing\"\noutputs.push(study);\n\n// Bedroom Main Light\nstudy = {}\nstudy.payload = {}\nstudy.payload.service = \"turn_off\"\nstudy.payload.domain = \"light\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"light.ff_bedroom_bedside_stuart\"\noutputs.push(study);\n\n// Kareen's Bedside\nstudy = {}\nstudy.payload = {}\nstudy.payload.service = \"turn_on\"\nstudy.payload.domain = \"light\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"light.ff_bedroom_bedside_kareen\"\nstudy.payload.data.transition = 5\nstudy.payload.data.rgb_color = [255,207,120]\nstudy.payload.data.brightness = 10\noutputs.push(study);\n\nlanding = {}\nlanding.payload = {}\nlanding.payload.service = \"turn_on\"\nlanding.payload.domain = \"light\"\nlanding.payload.data = {}\nlanding.payload.data.entity_id = \"light.ff_landing_celing\"\nlanding.payload.data.transition = 5\nlanding.payload.data.rgb_color = [255,207,120]\nlanding.payload.data.brightness = 50\noutputs.push(landing);\n\nreturn outputs;","outputs":4,"noerr":0,"x":250,"y":135,"wires":[["98286a3d.139a3"],["98286a3d.139a3"],["98286a3d.139a3"],["98286a3d.139a3"]]},{"id":"98286a3d.139a3","type":"api-call-service","z":"70e66d25.f95abc","name":"","server":"b27af49e.d9bd78","service_domain":"","service":"","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":470,"y":110,"wires":[[]]},{"id":"65e26b3e.a253fc","type":"function","z":"9e19792f.bad6e8","name":"Livingroom TV - On","func":"study = {}\nstudy.payload = {}\nstudy.payload.service = \"turn_on\"\nstudy.payload.domain = \"switch\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"switch.gf_living_tv\"\nreturn study;","outputs":1,"noerr":0,"x":866,"y":592,"wires":[["66bc216e.b703f8"]]},{"id":"66bc216e.b703f8","type":"api-call-service","z":"9e19792f.bad6e8","name":"","server":"b27af49e.d9bd78","service_domain":"","service":"","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":1026,"y":592,"wires":[[]]},{"id":"24efd7ae.e08f58","type":"link in","z":"70e66d25.f95abc","name":"React Lighting - Kareen Asleep","links":["8755eea0.548908"],"x":135,"y":70,"wires":[["fef7a567.d4c3f"]]},{"id":"5b74237c.37684c","type":"link in","z":"70e66d25.f95abc","name":"React Lighting - Stuart Asleep","links":["ec38b034.e9993"],"x":135,"y":135,"wires":[["22d02220.c67256"]]},{"id":"8928aec3.8b0ca","type":"link in","z":"b34303b6.e141a8","name":"React Power - Kareen Asleep","links":["8755eea0.548908"],"x":130,"y":65,"wires":[["49a03cbd.5e589c"]]},{"id":"706d0a32.7dea2c","type":"link in","z":"b34303b6.e141a8","name":"React Power - Stuart Asleep","links":["ec38b034.e9993"],"x":130,"y":105,"wires":[["49a03cbd.5e589c"]]},{"id":"49a03cbd.5e589c","type":"function","z":"b34303b6.e141a8","name":"Someone is Asleep","func":"var outputs = []\n\n// Bedroom TV\nstudy = {}\nstudy.payload = {}\nstudy.payload.service = \"turn_off\"\nstudy.payload.domain = \"switch\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"switch.ff_bedroom_tv\"\noutputs.push(study);\n\n// Bedroom Fairy Lights\nstudy = {}\nstudy.payload = {}\nstudy.payload.service = \"turn_off\"\nstudy.payload.domain = \"switch\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"switch.ff_bedroom_fairylights\"\noutputs.push(study);\n\nreturn outputs;","outputs":2,"noerr":0,"x":265,"y":85,"wires":[["4b88dc43.0923b4"],["f198db36.5c30b"]]},{"id":"f198db36.5c30b","type":"api-call-service","z":"b34303b6.e141a8","name":"","server":"b27af49e.d9bd78","service_domain":"","service":"","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":610,"y":90,"wires":[[]]},{"id":"8755eea0.548908","type":"link out","z":"9e19792f.bad6e8","name":"Kareen Asleep","links":["24efd7ae.e08f58","8928aec3.8b0ca"],"x":1055,"y":688,"wires":[]},{"id":"ec38b034.e9993","type":"link out","z":"9e19792f.bad6e8","name":"Stuart Asleep","links":["706d0a32.7dea2c","5b74237c.37684c"],"x":1423,"y":688,"wires":[]},{"id":"542a9d7d.d85c94","type":"comment","z":"70e66d25.f95abc","name":"React to Family State Changes","info":"","x":240,"y":20,"wires":[]},{"id":"50076516.41c5ac","type":"comment","z":"b34303b6.e141a8","name":"React to Family State Changes","info":"","x":245,"y":30,"wires":[]},{"id":"3d410303.37b14c","type":"function","z":"6b5456e0.047d7","name":"Both's Asleep","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/bedroom\";\nstate.payload = \"ON\";\n\nreason.topic = state.topic + \"/reason\";\nreason.payload = \"Both Asleep\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":913,"y":67,"wires":[["1626ae0a.0d531a"],["1626ae0a.0d531a"]]},{"id":"6856bfc3.7867e8","type":"inject","z":"db2d12c6.e8984","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":32,"wires":[["60c49b98.23d224"]]},{"id":"abb5f16d.807eb","type":"mqtt out","z":"db2d12c6.e8984","name":"","topic":"","qos":"","retain":"true","broker":"f8fa9894.75c16","x":1218,"y":96,"wires":[]},{"id":"a5cb2a48.866c58","type":"api-current-state","z":"db2d12c6.e8984","name":"Motion","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.motion_gf_dinning","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":523,"y":241,"wires":[["8e55ce4a.d28f88"]]},{"id":"8e55ce4a.d28f88","type":"switch","z":"db2d12c6.e8984","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":753,"y":241,"wires":[["f352210.c9c5c6"],["944772ea.9ebcc"]]},{"id":"f352210.c9c5c6","type":"function","z":"db2d12c6.e8984","name":"Motion was Detected","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/kitchen\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/kitchen/reason\";\nreason.payload = \"Motion was Detected\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":933,"y":241,"wires":[["abb5f16d.807eb"],["abb5f16d.807eb"]]},{"id":"2882e596.4a8992","type":"server-state-changed","z":"db2d12c6.e8984","name":"Check Triggers","server":"b27af49e.d9bd78","entityidfilter":"sensor.family_family_state_raw|binary_sensor.motion_gf_dinning|sensor.alexa_gf_dinning|media_player.kitchen_fire_tv_stick","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":95,"y":65,"wires":[["1456ff6d.fad4f9"]]},{"id":"60c49b98.23d224","type":"api-current-state","z":"db2d12c6.e8984","name":"Someone Home","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_family_state_raw","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":553,"y":31,"wires":[["41e5fe54.efced8"]]},{"id":"41e5fe54.efced8","type":"switch","z":"db2d12c6.e8984","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"4","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":753,"y":31,"wires":[["ab74d437.e06d4"],["4f53ada7.c3d71c"],["a82393f3.3e8b4"]]},{"id":"ab74d437.e06d4","type":"function","z":"db2d12c6.e8984","name":"No One Home","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/kitchen\";\nstate.payload = \"OFF\";\n\nreason.topic = \"iot/room/occupancy/kitchen/reason\";\nreason.payload = \"No One Home\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":913,"y":26,"wires":[["abb5f16d.807eb"],["abb5f16d.807eb"]]},{"id":"944772ea.9ebcc","type":"function","z":"db2d12c6.e8984","name":"Empty","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/kitchen\";\nstate.payload = \"OFF\";\n\nreason.topic = \"iot/room/occupancy/kitchen/reason\";\nreason.payload = \"Empty\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":882,"y":280,"wires":[["abb5f16d.807eb"],["abb5f16d.807eb"]]},{"id":"3082ab5.c849fd4","type":"api-current-state","z":"db2d12c6.e8984","name":"Alexa Status","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.kitchen","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":543,"y":196,"wires":[["2c50bdb.e345cc2"]]},{"id":"2c50bdb.e345cc2","type":"switch","z":"db2d12c6.e8984","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"PLAY","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":753,"y":196,"wires":[["b813407c.51c818"],["a5cb2a48.866c58"]]},{"id":"b813407c.51c818","type":"function","z":"db2d12c6.e8984","name":"Alexa Playing","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/kitchen\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/kitchen/reason\";\nreason.payload = \"Alexa Playing\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":913,"y":196,"wires":[["abb5f16d.807eb"],["abb5f16d.807eb"]]},{"id":"d61ae8fe.4b9048","type":"inject","z":"ea135125.978e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":95,"y":30,"wires":[["6f8b109b.a16a68"]]},{"id":"51956de4.37dadc","type":"mqtt out","z":"ea135125.978e8","name":"","topic":"","qos":"","retain":"true","broker":"f8fa9894.75c16","x":1186,"y":104,"wires":[]},{"id":"f5de4ee4.e5ab8","type":"api-current-state","z":"ea135125.978e8","name":"Motion","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.motion_gf_living","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":484,"y":192,"wires":[["914a2b1c.6c6df"]]},{"id":"914a2b1c.6c6df","type":"switch","z":"ea135125.978e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":714,"y":192,"wires":[["1e2174eb.6b7fc3"],["b9b7c0f.da2274"]]},{"id":"1e2174eb.6b7fc3","type":"function","z":"ea135125.978e8","name":"Motion was Detected","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/livingroom\";\nstate.payload = \"ON\";\n\nreason.topic = state.topic + \"/reason\";\nreason.payload = \"Motion was Detected\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":894,"y":192,"wires":[["51956de4.37dadc"],["51956de4.37dadc"]]},{"id":"fcfc7c3d.bab4d8","type":"server-state-changed","z":"ea135125.978e8","name":"Check Triggers","server":"b27af49e.d9bd78","entityidfilter":"sensor.family_family_state_raw|media_player.livingroom_fire_tv_stick|media_player.living_room|binary_sensor.motion_gf_living|binary_sensor.gf_living_sensor_sensor|sensor.gf_living_tv_power","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":95,"y":70,"wires":[["6b2dbce1.ffa46c"]]},{"id":"6f8b109b.a16a68","type":"api-current-state","z":"ea135125.978e8","name":"Someone Home","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_family_state_raw","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":519,"y":32,"wires":[["570d34dd.d3312c"]]},{"id":"570d34dd.d3312c","type":"switch","z":"ea135125.978e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"4","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":719,"y":32,"wires":[["ae11e8fa.a37d9"],["883dc24d.757e6"],["f5de4ee4.e5ab8"]]},{"id":"ae11e8fa.a37d9","type":"function","z":"ea135125.978e8","name":"No One Home","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/livingroom\";\nstate.payload = \"OFF\";\n\nreason.topic = \"iot/room/occupancy/livingroom/reason\";\nreason.payload = \"No One Home\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":879,"y":32,"wires":[["51956de4.37dadc"],["51956de4.37dadc"]]},{"id":"c6722eba.e6232","type":"function","z":"ea135125.978e8","name":"Empty","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/livingroom\";\nstate.payload = \"OFF\";\n\nreason.topic = \"iot/room/occupancy/livingroom/reason\";\nreason.payload = \"Empty\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":889,"y":327,"wires":[["51956de4.37dadc"],["51956de4.37dadc"]]},{"id":"98701f28.70735","type":"api-current-state","z":"ea135125.978e8","name":"Alexa Status","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.living_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":504,"y":147,"wires":[["b2940e65.77a66"]]},{"id":"b2940e65.77a66","type":"switch","z":"ea135125.978e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"PLAY","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":714,"y":147,"wires":[["a0135a7c.95d5d8"],[]]},{"id":"a0135a7c.95d5d8","type":"function","z":"ea135125.978e8","name":"Alexa Playing","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/livingroom\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/livingroom/reason\";\nreason.payload = \"Alexa Playing\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":874,"y":147,"wires":[["51956de4.37dadc"],["51956de4.37dadc"]]},{"id":"bb051031.ec2708","type":"inject","z":"b66bb36b.d91f98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":30,"wires":[["a2b98af0.3cd138"]]},{"id":"6804a9cd.6e82c","type":"api-current-state","z":"b66bb36b.d91f98","name":"Study Occ","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.room_occupancy_study","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":200,"wires":[["c4466eea.15101"]]},{"id":"c4466eea.15101","type":"switch","z":"b66bb36b.d91f98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":480,"y":200,"wires":[["742b3547.e52bb4"],["2b0c307d.45426"]]},{"id":"742b3547.e52bb4","type":"function","z":"b66bb36b.d91f98","name":"Study's Occupied","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/landing\";\nstate.payload = \"ON\";\n\nreason.topic = state.topic + \"/reason\";\nreason.payload = \"Study's Occupied\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":695,"y":200,"wires":[["3addfddd.d82f52"],["3addfddd.d82f52"]]},{"id":"3addfddd.d82f52","type":"mqtt out","z":"b66bb36b.d91f98","name":"","topic":"","qos":"","retain":"true","broker":"f8fa9894.75c16","x":1060,"y":220,"wires":[]},{"id":"710ccd8e.9fefc4","type":"function","z":"b66bb36b.d91f98","name":"Empty","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/landing\";\nstate.payload = \"OFF\";\n\nreason.topic = state.topic + \"/reason\";\nreason.payload = \"Empty\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":655,"y":295,"wires":[["3addfddd.d82f52"],["3addfddd.d82f52"]]},{"id":"2b0c307d.45426","type":"api-current-state","z":"b66bb36b.d91f98","name":"Motion","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.motion_ff_landing","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":280,"y":245,"wires":[["11f2aae.6dd36d5"]]},{"id":"11f2aae.6dd36d5","type":"switch","z":"b66bb36b.d91f98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":480,"y":245,"wires":[["9a791527.5fc368"],["710ccd8e.9fefc4"]]},{"id":"9a791527.5fc368","type":"function","z":"b66bb36b.d91f98","name":"Motion was Detected","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/landing\";\nstate.payload = \"ON\";\n\nreason.topic = state.topic + \"/reason\";\nreason.payload = \"Motion was Detected\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":705,"y":245,"wires":[["3addfddd.d82f52"],["3addfddd.d82f52"]]},{"id":"ef6ba51a.ccd45","type":"server-state-changed","z":"b66bb36b.d91f98","name":"Check Triggers","server":"b27af49e.d9bd78","entityidfilter":"sensor.family_family_state_raw|switch.room_occupancy_bedroom|switch.room_occupancy_study|binary_sensor.motion_ff_landing","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":85,"y":70,"wires":[["a2b98af0.3cd138"]]},{"id":"a2b98af0.3cd138","type":"api-current-state","z":"b66bb36b.d91f98","name":"Someone Home","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_family_state_raw","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":30,"wires":[["40ff9d40.57a52c"]]},{"id":"40ff9d40.57a52c","type":"switch","z":"b66bb36b.d91f98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"4","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":480,"y":30,"wires":[["24106f9d.acabc"],["61c65b57.c07bcc"],["4d40831.33fd3fc"]]},{"id":"24106f9d.acabc","type":"function","z":"b66bb36b.d91f98","name":"No One Home","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/landing\";\nstate.payload = \"OFF\";\n\nreason.topic = state.topic + \"/reason\";\nreason.payload = \"No One Home\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":685,"y":30,"wires":[["3addfddd.d82f52"],["3addfddd.d82f52"]]},{"id":"4d40831.33fd3fc","type":"api-current-state","z":"b66bb36b.d91f98","name":"Bedroom Occ","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.room_occupancy_bedroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":300,"y":155,"wires":[["fc36881.ba6edf8"]]},{"id":"fc36881.ba6edf8","type":"switch","z":"b66bb36b.d91f98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":480,"y":155,"wires":[["d3599d14.a14a7"],["6804a9cd.6e82c"]]},{"id":"d3599d14.a14a7","type":"function","z":"b66bb36b.d91f98","name":"Bedroom's Occupied","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/landing\";\nstate.payload = \"ON\";\n\nreason.topic = state.topic + \"/reason\";\nreason.payload = \"Bedroom's Occupied\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":705,"y":155,"wires":[["3addfddd.d82f52"],["3addfddd.d82f52"]]},{"id":"5a137c0.8ef4f04","type":"inject","z":"17a692e7.2bcf1d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":95,"y":20,"wires":[["543adab7.cc37a4"]]},{"id":"be1bdc90.3f9fc","type":"api-current-state","z":"17a692e7.2bcf1d","name":"Kitchen Occ","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.room_occupancy_kitchen","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":295,"y":135,"wires":[["da529681.e1b4c"]]},{"id":"da529681.e1b4c","type":"switch","z":"17a692e7.2bcf1d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":485,"y":135,"wires":[["a3595025.dcb748"],["f4505366.4ef498"]]},{"id":"a3595025.dcb748","type":"function","z":"17a692e7.2bcf1d","name":"Kitchen's Occupied","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/hallway\";\nstate.payload = \"ON\";\n\nreason.topic = state.topic + \"/reason\";\nreason.payload = \"Kitchen's Occupied\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":710,"y":135,"wires":[["88da48dc.85336"],["88da48dc.85336"]]},{"id":"88da48dc.85336","type":"mqtt out","z":"17a692e7.2bcf1d","name":"","topic":"","qos":"","retain":"true","broker":"f8fa9894.75c16","x":1050,"y":105,"wires":[]},{"id":"f4505366.4ef498","type":"function","z":"17a692e7.2bcf1d","name":"Empty","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/hallway\";\nstate.payload = \"OFF\";\n\nreason.topic = state.topic + \"/reason\";\nreason.payload = \"Empty\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":660,"y":180,"wires":[["88da48dc.85336"],["88da48dc.85336"]]},{"id":"fe799111.b8b1b","type":"server-state-changed","z":"17a692e7.2bcf1d","name":"Check Triggers","server":"b27af49e.d9bd78","entityidfilter":"sensor.family_family_state_raw|switch.room_occupancy_livingroom|switch.room_occupancy_kitchen","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":60,"wires":[["543adab7.cc37a4"]]},{"id":"543adab7.cc37a4","type":"api-current-state","z":"17a692e7.2bcf1d","name":"Someone Home","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_family_state_raw","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":315,"y":20,"wires":[["df4a508f.6b1ed8"]]},{"id":"df4a508f.6b1ed8","type":"switch","z":"17a692e7.2bcf1d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"4","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":485,"y":25,"wires":[["edc82c23.058f28"],["82f834.62b627d"],["45a19bcd.6ad284"]]},{"id":"edc82c23.058f28","type":"function","z":"17a692e7.2bcf1d","name":"No One Home","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/hallway\";\nstate.payload = \"OFF\";\n\nreason.topic = state.topic + \"/reason\";\nreason.payload = \"No One Home\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":690,"y":20,"wires":[["88da48dc.85336"],["88da48dc.85336"]]},{"id":"45a19bcd.6ad284","type":"api-current-state","z":"17a692e7.2bcf1d","name":"Livingroom Occ","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.room_occupancy_livingroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":305,"y":90,"wires":[["62688f45.d77c7"]]},{"id":"62688f45.d77c7","type":"switch","z":"17a692e7.2bcf1d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":485,"y":90,"wires":[["839b579e.4535c"],["be1bdc90.3f9fc"]]},{"id":"839b579e.4535c","type":"function","z":"17a692e7.2bcf1d","name":"Livingroom's Occupied","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/hallway\";\nstate.payload = \"ON\";\n\nreason.topic = state.topic + \"/reason\";\nreason.payload = \"Livingroom's Occupied\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":720,"y":90,"wires":[["88da48dc.85336"],["88da48dc.85336"]]},{"id":"82f62d88.3ca85","type":"function","z":"f43c2fc4.f37718","name":"Both's Asleep","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/study\";\nstate.payload = \"OFF\";\n\nreason.topic = state.topic + \"/reason\";\nreason.payload = \"Both Asleep\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":906,"y":56,"wires":[["a6d83e65.17fea8"],["a6d83e65.17fea8"]]},{"id":"4f53ada7.c3d71c","type":"function","z":"db2d12c6.e8984","name":"Both's Asleep","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/kitchen\";\nstate.payload = \"OFF\";\n\nreason.topic = state.topic + \"/reason\";\nreason.payload = \"Both Asleep\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":913,"y":61,"wires":[["abb5f16d.807eb"],["abb5f16d.807eb"]]},{"id":"883dc24d.757e6","type":"function","z":"ea135125.978e8","name":"Both's Asleep","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/livingroom\";\nstate.payload = \"OFF\";\n\nreason.topic = state.topic + \"/reason\";\nreason.payload = \"Both Asleep\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":879,"y":67,"wires":[["51956de4.37dadc"],["51956de4.37dadc"]]},{"id":"61c65b57.c07bcc","type":"function","z":"b66bb36b.d91f98","name":"Both's Asleep","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/landing\";\nstate.payload = \"OFF\";\n\nreason.topic = state.topic + \"/reason\";\nreason.payload = \"Both Asleep\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":685,"y":65,"wires":[["3addfddd.d82f52"],["3addfddd.d82f52"]]},{"id":"82f834.62b627d","type":"function","z":"17a692e7.2bcf1d","name":"Both's Asleep","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/hallway\";\nstate.payload = \"OFF\";\n\nreason.topic = state.topic + \"/reason\";\nreason.payload = \"Both Asleep\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":690,"y":55,"wires":[["88da48dc.85336"],["88da48dc.85336"]]},{"id":"ea2c905e.ed7b48","type":"comment","z":"70e66d25.f95abc","name":"React to Study Lights","info":"","x":110,"y":190,"wires":[]},{"id":"d1dd4c7d.53d68","type":"comment","z":"70e66d25.f95abc","name":"React to Bedroom Lights","info":"","x":120,"y":395,"wires":[]},{"id":"9b90d3de.6f4b7","type":"inject","z":"70e66d25.f95abc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":645,"wires":[["eaf91452.1bd228"]]},{"id":"fd212123.170738","type":"function","z":"70e66d25.f95abc","name":"Kitchen Night","func":"study = {}\nstudy.payload = {}\nstudy.payload.service = \"turn_on\"\nstudy.payload.domain = \"light\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"group.lights_gf_dinning\"\nstudy.payload.data.transition = 5\nstudy.payload.data.rgb_color = [255,207,120]\nstudy.payload.data.brightness = 255\nlanding = {}\nlanding.payload = {}\nlanding.payload.service = \"turn_on\"\nlanding.payload.domain = \"light\"\nlanding.payload.data = {}\nlanding.payload.data.entity_id = \"light.gf_hallway_celing\"\nlanding.payload.data.transition = 5\nlanding.payload.data.rgb_color = [255,207,120]\nlanding.payload.data.brightness = 150\nreturn [study,landing];","outputs":2,"noerr":0,"x":700,"y":645,"wires":[["cf07a6b4.718a4"],["cf07a6b4.718a4"]]},{"id":"eaf91452.1bd228","type":"api-current-state","z":"70e66d25.f95abc","name":"House Scene","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.house_scene","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":255,"y":645,"wires":[["ef4503d7.1d348"]]},{"id":"b427fa6e.480f88","type":"api-current-state","z":"70e66d25.f95abc","name":"Room Occupancy","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.room_occupancy_kitchen","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":285,"y":695,"wires":[["5aa2e8a.c864498"]]},{"id":"ef4503d7.1d348","type":"switch","z":"70e66d25.f95abc","name":"Occupied","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Occupied","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":645,"wires":[["b427fa6e.480f88"]]},{"id":"5aa2e8a.c864498","type":"switch","z":"70e66d25.f95abc","name":"On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":440,"y":695,"wires":[["726cee37.c925b"],["217dfde8.f56e12"]]},{"id":"234bbdde.832572","type":"switch","z":"70e66d25.f95abc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Night","vt":"str"},{"t":"eq","v":"Sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":745,"wires":[["fd212123.170738"],["4c96bfde.cc041"]]},{"id":"5aafbbe5.0fadec","type":"server-state-changed","z":"70e66d25.f95abc","name":"Kitchen Occ","server":"b27af49e.d9bd78","entityidfilter":"switch.room_occupancy_kitchen","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":75,"y":680,"wires":[["eaf91452.1bd228"]]},{"id":"4c96bfde.cc041","type":"function","z":"70e66d25.f95abc","name":"Kitchen Sunset","func":"study = {}\nstudy.payload = {}\nstudy.payload.service = \"turn_on\"\nstudy.payload.domain = \"light\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"group.lights_gf_dinning\"\nstudy.payload.data.transition = 5\nstudy.payload.data.rgb_color = [255,207,120]\nstudy.payload.data.brightness = 150\nlanding = {}\nlanding.payload = {}\nlanding.payload.service = \"turn_on\"\nlanding.payload.domain = \"light\"\nlanding.payload.data = {}\nlanding.payload.data.entity_id = \"light.gf_hallway_celing\"\nlanding.payload.data.transition = 5\nlanding.payload.data.rgb_color = [255,207,120]\nlanding.payload.data.brightness = 150\nreturn [study,landing];","outputs":2,"noerr":0,"x":700,"y":685,"wires":[["cf07a6b4.718a4"],["cf07a6b4.718a4"]]},{"id":"a85c5733.2d756","type":"comment","z":"70e66d25.f95abc","name":"React to Kitchen Lights","info":"","x":115,"y":605,"wires":[]},{"id":"9bd88afd.16ae7","type":"inject","z":"70e66d25.f95abc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":840,"wires":[["e15ba101.87f768"]]},{"id":"9e8167fe.6854c8","type":"function","z":"70e66d25.f95abc","name":"Livingroom Night","func":"study = {}\nstudy.payload = {}\nstudy.payload.service = \"turn_on\"\nstudy.payload.domain = \"light\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"light.gf_living_celing\"\nstudy.payload.data.transition = 5\nstudy.payload.data.rgb_color = [255,207,120]\nstudy.payload.data.brightness = 150\nlamp = {}\nlamp.payload = {}\nlamp.payload.service = \"turn_on\"\nlamp.payload.domain = \"light\"\nlamp.payload.data = {}\nlamp.payload.data.entity_id = \"light.gf_living_lamp\"\nlamp.payload.data.transition = 5\nlamp.payload.data.rgb_color = [255,207,120]\nlamp.payload.data.brightness = 150\nlanding = {}\nlanding.payload = {}\nlanding.payload.service = \"turn_on\"\nlanding.payload.domain = \"light\"\nlanding.payload.data = {}\nlanding.payload.data.entity_id = \"light.gf_hallway_celing\"\nlanding.payload.data.transition = 5\nlanding.payload.data.rgb_color = [255,207,120]\nlanding.payload.data.brightness = 150\nreturn [study,lamp,landing];","outputs":3,"noerr":0,"x":690,"y":840,"wires":[["9ba14e91.dff1b8"],["9ba14e91.dff1b8"],["9ba14e91.dff1b8"]]},{"id":"e15ba101.87f768","type":"api-current-state","z":"70e66d25.f95abc","name":"House Scene","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.house_scene","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":840,"wires":[["b55ea06d.958e3"]]},{"id":"18971722.352741","type":"api-current-state","z":"70e66d25.f95abc","name":"Room Occupancy","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.room_occupancy_livingroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":890,"wires":[["2c7e26de.0af08a"]]},{"id":"b55ea06d.958e3","type":"switch","z":"70e66d25.f95abc","name":"Occupied","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Occupied","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":485,"y":840,"wires":[["18971722.352741"]]},{"id":"2c7e26de.0af08a","type":"switch","z":"70e66d25.f95abc","name":"On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":475,"y":890,"wires":[["45424dd4.c8a3d4"],["69cb12ec.d1240c"]]},{"id":"3c658d67.9c9362","type":"switch","z":"70e66d25.f95abc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Night","vt":"str"},{"t":"eq","v":"Sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":475,"y":940,"wires":[["9e8167fe.6854c8"],["309b4013.113b9"]]},{"id":"9df1bed3.d88188","type":"server-state-changed","z":"70e66d25.f95abc","name":"Livingroom Occ","server":"b27af49e.d9bd78","entityidfilter":"switch.room_occupancy_livingroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":85,"y":875,"wires":[["e15ba101.87f768"]]},{"id":"309b4013.113b9","type":"function","z":"70e66d25.f95abc","name":"Livingroom Sunset","func":"lamp = {}\nlamp.payload = {}\nlamp.payload.service = \"turn_on\"\nlamp.payload.domain = \"light\"\nlamp.payload.data = {}\nlamp.payload.data.entity_id = \"light.gf_living_lamp\"\nlamp.payload.data.transition = 5\nlamp.payload.data.rgb_color = [255,207,120]\nlamp.payload.data.brightness = 150\nlanding = {}\nlanding.payload = {}\nlanding.payload.service = \"turn_on\"\nlanding.payload.domain = \"light\"\nlanding.payload.data = {}\nlanding.payload.data.entity_id = \"light.gf_hallway_celing\"\nlanding.payload.data.transition = 5\nlanding.payload.data.rgb_color = [255,207,120]\nlanding.payload.data.brightness = 150\nreturn [lamp,landing];","outputs":2,"noerr":0,"x":690,"y":885,"wires":[["9ba14e91.dff1b8"],["9ba14e91.dff1b8"]]},{"id":"c03588b0.5f904","type":"comment","z":"70e66d25.f95abc","name":"React to Livingroom Lights","info":"","x":125,"y":800,"wires":[]},{"id":"a657359f.d728b8","type":"function","z":"70e66d25.f95abc","name":"Dinning Room Off","func":"study = {}\nstudy.payload = {}\nstudy.payload.service = \"turn_off\"\nstudy.payload.domain = \"light\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"group.lights_gf_dinning\"\nreturn study;","outputs":1,"noerr":0,"x":1265,"y":775,"wires":[["33823efc.617162"]]},{"id":"4761039c.575304","type":"api-current-state","z":"70e66d25.f95abc","name":"Livingroom Occupancy","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.room_occupancy_livingroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1285,"y":740,"wires":[["cac800c0.d1fed8"]]},{"id":"cac800c0.d1fed8","type":"switch","z":"70e66d25.f95abc","name":"Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1465,"y":740,"wires":[["2feafbef.2efb14"]]},{"id":"2feafbef.2efb14","type":"function","z":"70e66d25.f95abc","name":"Hallway Off","func":"study = {}\nstudy.payload = {}\nstudy.payload.service = \"turn_off\"\nstudy.payload.domain = \"light\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"light.gf_hallway_celing\"\nreturn study;","outputs":1,"noerr":0,"x":1650,"y":780,"wires":[["33823efc.617162"]]},{"id":"8423c58b.68e348","type":"function","z":"70e66d25.f95abc","name":"Livingroom Off","func":"study = {}\nstudy.payload = {}\nstudy.payload.service = \"turn_off\"\nstudy.payload.domain = \"light\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"group.lights_gf_livingroom\"\nreturn study;","outputs":1,"noerr":0,"x":1255,"y":850,"wires":[["33823efc.617162"]]},{"id":"fba40d48.139a6","type":"api-current-state","z":"70e66d25.f95abc","name":"Kitchen Occupancy","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.room_occupancy_kitchen","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1275,"y":815,"wires":[["1af7dc1b.964b14"]]},{"id":"1af7dc1b.964b14","type":"switch","z":"70e66d25.f95abc","name":"Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1465,"y":815,"wires":[["2feafbef.2efb14"]]},{"id":"33823efc.617162","type":"api-call-service","z":"70e66d25.f95abc","name":"","server":"b27af49e.d9bd78","service_domain":"","service":"","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":1630,"y":820,"wires":[[]]},{"id":"217dfde8.f56e12","type":"link out","z":"70e66d25.f95abc","name":"","links":["4a68ddb0.2724e4"],"x":575,"y":725,"wires":[]},{"id":"69cb12ec.d1240c","type":"link out","z":"70e66d25.f95abc","name":"","links":["6779c70a.cf6f48"],"x":585,"y":930,"wires":[]},{"id":"4a68ddb0.2724e4","type":"link in","z":"70e66d25.f95abc","name":"light_gf_kitchen_off","links":["217dfde8.f56e12"],"x":1140,"y":740,"wires":[["a657359f.d728b8","4761039c.575304"]]},{"id":"6779c70a.cf6f48","type":"link in","z":"70e66d25.f95abc","name":"light_gf_livingroom_off","links":["69cb12ec.d1240c"],"x":1140,"y":815,"wires":[["fba40d48.139a6","8423c58b.68e348"]]},{"id":"b9b7c0f.da2274","type":"api-current-state","z":"ea135125.978e8","name":"Watts","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.gf_living_tv_power","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":474,"y":242,"wires":[["40130456.a3b7b4"]]},{"id":"40130456.a3b7b4","type":"switch","z":"ea135125.978e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"45","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":714,"y":242,"wires":[["2c430dd8.c380ca"],["c6722eba.e6232"]]},{"id":"2c430dd8.c380ca","type":"function","z":"ea135125.978e8","name":"Monitor Watts","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/livingroom\";\nstate.payload = \"ON\";\n\nreason.topic = state.topic + \"/reason\";\nreason.payload = \"TV In Use\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":879,"y":237,"wires":[["51956de4.37dadc"],["51956de4.37dadc"]]},{"id":"cd10dd71.46d5e","type":"delay","z":"86a2cb87.41be4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":575,"y":510,"wires":[["28873c2b.05ba1c"]]},{"id":"4f852293.2c6e74","type":"http in","z":"f743ff89.b49248","name":"","url":"dash/sleep/stuart","method":"get","upload":false,"swaggerDoc":"","x":110,"y":110,"wires":[["5dc4f09d.484fd","6797c6e0.4c4128"]]},{"id":"6797c6e0.4c4128","type":"http response","z":"f743ff89.b49248","name":"","statusCode":"","headers":{},"x":335,"y":110,"wires":[]},{"id":"5dc4f09d.484fd","type":"debug","z":"f743ff89.b49248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":465,"y":110,"wires":[]},{"id":"6e6263a2.948bc4","type":"api-current-state","z":"ea135125.978e8","name":"FireTV","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.livingroom_fire_tv_stick","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":474,"y":102,"wires":[["a0082212.3f729"]]},{"id":"a0082212.3f729","type":"switch","z":"ea135125.978e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":719,"y":102,"wires":[["5baa8ab2.b09764"],["98701f28.70735"]]},{"id":"5baa8ab2.b09764","type":"function","z":"ea135125.978e8","name":"FireTV Playing","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/livingroom\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/livingroom/reason\";\nreason.payload = \"FireTV Playing\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":879,"y":107,"wires":[["51956de4.37dadc"],["51956de4.37dadc"]]},{"id":"a82393f3.3e8b4","type":"api-current-state","z":"db2d12c6.e8984","name":"FireTV","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.livingroom_fire_tv_stick","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":518,"y":126,"wires":[["f18aa3d2.af0e28"]]},{"id":"f18aa3d2.af0e28","type":"switch","z":"db2d12c6.e8984","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":763,"y":126,"wires":[["4bd44014.c30d4"],["3082ab5.c849fd4"]]},{"id":"4bd44014.c30d4","type":"function","z":"db2d12c6.e8984","name":"FireTV Playing","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/kitchen\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/kitchen/reason\";\nreason.payload = \"FireTV Playing\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":923,"y":131,"wires":[["abb5f16d.807eb"],["abb5f16d.807eb"]]},{"id":"e7558009.72a17","type":"api-current-state","z":"6b5456e0.047d7","name":"FireTV","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.bedroom_fire_tv_stick","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":498,"y":208,"wires":[["8f257e01.f0bfd"]]},{"id":"8f257e01.f0bfd","type":"switch","z":"6b5456e0.047d7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":706,"y":208,"wires":[["c20ce280.5b37c8"],[]]},{"id":"c20ce280.5b37c8","type":"function","z":"6b5456e0.047d7","name":"FireTV Playing","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/bedroom\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/bedroom/reason\";\nreason.payload = \"FireTV Playing\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":912,"y":208,"wires":[["1626ae0a.0d531a"],["1626ae0a.0d531a"]]},{"id":"31b33a59.5f9ebe","type":"switch","z":"9e19792f.bad6e8","name":"Home?","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":350,"y":280,"wires":[["2f987df0.0d063a"],["9338799d.0dbb8"]]},{"id":"2f987df0.0d063a","type":"template","z":"9e19792f.bad6e8","name":"","field":"payload.entity_id","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"input_select.{{topic}}","output":"str","x":490,"y":240,"wires":[["8258fd16.71fba"]]},{"id":"30ec61e1.e9ce9e","type":"switch","z":"9e19792f.bad6e8","name":"Just Left?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Just Left","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":220,"wires":[["4c56d11.e61f5b"],["786204bc.9717fc"]]},{"id":"6954b699.4c69a8","type":"change","z":"9e19792f.bad6e8","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":260,"wires":[["cf448cc1.8f27a8","743c7758.87f448"]]},{"id":"292ec8b6.2b305","type":"change","z":"9e19792f.bad6e8","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":320,"wires":[["4783f70a.1eacc","743c7758.87f448"]]},{"id":"9338799d.0dbb8","type":"api-call-service","z":"9e19792f.bad6e8","name":"Just Left","server":"b27af49e.d9bd78","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Left\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":490,"y":320,"wires":[["cf448cc1.8f27a8","292ec8b6.2b305"]]},{"id":"4c56d11.e61f5b","type":"api-call-service","z":"9e19792f.bad6e8","name":"Just Arrived","server":"b27af49e.d9bd78","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Arrived\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":920,"y":200,"wires":[["4783f70a.1eacc"]]},{"id":"a29ed1de.3c78f","type":"api-call-service","z":"9e19792f.bad6e8","name":"Away","server":"b27af49e.d9bd78","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Away\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":900,"y":280,"wires":[["743c7758.87f448"]]},{"id":"25859d9b.ec36a2","type":"api-call-service","z":"9e19792f.bad6e8","name":"Extended Away","server":"b27af49e.d9bd78","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Extended Away\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1245,"y":260,"wires":[[]]},{"id":"cf448cc1.8f27a8","type":"trigger","z":"9e19792f.bad6e8","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"10 Min","x":760,"y":300,"wires":[["a29ed1de.3c78f"]]},{"id":"743c7758.87f448","type":"trigger","z":"9e19792f.bad6e8","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"24","extend":false,"units":"hr","reset":"","bytopic":"topic","name":"24 Hrs","x":1095,"y":260,"wires":[["25859d9b.ec36a2"]]},{"id":"4783f70a.1eacc","type":"trigger","z":"9e19792f.bad6e8","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"10 Min","x":1095,"y":200,"wires":[["786204bc.9717fc"]]},{"id":"786204bc.9717fc","type":"api-call-service","z":"9e19792f.bad6e8","name":"Home","server":"b27af49e.d9bd78","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Home\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1225,"y":225,"wires":[[]]},{"id":"ab808030.579ce","type":"change","z":"9e19792f.bad6e8","name":"Change","rules":[{"t":"move","p":"payload","pt":"msg","to":"status","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"person.","fromt":"str","to":"","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"_2","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":280,"wires":[["31b33a59.5f9ebe"]]},{"id":"8258fd16.71fba","type":"api-current-state","z":"9e19792f.bad6e8","name":"Status?","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":625,"y":240,"wires":[["30ec61e1.e9ce9e","6954b699.4c69a8"]]},{"id":"bf1c9eb4.4da8a8","type":"server-state-changed","z":"9e19792f.bad6e8","name":"Stuart","server":"b27af49e.d9bd78","entityidfilter":"person.stuart","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":60,"y":260,"wires":[["ab808030.579ce"]]},{"id":"a798ed77.80ff3","type":"server-state-changed","z":"9e19792f.bad6e8","name":"Kareen","server":"b27af49e.d9bd78","entityidfilter":"person.kareen","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":60,"y":300,"wires":[["ab808030.579ce"]]},{"id":"e4b4885.13e2678","type":"function","z":"e33ca006.baadb8","name":"","func":"function default_off(entity_id) {\n\tvar default_off = {}\n\tdefault_off.payload = {}\n\tdefault_off.payload.service = \"turn_off\"\n\tdefault_off.payload.domain = \"light\"\n\tdefault_off.payload.data = {}\n\tdefault_off.payload.data.entity_id = entity_id\n\treturn default_off\n}\n\nfunction default_off_switch(entity_id) {\n\tvar default_on = {}\n\tdefault_on.payload = {}\n\tdefault_on.payload.service = \"turn_off\"\n\tdefault_on.payload.domain = \"switch\"\n\tdefault_on.payload.data = {}\n\tdefault_on.payload.data.entity_id = entity_id\n\treturn default_on\n}\n\nvar outputs = []\n\noutputs.push(default_off(\"group.all_lights\"));\noutputs.push(default_off_switch(\"group.switchs_all_safe\"));\n\nreturn outputs;","outputs":2,"noerr":0,"x":120,"y":25,"wires":[["235450a4.2a6b78"],["235450a4.2a6b78"]]},{"id":"2ae1a980.1043ee","type":"function","z":"7c4edcbf.0aba1c","name":"","func":"var new_state = msg.payload\n\nmsg.payload = {}\nmsg.payload.data = {}\nmsg.payload.data.message = new_state + \" - \" + msg.payload_url\nreturn msg;","outputs":1,"noerr":0,"x":1295,"y":695,"wires":[["5a5117c4.f5cc1"]]},{"id":"5a5117c4.f5cc1","type":"api-call-service","z":"7c4edcbf.0aba1c","name":"","server":"b27af49e.d9bd78","service_domain":"notify","service":"hass_synchat","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":1355,"y":730,"wires":[["f0d15187.9eb53"]]},{"id":"f0d15187.9eb53","type":"debug","z":"7c4edcbf.0aba1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1390,"y":770,"wires":[]},{"id":"916bdfbe.ed6df8","type":"inject","z":"7c4edcbf.0aba1c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"00 10 * * *","once":false,"onceDelay":"","x":85,"y":560,"wires":[["a2e63fb3.46bd68","a154604d.baafe","8fd865d.14f9898","ca9b860f.10ba68","14acc519.23e60b"]]},{"id":"fc9e51d6.55574","type":"http request","z":"7c4edcbf.0aba1c","name":"Lost Fleet: Beyond the Frontier","method":"GET","ret":"txt","url":"https://www.audible.co.uk/series?asin=B00HHGJZGU","tls":"","x":335,"y":245,"wires":[["24098d44.8e2912"]]},{"id":"cdae776b.776a","type":"html","z":"7c4edcbf.0aba1c","name":"","tag":"span.bc-text.bc-color-secondary","ret":"html","as":"multi","x":990,"y":500,"wires":[["7ee11a31.ee600c"]]},{"id":"7ee11a31.ee600c","type":"switch","z":"7c4edcbf.0aba1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"books in series","vt":"str"}],"checkall":"true","outputs":1,"x":1055,"y":540,"wires":[["cfab0413.38de1"]]},{"id":"24098d44.8e2912","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Lost Fleet: Beyond the Frontier","output":"str","x":555,"y":245,"wires":[["61276f4d.1f4878"]]},{"id":"cfab0413.38de1","type":"split","z":"7c4edcbf.0aba1c","name":"","splt":" books in series","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1055,"y":580,"wires":[["6875264c.b718b"]]},{"id":"6875264c.b718b","type":"switch","z":"7c4edcbf.0aba1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"neq","v":"known","vt":"msg"}],"checkall":"false","outputs":2,"x":1055,"y":620,"wires":[[],["3f39939.7d3816c"]]},{"id":"ca9b860f.10ba68","type":"http request","z":"7c4edcbf.0aba1c","name":"Angel in the Whirlwind","method":"GET","ret":"txt","url":"https://www.audible.co.uk/series?asin=B01B8I7MAI","tls":"","x":315,"y":500,"wires":[["cd9b40a6.f5aad8"]]},{"id":"cd9b40a6.f5aad8","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Angel in the Whirlwind","output":"str","x":555,"y":500,"wires":[["96452feb.682aa8"]]},{"id":"8fd865d.14f9898","type":"http request","z":"7c4edcbf.0aba1c","name":"Jack Reacher","method":"GET","ret":"txt","url":"https://www.audible.co.uk/series?asin=B00HS44NCW","tls":"","x":285,"y":540,"wires":[["f6fd2e41.fb453"]]},{"id":"f6fd2e41.fb453","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Jack Reacher","output":"str","x":555,"y":540,"wires":[["254f7122.c6057e"]]},{"id":"a154604d.baafe","type":"http request","z":"7c4edcbf.0aba1c","name":"Expeditionary Force","method":"GET","ret":"txt","url":"https://www.audible.co.uk/series?asin=B01N1NWMX6","tls":"","x":305,"y":580,"wires":[["c757cbb2.57be9"]]},{"id":"c757cbb2.57be9","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Expeditionary Force","output":"str","x":555,"y":580,"wires":[["f4cb7192.4a9d5"]]},{"id":"cdf03c31.fe6988","type":"http request","z":"7c4edcbf.0aba1c","name":"The Lost Stars","method":"GET","ret":"txt","url":"https://www.audible.co.uk/series?asin=B00KWRAVK0","tls":"","x":285,"y":365,"wires":[["d209659c.759ed"]]},{"id":"d209659c.759ed","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The Lost Stars","output":"str","x":555,"y":365,"wires":[["7aa8a69a.ca8ca8"]]},{"id":"8cde3caf.2c956","type":"http request","z":"7c4edcbf.0aba1c","name":"Genesis Fleet","method":"GET","ret":"txt","url":"https://www.audible.co.uk/series?asin=B06XSM7WZC","tls":"","x":285,"y":325,"wires":[["87034a07.5b146"]]},{"id":"87034a07.5b146","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Genesis Fleet","output":"str","x":555,"y":325,"wires":[["c5a432a6.5bafc"]]},{"id":"58ad5df3.15b854","type":"http request","z":"7c4edcbf.0aba1c","name":"Lost Fleet","method":"GET","ret":"txt","url":"https://www.audible.co.uk/series?asin=B00HHGK5KK","tls":"","x":275,"y":285,"wires":[["cfdbde91.188ee"]]},{"id":"cfdbde91.188ee","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Lost Fleet","output":"str","x":555,"y":285,"wires":[["84c37c45.ccc6c"]]},{"id":"61276f4d.1f4878","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"known","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"5","output":"str","x":695,"y":245,"wires":[["a3fc3845.3a41e"]]},{"id":"c9e02fb7.d00d68","type":"debug","z":"7c4edcbf.0aba1c","name":"","active":false,"console":"false","complete":"true","x":1055,"y":700,"wires":[]},{"id":"3f39939.7d3816c","type":"function","z":"7c4edcbf.0aba1c","name":"","func":"msg.payload = \"@nxad \" + msg.topic + \" now has \" + msg.payload + \" books\\n\"\nmsg.payload = msg.payload + \"#Books #Alerts #Audible #BooksSeries #Books\" + msg.topic.replace(\" \", \"\")\nmsg.payload_url_title = msg.topic + \" on Audible\";\nmsg.payload_url = msg.responseUrl;\nreturn msg;","outputs":1,"noerr":0,"x":1055,"y":660,"wires":[["c9e02fb7.d00d68","4a768d67.7ced3c"]]},{"id":"96452feb.682aa8","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"known","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"5","output":"str","x":695,"y":500,"wires":[["cdae776b.776a"]]},{"id":"254f7122.c6057e","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"known","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"33","output":"str","x":695,"y":540,"wires":[["cdae776b.776a"]]},{"id":"7aa8a69a.ca8ca8","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"known","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"4","output":"str","x":695,"y":365,"wires":[["a3fc3845.3a41e"]]},{"id":"c5a432a6.5bafc","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"known","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"3","output":"str","x":695,"y":325,"wires":[["a3fc3845.3a41e"]]},{"id":"f4cb7192.4a9d5","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"known","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"9","output":"str","x":695,"y":580,"wires":[["cdae776b.776a"]]},{"id":"84c37c45.ccc6c","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"known","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"6","output":"str","x":695,"y":285,"wires":[["a3fc3845.3a41e"]]},{"id":"bca6d99a.35e0b","type":"http request","z":"7c4edcbf.0aba1c","name":"Star Trek","method":"GET","ret":"txt","url":"https://www.audible.co.uk/search/ref=sr_sort_-publication_date?searchRank=-publication_date&field_subjectbin=536034031&field_content_type-bin=5177360031&searchSize=20&searchRankSelect=-publication_date&searchsize=20","tls":"","x":265,"y":750,"wires":[["8c13c4d1.5976d"]]},{"id":"8c13c4d1.5976d","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Star Trek","output":"str","x":555,"y":750,"wires":[["dc8522df.be0398"]]},{"id":"dc8522df.be0398","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"known","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"97","output":"str","x":695,"y":750,"wires":[["25e507f2.2fa34"]]},{"id":"25e507f2.2fa34","type":"html","z":"7c4edcbf.0aba1c","name":"","tag":"span.resultsSummarySubheading","ret":"html","as":"multi","x":990,"y":750,"wires":[["7b375ebe.d9cbe"]]},{"id":"7b375ebe.d9cbe","type":"switch","z":"7c4edcbf.0aba1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":" results","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1055,"y":790,"wires":[["4af611b4.888878"]]},{"id":"4af611b4.888878","type":"split","z":"7c4edcbf.0aba1c","name":"","splt":" results","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1055,"y":830,"wires":[["6d8ef48e.3f2114"]]},{"id":"6d8ef48e.3f2114","type":"switch","z":"7c4edcbf.0aba1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"gt","v":"known","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":1055,"y":870,"wires":[[],["3ed4655e.ebe2ba"]]},{"id":"7a93751.83d138c","type":"debug","z":"7c4edcbf.0aba1c","name":"","active":false,"console":"false","complete":"true","x":1055,"y":950,"wires":[]},{"id":"3ed4655e.ebe2ba","type":"function","z":"7c4edcbf.0aba1c","name":"","func":"msg.payload = \"@nxad \" + msg.topic + \" now has \" + msg.payload + \" books\\n\"\nmsg.payload = msg.payload + \"#Books #Alerts #Audible #BooksSubjects #Books\" + msg.topic.replace(\" \", \"\")\nmsg.payload_url_title = msg.topic + \" on Audible\";\nmsg.payload_url = msg.responseUrl;\nreturn msg;","outputs":1,"noerr":0,"x":1055,"y":910,"wires":[["7a93751.83d138c","4a768d67.7ced3c"]]},{"id":"f535bbe.9c1dfc8","type":"http request","z":"7c4edcbf.0aba1c","name":"Peter F Hamilton","method":"GET","ret":"txt","url":"https://www.audible.co.uk/search?ref=a_search_l1_feature_six_browse-bin_0&pf_rd_p=ff83f79f-3ec9-4d26-81d0-a70cf6f8e4e3&pf_rd_r=QATWZ9RZ8WRPAWGJMY3G&&searchAuthor=Peter+F+Hamilton&feature_six_browse-bin=5177374031&submitted=1","tls":"","x":295,"y":790,"wires":[["181f399.ff2a446"]]},{"id":"181f399.ff2a446","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Peter F Hamilton","output":"str","x":555,"y":790,"wires":[["1102ccde.75fbeb"]]},{"id":"1102ccde.75fbeb","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"known","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"27","output":"str","x":695,"y":790,"wires":[["25e507f2.2fa34"]]},{"id":"64c6d836.b5a32","type":"inject","z":"7c4edcbf.0aba1c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"45 09 * * *","once":false,"x":85,"y":820,"wires":[["bca6d99a.35e0b","f535bbe.9c1dfc8","1f4553b8.68057c"]]},{"id":"a2e63fb3.46bd68","type":"http request","z":"7c4edcbf.0aba1c","name":"The Expanse","method":"GET","ret":"txt","url":"https://www.audible.co.uk/series?asin=B00PBA7AG6","tls":"","x":285,"y":620,"wires":[["6c083a8f.9b3364"]]},{"id":"6c083a8f.9b3364","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The Expanse","output":"str","x":555,"y":620,"wires":[["a335f870.217cd"]]},{"id":"a335f870.217cd","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"known","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"15","output":"str","x":695,"y":620,"wires":[["cdae776b.776a"]]},{"id":"ede52e03.4bd2c","type":"inject","z":"7c4edcbf.0aba1c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"30 09 * * *","once":false,"onceDelay":"","x":85,"y":305,"wires":[["fc9e51d6.55574","58ad5df3.15b854","8cde3caf.2c956","cdf03c31.fe6988","240d6f5.ad5271"]]},{"id":"14acc519.23e60b","type":"http request","z":"7c4edcbf.0aba1c","name":"World Apart","method":"GET","ret":"txt","url":"https://www.audible.co.uk/series?asin=B07JFGK123","tls":"","x":275,"y":660,"wires":[["28af22b5.ec7d5e"]]},{"id":"28af22b5.ec7d5e","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"World Apart","output":"str","x":555,"y":660,"wires":[["981e8d45.ee9638"]]},{"id":"981e8d45.ee9638","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"known","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"4","output":"str","x":695,"y":660,"wires":[["cdae776b.776a"]]},{"id":"240d6f5.ad5271","type":"http request","z":"7c4edcbf.0aba1c","name":"Hell Divers","method":"GET","ret":"txt","url":"https://www.audible.co.uk/series?asin=B01MRBZT7F","tls":"","x":275,"y":405,"wires":[["d0150745.fa9fd"]]},{"id":"d0150745.fa9fd","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hell Divers","output":"str","x":555,"y":405,"wires":[["555a98ac.535c9"]]},{"id":"555a98ac.535c9","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"known","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"5","output":"str","x":695,"y":405,"wires":[["a3fc3845.3a41e"]]},{"id":"a3fc3845.3a41e","type":"html","z":"7c4edcbf.0aba1c","name":"","tag":"span.bc-text.bc-color-secondary","ret":"html","as":"multi","x":990,"y":245,"wires":[["8435643c.41d638"]]},{"id":"8435643c.41d638","type":"switch","z":"7c4edcbf.0aba1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"books in series","vt":"str"}],"checkall":"true","outputs":1,"x":1055,"y":285,"wires":[["bf3e1a48.f3cf7"]]},{"id":"bf3e1a48.f3cf7","type":"split","z":"7c4edcbf.0aba1c","name":"","splt":" books in series","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1055,"y":325,"wires":[["20fc054e.6776e2"]]},{"id":"20fc054e.6776e2","type":"switch","z":"7c4edcbf.0aba1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"neq","v":"known","vt":"msg"}],"checkall":"false","outputs":2,"x":1055,"y":365,"wires":[[],["c3acf15f.ff3ea"]]},{"id":"7e652451.8776f4","type":"debug","z":"7c4edcbf.0aba1c","name":"","active":false,"console":"false","complete":"true","x":1055,"y":445,"wires":[]},{"id":"c3acf15f.ff3ea","type":"function","z":"7c4edcbf.0aba1c","name":"","func":"msg.payload = \"@nxad \" + msg.topic + \" now has \" + msg.payload + \" books\\n\"\nmsg.payload = msg.payload + \"#Books #Alerts #Audible #BooksSeries #Books\" + msg.topic.replace(\" \", \"\")\nmsg.payload_url_title = msg.topic + \" on Audible\";\nmsg.payload_url = msg.responseUrl;\nreturn msg;","outputs":1,"noerr":0,"x":1055,"y":405,"wires":[["7e652451.8776f4","4a768d67.7ced3c"]]},{"id":"1f4553b8.68057c","type":"http request","z":"7c4edcbf.0aba1c","name":"Dayton Ward","method":"GET","ret":"txt","url":"https://www.audible.co.uk/search?ref=a_search_l1_catRefs_1&pf_rd_p=ff83f79f-3ec9-4d26-81d0-a70cf6f8e4e3&pf_rd_r=7GR9ATMTMYJ1ZN19508C&searchAuthor=Dayton+Ward&node=535850031&feature_six_browse-bin=5177374031&submitted=1","tls":"","x":285,"y":830,"wires":[["f07e4b42.c9db8"]]},{"id":"f07e4b42.c9db8","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Dayton Ward","output":"str","x":555,"y":830,"wires":[["18e1bf2b.b10801"]]},{"id":"18e1bf2b.b10801","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"known","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"5","output":"str","x":695,"y":830,"wires":[["25e507f2.2fa34"]]},{"id":"4a768d67.7ced3c","type":"delay","z":"7c4edcbf.0aba1c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1315,"y":660,"wires":[["2ae1a980.1043ee"]]},{"id":"e0834b6.ef0f338","type":"http in","z":"b3c5a6b9.91186","name":"","url":"/track","method":"post","upload":false,"swaggerDoc":"","x":130,"y":80,"wires":[["fe25a29d.9576e","b4b21bfd.4ed0e8"]]},{"id":"33f1e11e.6150ae","type":"http response","z":"b3c5a6b9.91186","name":"","statusCode":"","headers":{},"x":680,"y":120,"wires":[]},{"id":"f03ef8d5.0bd198","type":"http request","z":"b3c5a6b9.91186","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.0.201:8005/track","tls":"","proxy":"","x":530,"y":80,"wires":[["95b08fb7.cf6488"]]},{"id":"50b58976.86a6a8","type":"http in","z":"b3c5a6b9.91186","name":"","url":"/learn","method":"post","upload":false,"swaggerDoc":"","x":130,"y":120,"wires":[["16c103c3.5eaca4"]]},{"id":"16c103c3.5eaca4","type":"http request","z":"b3c5a6b9.91186","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.0.201:8005/learn","tls":"","proxy":"","x":530,"y":120,"wires":[["33f1e11e.6150ae"]]},{"id":"fe25a29d.9576e","type":"change","z":"b3c5a6b9.91186","name":"","rules":[{"t":"set","p":"username","pt":"msg","to":"payload.username","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":80,"wires":[["f03ef8d5.0bd198"]]},{"id":"560369e.699bb18","type":"function","z":"b3c5a6b9.91186","name":"","func":"msg.topic = \"tracker/family/\" + msg.username + \"/room\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":950,"wires":[["2427b0e.2d760d"]]},{"id":"58080e43.e0f5c8","type":"json","z":"b3c5a6b9.91186","name":"","property":"payload","action":"","pretty":false,"x":1000,"y":950,"wires":[["560369e.699bb18"]]},{"id":"85b0c9e5.1909e","type":"api-current-state","z":"9e429f2c.47f6","name":"","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":375,"y":80,"wires":[["581adcd1.23e6c4"]]},{"id":"ed6960fd.51571","type":"change","z":"9e429f2c.47f6","name":"","rules":[{"t":"set","p":"setting","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload.entity_id","pt":"msg","to":"setting.data.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["85b0c9e5.1909e"]]},{"id":"581adcd1.23e6c4","type":"switch","z":"9e429f2c.47f6","name":"","property":"setting.service","propertyType":"msg","rules":[{"t":"cont","v":"payload","vt":"msg"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":520,"y":80,"wires":[[],["1ade2b.fed861d5"]]},{"id":"1ade2b.fed861d5","type":"change","z":"9e429f2c.47f6","name":"","rules":[{"t":"move","p":"setting","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"data","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":665,"y":80,"wires":[["3ec47109.6b71be"]]},{"id":"3ec47109.6b71be","type":"api-call-service","z":"9e429f2c.47f6","name":"","server":"b27af49e.d9bd78","service_domain":"","service":"","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":810,"y":80,"wires":[[]]},{"id":"2a998ca3.880b84","type":"subflow:9e429f2c.47f6","z":"70e66d25.f95abc","name":"","env":[],"x":890,"y":250,"wires":[]},{"id":"701a9783.0cc998","type":"subflow:9e429f2c.47f6","z":"70e66d25.f95abc","name":"","env":[],"x":890,"y":455,"wires":[]},{"id":"cf07a6b4.718a4","type":"subflow:9e429f2c.47f6","z":"70e66d25.f95abc","name":"","env":[],"x":890,"y":665,"wires":[]},{"id":"9ba14e91.dff1b8","type":"subflow:9e429f2c.47f6","z":"70e66d25.f95abc","name":"","env":[],"x":890,"y":865,"wires":[]},{"id":"28873c2b.05ba1c","type":"api-call-service","z":"86a2cb87.41be4","name":"","server":"b27af49e.d9bd78","service_domain":"","service":"","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":720,"y":510,"wires":[["59e8291d.4fb1e"]]},{"id":"d1c9d74e.1a8278","type":"api-current-state","z":"b3c5a6b9.91186","name":"Dest","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_stuart_drive_dest","state_type":"str","state_location":"dest","override_payload":"msg","entity_location":"","override_data":"none","x":475,"y":260,"wires":[["ef153a10.d70ae"]]},{"id":"5e63fcdf.c8d5fc","type":"api-current-state","z":"b3c5a6b9.91186","name":"ETA","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_stuart_drive_eta","state_type":"str","state_location":"eta","override_payload":"msg","entity_location":"","override_data":"none","x":705,"y":260,"wires":[["a5e33d2b.9cfd1"]]},{"id":"a5e33d2b.9cfd1","type":"api-current-state","z":"b3c5a6b9.91186","name":"Out","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_stuart_drive_out","state_type":"str","state_location":"out","override_payload":"msg","entity_location":"","override_data":"none","x":820,"y":260,"wires":[["96d0654d.ba92a8"]]},{"id":"96d0654d.ba92a8","type":"template","z":"b3c5a6b9.91186","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Stuart is driving {{dest}}, he's about {{out}} minutes away. ETA is {{eta}}.","output":"str","x":945,"y":260,"wires":[["9500078.db9a478"]]},{"id":"868ed8fb.426918","type":"server-state-changed","z":"b3c5a6b9.91186","name":"","server":"b27af49e.d9bd78","entityidfilter":"sensor.family_stuart_drive_dest","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":205,"y":260,"wires":[["d1c9d74e.1a8278"]]},{"id":"54b48f48.353988","type":"server-state-changed","z":"b3c5a6b9.91186","name":"","server":"b27af49e.d9bd78","entityidfilter":"sensor.family_stuart_drive_eta","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":205,"y":295,"wires":[["d1c9d74e.1a8278"]]},{"id":"5d4b2824.d3d09","type":"server-state-changed","z":"b3c5a6b9.91186","name":"","server":"b27af49e.d9bd78","entityidfilter":"sensor.family_stuart_drive_out","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":205,"y":330,"wires":[["d1c9d74e.1a8278"]]},{"id":"ef153a10.d70ae","type":"switch","z":"b3c5a6b9.91186","name":"","property":"dest","propertyType":"msg","rules":[{"t":"neq","v":"None","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":260,"wires":[["5e63fcdf.c8d5fc"]]},{"id":"bf8ceeb7.5b079","type":"comment","z":"b3c5a6b9.91186","name":"Room Tracker","info":"","x":95,"y":40,"wires":[]},{"id":"4a4df33d.3679a4","type":"comment","z":"b3c5a6b9.91186","name":"Driving Destination","info":"","x":115,"y":220,"wires":[]},{"id":"3902d46b.0e67fc","type":"http in","z":"b3c5a6b9.91186","name":"","url":"/state/stuart","method":"post","upload":false,"swaggerDoc":"","x":160,"y":730,"wires":[["94ac181b.b775b8","caf93862.234018","aa86945f.7eb6a8"]]},{"id":"20c0c31.c3fff3c","type":"http in","z":"b3c5a6b9.91186","name":"","url":"/state/kareen","method":"post","upload":false,"swaggerDoc":"","x":160,"y":770,"wires":[["94ac181b.b775b8","23bdeb0.690a316","d7971e4c.83722","65f63b67.2ec1a4"]]},{"id":"94ac181b.b775b8","type":"http response","z":"b3c5a6b9.91186","name":"","statusCode":"","headers":{},"x":360,"y":750,"wires":[]},{"id":"caf93862.234018","type":"change","z":"b3c5a6b9.91186","name":"tracker/family/stuart","rules":[{"t":"set","p":"topic","pt":"msg","to":"tracker/family/stuart","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":645,"y":730,"wires":[["bcd68480.42fab"]]},{"id":"23bdeb0.690a316","type":"change","z":"b3c5a6b9.91186","name":"tracker/family/kareen","rules":[{"t":"set","p":"topic","pt":"msg","to":"tracker/family/kareen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":645,"y":770,"wires":[["bcd68480.42fab"]]},{"id":"788ac45.fe75a3c","type":"mqtt out","z":"b3c5a6b9.91186","name":"","topic":"","qos":"","retain":"true","broker":"f8fa9894.75c16","x":955,"y":750,"wires":[]},{"id":"bcd68480.42fab","type":"function","z":"b3c5a6b9.91186","name":"","func":"msg.payload = parseInt(msg.payload.state)\n\nstate = {}\nhuman = {}\nhome = {}\n\nstate.topic = msg.topic + \"/state\";\nhuman.topic = msg.topic + \"/state/human\";\nhome.topic = msg.topic;\n\nstate.payload = msg.payload;\n\nif (msg.payload === 0) {\n    human.payload = \"Gone Out\";\n    home.payload = \"not_home\";\n} else if (msg.payload === 1) {\n    human.payload = \"Driving\";\n    home.payload = \"not_home\";\n} else if (msg.payload === 2) {\n    human.payload = \"Away The Night\";\n    home.payload = \"not_home\";\n} else if (msg.payload === 3) {\n    human.payload = \"Driving Home\";\n    home.payload = \"not_home\";\n} else if (msg.payload === 4) {\n    human.payload = \"Four\";\n    home.payload = \"not_home\";\n} else if (msg.payload === 5) {\n    human.payload = \"Five\";\n    home.payload = \"not_home\";\n} else if (msg.payload === 6) {\n    human.payload = \"Car Park\";\n    home.payload = \"home\";\n} else if (msg.payload === 7) {\n    human.payload = \"Home\";\n    home.payload = \"home\";\n} else if (msg.payload === 8) {\n    human.payload = \"Eight\";\n    home.payload = \"home\";\n} else if (msg.payload === 9) {\n    human.payload = \"Asleep\";\n    home.payload = \"home\";\n}\n\nreturn [state,human,home];","outputs":3,"noerr":0,"x":815,"y":750,"wires":[["788ac45.fe75a3c","dd81e9fe.2964a"],["788ac45.fe75a3c"],[]]},{"id":"58e6b158.8abff","type":"comment","z":"b3c5a6b9.91186","name":"Family States","info":"","x":105,"y":650,"wires":[]},{"id":"db88143c.578958","type":"http request","z":"b3c5a6b9.91186","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.0.201:5144","tls":"","proxy":"","x":495,"y":885,"wires":[["9b3e6916.ba744"]]},{"id":"a435c8ee.544778","type":"function","z":"b3c5a6b9.91186","name":"","func":"msg.payload.topic = \"owntracks/\" + msg.topic + \"/phone\"\n\nreturn msg;","outputs":1,"noerr":0,"x":245,"y":885,"wires":[["662ef478.f77ecc"]]},{"id":"662ef478.f77ecc","type":"json","z":"b3c5a6b9.91186","name":"","property":"payload","action":"","pretty":false,"x":360,"y":885,"wires":[["db88143c.578958","f5c3d558.8ad27"]]},{"id":"7ff474db.36bc34","type":"comment","z":"b3c5a6b9.91186","name":"Store in TracCar","info":"","x":115,"y":850,"wires":[]},{"id":"dc0b987b.dba088","type":"switch","z":"b3c5a6b9.91186","name":"","property":"tid","propertyType":"msg","rules":[{"t":"eq","v":"6p","vt":"str"},{"t":"eq","v":"x5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":385,"y":695,"wires":[["caf93862.234018"],["23bdeb0.690a316"]]},{"id":"cab20283.922a88","type":"function","z":"b3c5a6b9.91186","name":"Set State","func":"msg.topic = \"post\"\nmsg.payload = parseInt(msg.payload.state)\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":695,"wires":[["dc0b987b.dba088"]]},{"id":"2e1f6f94.09fac","type":"link in","z":"b3c5a6b9.91186","name":"","links":["f9d18183.a73308","e51ca74a.eabd28","84207611.bd9058"],"x":55,"y":695,"wires":[["bc65e51a.e3cef8"]]},{"id":"bd989741.103328","type":"link in","z":"b3c5a6b9.91186","name":"","links":["f9d18183.a73308","84207611.bd9058","e51ca74a.eabd28"],"x":50,"y":885,"wires":[["a435c8ee.544778"]]},{"id":"bc65e51a.e3cef8","type":"change","z":"b3c5a6b9.91186","name":"tid","rules":[{"t":"set","p":"tid","pt":"msg","to":"payload.tid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":135,"y":695,"wires":[["cab20283.922a88"]]},{"id":"83a685cb.61e61","type":"api-current-state","z":"f43c2fc4.f37718","name":"TaiChi","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.pc_taichi","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":235,"y":485,"wires":[["3a46af16.b6f208"]]},{"id":"3a46af16.b6f208","type":"switch","z":"f43c2fc4.f37718","name":"Is Home","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":485,"wires":[["d4cfe716.c9541"]]},{"id":"d4cfe716.c9541","type":"function","z":"f43c2fc4.f37718","name":"","func":"function default_on_switch(entity_id) {\n\tvar default_on = {}\n\tdefault_on.payload = {}\n\tdefault_on.payload.service = \"turn_on\"\n\tdefault_on.payload.domain = \"switch\"\n\tdefault_on.payload.data = {}\n\tdefault_on.payload.data.entity_id = entity_id\n\treturn default_on\n}\n\nvar outputs = []\n\noutputs.push(default_on_switch(\"switch.ff_study_monitors\"));\n\nreturn outputs;","outputs":1,"noerr":0,"x":485,"y":485,"wires":[["2e78265.d35f1da"]]},{"id":"2e78265.d35f1da","type":"subflow:9e429f2c.47f6","z":"f43c2fc4.f37718","name":"","env":[],"x":620,"y":485,"wires":[]},{"id":"b601b8ef.ea8dd8","type":"server-state-changed","z":"f43c2fc4.f37718","name":"Check Triggers","server":"b27af49e.d9bd78","entityidfilter":"binary_sensor.ff_study_sensor_sensor","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":485,"wires":[["83a685cb.61e61"]]},{"id":"297cceb.af99732","type":"comment","z":"f43c2fc4.f37718","name":"Turn on Monitor with movement","info":"","x":140,"y":450,"wires":[]},{"id":"d18f37d2.ac878","type":"api-call-service","z":"3f8bb462.cc3434","name":"Hass.io","server":"b27af49e.d9bd78","service_domain":"notify","service":"hass_synchat","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":345,"y":80,"wires":[["7a3df85f.16fe5"]]},{"id":"37efbd6b.9cd10a","type":"function","z":"3f8bb462.cc3434","name":"Prep Data","func":"var payload = msg.payload\n\nmsg.payload = {}\nmsg.payload.data = {}\nmsg.payload.data.message = payload\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["d18f37d2.ac878"]]},{"id":"7a3df85f.16fe5","type":"debug","z":"3f8bb462.cc3434","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":80,"wires":[]},{"id":"7711e1ac.e788c","type":"api-call-service","z":"5a520374.42875c","name":"JarvisHAB","server":"b27af49e.d9bd78","service_domain":"notify","service":"synchat_hab","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":355,"y":80,"wires":[["65500f84.c9511"]]},{"id":"d000bf1b.2f3af8","type":"function","z":"5a520374.42875c","name":"Prep Data","func":"var payload = msg.payload\n\nmsg.payload = {}\nmsg.payload.data = {}\nmsg.payload.data.message = payload\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["7711e1ac.e788c"]]},{"id":"65500f84.c9511","type":"debug","z":"5a520374.42875c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":80,"wires":[]},{"id":"3e6fc00c.721668","type":"api-call-service","z":"9e8b7db7.07a7f8","name":"JarvisNx","server":"b27af49e.d9bd78","service_domain":"notify","service":"synchat_nx","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":345,"y":80,"wires":[["5fe429f1.a42fd8"]]},{"id":"99985a44.3c95c8","type":"function","z":"9e8b7db7.07a7f8","name":"Prep Data","func":"var payload = msg.payload\n\nmsg.payload = {}\nmsg.payload.data = {}\nmsg.payload.data.message = payload\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["3e6fc00c.721668"]]},{"id":"5fe429f1.a42fd8","type":"debug","z":"9e8b7db7.07a7f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":80,"wires":[]},{"id":"65ec3a2c.089754","type":"api-call-service","z":"1e089688.6ba879","name":"JarvisOutside","server":"b27af49e.d9bd78","service_domain":"notify","service":"synchat_outside","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":365,"y":80,"wires":[["7d1fbe9e.fda2f"]]},{"id":"cb50e074.d61ed8","type":"function","z":"1e089688.6ba879","name":"Prep Data","func":"var payload = msg.payload\n\nmsg.payload = {}\nmsg.payload.data = {}\nmsg.payload.data.message = payload\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["65ec3a2c.089754"]]},{"id":"7d1fbe9e.fda2f","type":"debug","z":"1e089688.6ba879","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":80,"wires":[]},{"id":"74c67e5d.70aa6","type":"api-call-service","z":"4d697121.6b434","name":"JarvisTTS","server":"b27af49e.d9bd78","service_domain":"notify","service":"synchat_tts","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":345,"y":80,"wires":[[]]},{"id":"443e60fe.d4ec1","type":"function","z":"4d697121.6b434","name":"Prep Data","func":"var payload = msg.payload\n\nmsg.payload = {}\nmsg.payload.data = {}\nmsg.payload.data.message = payload\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["74c67e5d.70aa6"]]},{"id":"56a2bdf3.0b47ac","type":"api-call-service","z":"666a32e3.2e6f04","name":"JarvisTweets","server":"b27af49e.d9bd78","service_domain":"notify","service":"synchat_tweets","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":355,"y":80,"wires":[["b72c6963.c56ad8"]]},{"id":"11189ca3.abbc6b","type":"function","z":"666a32e3.2e6f04","name":"Prep Data","func":"var payload = msg.payload\n\nmsg.payload = {}\nmsg.payload.data = {}\nmsg.payload.data.message = payload\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["56a2bdf3.0b47ac"]]},{"id":"b72c6963.c56ad8","type":"debug","z":"666a32e3.2e6f04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":80,"wires":[]},{"id":"cf2b5eee.4eea3","type":"api-call-service","z":"94219112.b2c818","name":"JarvisVisitorLog","server":"b27af49e.d9bd78","service_domain":"notify","service":"synchat_visitorlog","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":365,"y":80,"wires":[["6c987a60.56fee4"]]},{"id":"c2de3fc2.2354e","type":"function","z":"94219112.b2c818","name":"Prep Data","func":"var payload = msg.payload\n\nmsg.payload = {}\nmsg.payload.data = {}\nmsg.payload.data.message = payload\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["cf2b5eee.4eea3"]]},{"id":"6c987a60.56fee4","type":"debug","z":"94219112.b2c818","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":80,"wires":[]},{"id":"9500078.db9a478","type":"subflow:4d697121.6b434","z":"b3c5a6b9.91186","name":"","env":[],"x":945,"y":310,"wires":[]},{"id":"5a9b87f1.9de62","type":"template","z":"9e19792f.bad6e8","name":"Occupied","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Occupied","output":"str","x":836,"y":552,"wires":[["7f15c9b1.77d7b"]]},{"id":"9a1a59cc.e16d2","type":"server-state-changed","z":"103b2b90.4d268c","name":"Stairwell PIR","server":"b27af49e.d9bd78","entityidfilter":"binary_sensor.ff_landing_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":75,"y":245,"wires":[["a8d4fae1.c1f1b8"]]},{"id":"b3b1b5e0.7e6ff","type":"server-state-changed","z":"103b2b90.4d268c","name":"Diningroom PIR","server":"b27af49e.d9bd78","entityidfilter":"binary_sensor.gf_dinning_sensor_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":85,"y":140,"wires":[["8c3ae1ae.59d5e"]]},{"id":"2f7d06fd.8278f2","type":"server-state-changed","z":"103b2b90.4d268c","name":"Study PIR","server":"b27af49e.d9bd78","entityidfilter":"binary_sensor.ff_study_sensor_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":65,"y":35,"wires":[["cdd0c01b.2d62c"]]},{"id":"6cc1fac5.c65dec","type":"server-state-changed","z":"103b2b90.4d268c","name":"Bedroom PIR","server":"b27af49e.d9bd78","entityidfilter":"binary_sensor.ff_bedroom_sensor_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":75,"y":190,"wires":[["c9af77e3.8fa158"]]},{"id":"a159fcbc.208218","type":"server-state-changed","z":"103b2b90.4d268c","name":"Livingroom PIR","server":"b27af49e.d9bd78","entityidfilter":"binary_sensor.gf_living_sensor_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":85,"y":90,"wires":[["80abe081.2a5f"]]},{"id":"a6d24684.a30318","type":"server-state-changed","z":"103b2b90.4d268c","name":"Frontdoor","server":"b27af49e.d9bd78","entityidfilter":"binary_sensor.gf_hallway_contact_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":65,"y":295,"wires":[["33e5e876.0c77a","1a5c311c.e04027"]]},{"id":"e6b254e2.8edc5","type":"server-state-changed","z":"103b2b90.4d268c","name":"Sidedoor","server":"b27af49e.d9bd78","entityidfilter":"binary_sensor.gf_dinning_contact_side","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":65,"y":345,"wires":[["30053085.c2cd7","3f3f0e8b.8d64aa"]]},{"id":"565d4def.bd8f9c","type":"api-current-state","z":"103b2b90.4d268c","name":"Someone Home","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_family_state_raw","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"family_state","override_data":"msg","x":185,"y":675,"wires":[["5f686fe3.07c598"]]},{"id":"5f686fe3.07c598","type":"switch","z":"103b2b90.4d268c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"3","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":340,"y":675,"wires":[["5e24440a.e17efc"]]},{"id":"cdd0c01b.2d62c","type":"switch","z":"103b2b90.4d268c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":255,"y":35,"wires":[["8574832b.6a0c4"]]},{"id":"5f7bc418.bd44ec","type":"link in","z":"103b2b90.4d268c","name":"Sec Notifty On Motion Trigger","links":["8574832b.6a0c4","eaaacad.bf07238","17266148.df377f","b499b27e.9952e8","76699f3d.8bfa68"],"x":60,"y":675,"wires":[["565d4def.bd8f9c"]]},{"id":"8574832b.6a0c4","type":"link out","z":"103b2b90.4d268c","name":"","links":["5f7bc418.bd44ec","f990e951.f8d7c"],"x":345,"y":35,"wires":[]},{"id":"eaaacad.bf07238","type":"link out","z":"103b2b90.4d268c","name":"","links":["5f7bc418.bd44ec","f990e951.f8d7c"],"x":345,"y":90,"wires":[]},{"id":"17266148.df377f","type":"link out","z":"103b2b90.4d268c","name":"","links":["5f7bc418.bd44ec","f990e951.f8d7c"],"x":345,"y":140,"wires":[]},{"id":"b499b27e.9952e8","type":"link out","z":"103b2b90.4d268c","name":"","links":["5f7bc418.bd44ec","f990e951.f8d7c"],"x":345,"y":190,"wires":[]},{"id":"80abe081.2a5f","type":"switch","z":"103b2b90.4d268c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":255,"y":90,"wires":[["eaaacad.bf07238"]]},{"id":"8c3ae1ae.59d5e","type":"switch","z":"103b2b90.4d268c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":255,"y":140,"wires":[["17266148.df377f"]]},{"id":"c9af77e3.8fa158","type":"switch","z":"103b2b90.4d268c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":255,"y":190,"wires":[["b499b27e.9952e8"]]},{"id":"76699f3d.8bfa68","type":"link out","z":"103b2b90.4d268c","name":"","links":["5f7bc418.bd44ec","f990e951.f8d7c"],"x":345,"y":245,"wires":[]},{"id":"a8d4fae1.c1f1b8","type":"switch","z":"103b2b90.4d268c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":255,"y":245,"wires":[["76699f3d.8bfa68"]]},{"id":"5e24440a.e17efc","type":"function","z":"103b2b90.4d268c","name":"","func":"var new_state = msg.data.new_state\nmsg.payload = new_state.attributes.friendly_name + \" Motion Sensor Triggered. Please investigate IMMEDIATELY. #Security #Motion #Emergency\"\nreturn msg;","outputs":1,"noerr":0,"x":455,"y":675,"wires":[["8d686699.8f521"]]},{"id":"1a5c311c.e04027","type":"debug","z":"103b2b90.4d268c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":435,"y":295,"wires":[]},{"id":"c0c12797.9a9da8","type":"api-current-state","z":"103b2b90.4d268c","name":"Someone Home","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_family_state_raw","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"family_state","override_data":"msg","x":185,"y":555,"wires":[["140273c0.cd0b3c"]]},{"id":"140273c0.cd0b3c","type":"switch","z":"103b2b90.4d268c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"20","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":340,"y":555,"wires":[["5fa93082.e93a1"]]},{"id":"5fa93082.e93a1","type":"function","z":"103b2b90.4d268c","name":"","func":"var new_state = msg.data.new_state\n\nmsg.payload = new_state.attributes.friendly_name + \" Has Been Opened. Please investigate IMMEDIATELY. #Security #Motion #Emergency\"\nreturn msg;","outputs":1,"noerr":0,"x":455,"y":555,"wires":[["418c5001.685a88"]]},{"id":"acb9044c.ce5f78","type":"comment","z":"103b2b90.4d268c","name":"Door Contact Opened","info":"","x":145,"y":520,"wires":[]},{"id":"90558752.3096c","type":"comment","z":"103b2b90.4d268c","name":"Motion Detected","info":"","x":125,"y":640,"wires":[]},{"id":"9bc8fe91.5afc18","type":"link in","z":"103b2b90.4d268c","name":"Sec Notifty On Contact Trigger","links":["33e5e876.0c77a","30053085.c2cd7"],"x":60,"y":555,"wires":[["c0c12797.9a9da8"]]},{"id":"33e5e876.0c77a","type":"link out","z":"103b2b90.4d268c","name":"","links":["9bc8fe91.5afc18"],"x":345,"y":295,"wires":[]},{"id":"30053085.c2cd7","type":"link out","z":"103b2b90.4d268c","name":"","links":["9bc8fe91.5afc18"],"x":345,"y":345,"wires":[]},{"id":"3f3f0e8b.8d64aa","type":"debug","z":"103b2b90.4d268c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":435,"y":345,"wires":[]},{"id":"f6601771.9a00e8","type":"inject","z":"103b2b90.4d268c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":495,"y":35,"wires":[["20674708.496ae"]]},{"id":"20674708.496ae","type":"api-current-state","z":"103b2b90.4d268c","name":"Guests Group","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.people_guests","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":670,"y":35,"wires":[["f34cd841.f376b8"]]},{"id":"f34cd841.f376b8","type":"change","z":"103b2b90.4d268c","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"data.attributes.entity_id","tot":"msg"},{"t":"delete","p":"data","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":845,"y":35,"wires":[["57d3f40d.05fc5c"]]},{"id":"57d3f40d.05fc5c","type":"switch","z":"103b2b90.4d268c","name":"Is Guest Home","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1040,"y":35,"wires":[["e11ab709.036e98"]]},{"id":"433e4972.6da5a","type":"switch","z":"103b2b90.4d268c","name":"Are We Home","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"20","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":865,"y":80,"wires":[["86615827.d20918"]]},{"id":"e11ab709.036e98","type":"api-current-state","z":"103b2b90.4d268c","name":"Someone Home","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_family_state_raw","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"family_state","override_data":"msg","x":680,"y":80,"wires":[["433e4972.6da5a"]]},{"id":"e3fa0c21.e59b2","type":"split","z":"103b2b90.4d268c","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":760,"y":125,"wires":[["941c2675.2e8fa"]]},{"id":"86615827.d20918","type":"function","z":"103b2b90.4d268c","name":"","func":"msg.payload = \"\"\nvar i;\nfor (i = 0; i < msg.parts.length; i++) {\n  msg.payload += msg.parts[i] + \",\";\n} \nreturn msg;","outputs":1,"noerr":0,"x":645,"y":125,"wires":[["e3fa0c21.e59b2"]]},{"id":"941c2675.2e8fa","type":"change","z":"103b2b90.4d268c","name":"","rules":[{"t":"delete","p":"parts","pt":"msg"},{"t":"delete","p":"family_state","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":905,"y":125,"wires":[["1eac6ced.d29433"]]},{"id":"eee8ecee.d39718","type":"api-current-state","z":"103b2b90.4d268c","name":"","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":165,"wires":[["316d3317.db7f04"]]},{"id":"1eac6ced.d29433","type":"function","z":"103b2b90.4d268c","name":"","func":"var person = msg.payload\nmsg.payload.entity_id = person\nmsg.payload = {};\nmsg.payload.entity_id = person\nreturn msg;","outputs":1,"noerr":0,"x":645,"y":165,"wires":[["eee8ecee.d39718"]]},{"id":"b84b56bc.098db","type":"function","z":"103b2b90.4d268c","name":"","func":"msg.payload = msg.data.attributes.friendly_name + \" is at \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":165,"wires":[["2c2a1344.8919a4"]]},{"id":"316d3317.db7f04","type":"switch","z":"103b2b90.4d268c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":935,"y":165,"wires":[["b84b56bc.098db"]]},{"id":"d913dd52.95b98","type":"server-state-changed","z":"103b2b90.4d268c","name":"Guests Group","server":"b27af49e.d9bd78","entityidfilter":"group.people_guests","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":480,"y":75,"wires":[["20674708.496ae"]]},{"id":"2c2a1344.8919a4","type":"function","z":"103b2b90.4d268c","name":"","func":"msg.payload = msg.payload + \". Strange that your not? #Security #Presence\"\nreturn msg;\n","outputs":1,"noerr":0,"x":935,"y":215,"wires":[["677f50d1.f3ac"]]},{"id":"8d686699.8f521","type":"subflow:5a520374.42875c","z":"103b2b90.4d268c","name":"","x":590,"y":675,"wires":[]},{"id":"418c5001.685a88","type":"subflow:5a520374.42875c","z":"103b2b90.4d268c","name":"","x":590,"y":555,"wires":[]},{"id":"677f50d1.f3ac","type":"subflow:5a520374.42875c","z":"103b2b90.4d268c","name":"","x":1070,"y":215,"wires":[]},{"id":"17d12c94.f695eb","type":"http response","z":"b3c5a6b9.91186","name":"","statusCode":"","headers":{},"x":790,"y":450,"wires":[]},{"id":"170cef65.7159e1","type":"http in","z":"b3c5a6b9.91186","name":"","url":"owntracks/stuart/phone","method":"post","upload":false,"swaggerDoc":"","x":190,"y":450,"wires":[["17d12c94.f695eb","d27b5342.e540f","be1a10d5.e98ce","6ff69d40.ba7964","7e6d4308.060554"]]},{"id":"d27b5342.e540f","type":"change","z":"b3c5a6b9.91186","name":"stuart/phone/location","rules":[{"t":"set","p":"topic","pt":"msg","to":"tracker/family/stuart/phone/location","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":430,"wires":[["7eacfba2.b1672c"]]},{"id":"7eacfba2.b1672c","type":"mqtt out","z":"b3c5a6b9.91186","name":"","topic":"","qos":"2","retain":"true","broker":"f8fa9894.75c16","x":790,"y":490,"wires":[]},{"id":"7eb673b.fb3238c","type":"comment","z":"b3c5a6b9.91186","name":"Tasker OwnTracks Report","info":"","x":210,"y":490,"wires":[]},{"id":"a4b1df3e.a5e2f","type":"function","z":"b3c5a6b9.91186","name":"","func":"var translated = {}\ntranslated.longitude = msg.payload.lon\ntranslated.latitude = msg.payload.lat\ntranslated.gps_accuracy = msg.payload.acc\ntranslated.battery_level = msg.payload.batt\nmsg.payload = translated\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":470,"wires":[["7eacfba2.b1672c"]]},{"id":"be1a10d5.e98ce","type":"change","z":"b3c5a6b9.91186","name":"tracker/family/stuart","rules":[{"t":"set","p":"topic","pt":"msg","to":"tracker/family/stuart","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":470,"wires":[["a4b1df3e.a5e2f"]]},{"id":"fa61a680.4216e","type":"http response","z":"b3c5a6b9.91186","name":"","statusCode":"","headers":{},"x":790,"y":530,"wires":[]},{"id":"d0c8eeee.0b9c28","type":"http in","z":"b3c5a6b9.91186","name":"","url":"owntracks/kareen/phone","method":"post","upload":false,"swaggerDoc":"","x":190,"y":530,"wires":[["fa61a680.4216e","187a171f.24e3b1","66dfd69d.5699e8","3d1a12fd.81d956","b96deec7.6fc72"]]},{"id":"187a171f.24e3b1","type":"change","z":"b3c5a6b9.91186","name":"kareen/phone/location","rules":[{"t":"set","p":"topic","pt":"msg","to":"tracker/family/kareen/phone/location","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":550,"wires":[["7eacfba2.b1672c"]]},{"id":"f28ecbfd.fea278","type":"function","z":"b3c5a6b9.91186","name":"","func":"var translated = {}\ntranslated.longitude = msg.payload.lon\ntranslated.latitude = msg.payload.lat\ntranslated.gps_accuracy = msg.payload.acc\ntranslated.battery_level = msg.payload.batt\nmsg.payload = translated\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":510,"wires":[["7eacfba2.b1672c"]]},{"id":"66dfd69d.5699e8","type":"change","z":"b3c5a6b9.91186","name":"tracker/family/kareen","rules":[{"t":"set","p":"topic","pt":"msg","to":"tracker/family/kareen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":510,"wires":[["f28ecbfd.fea278"]]},{"id":"3b749c9.e6005e4","type":"delay","z":"b3c5a6b9.91186","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":950,"y":900,"wires":[["d20cfc11.5f975"]]},{"id":"f910eb29.773de","type":"http request","z":"b3c5a6b9.91186","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","x":1280,"y":900,"wires":[["58080e43.e0f5c8"]]},{"id":"d20cfc11.5f975","type":"template","z":"b3c5a6b9.91186","name":"","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"http://192.168.0.201:8005/api/v1/location_basic/anderson/{{username}}","output":"str","x":1130,"y":900,"wires":[["f910eb29.773de"]]},{"id":"268ee7e.1132998","type":"debug","z":"9e19792f.bad6e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":50,"wires":[]},{"id":"d7971e4c.83722","type":"debug","z":"b3c5a6b9.91186","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":810,"wires":[]},{"id":"3d1a12fd.81d956","type":"debug","z":"b3c5a6b9.91186","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":630,"wires":[]},{"id":"b4b21bfd.4ed0e8","type":"debug","z":"b3c5a6b9.91186","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":40,"wires":[]},{"id":"4385efac.492048","type":"link in","z":"b3c5a6b9.91186","name":"","links":["2755d258.9464be","3fc65703.f5617","da6e5fb5.e90e78","6a9461b5.aca49","16c372b6.5e3175","84207611.bd9058","e51ca74a.eabd28","d30fe4c8.f4d0e"],"x":815,"y":900,"wires":[["3b749c9.e6005e4"]]},{"id":"95b08fb7.cf6488","type":"change","z":"b3c5a6b9.91186","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"username","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":50,"wires":[["9766e236.5e78"]]},{"id":"aa86945f.7eb6a8","type":"change","z":"b3c5a6b9.91186","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"stuart","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":690,"wires":[["6a9461b5.aca49"]]},{"id":"6a9461b5.aca49","type":"link out","z":"b3c5a6b9.91186","name":"","links":["4385efac.492048","8ca889a9.647938"],"x":735,"y":690,"wires":[]},{"id":"65f63b67.2ec1a4","type":"change","z":"b3c5a6b9.91186","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"kareen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":810,"wires":[["16c372b6.5e3175"]]},{"id":"16c372b6.5e3175","type":"link out","z":"b3c5a6b9.91186","name":"","links":["4385efac.492048","8ca889a9.647938"],"x":735,"y":810,"wires":[]},{"id":"b96deec7.6fc72","type":"change","z":"b3c5a6b9.91186","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"kareen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":590,"wires":[["84207611.bd9058"]]},{"id":"84207611.bd9058","type":"link out","z":"b3c5a6b9.91186","name":"","links":["4385efac.492048","8ca889a9.647938","bd989741.103328","2e1f6f94.09fac"],"x":595,"y":590,"wires":[]},{"id":"6ff69d40.ba7964","type":"change","z":"b3c5a6b9.91186","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"stuart","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":390,"wires":[["e51ca74a.eabd28"]]},{"id":"e51ca74a.eabd28","type":"link out","z":"b3c5a6b9.91186","name":"","links":["4385efac.492048","8ca889a9.647938","2e1f6f94.09fac","bd989741.103328"],"x":595,"y":390,"wires":[]},{"id":"d73f1869.aa3038","type":"server-state-changed","z":"9e19792f.bad6e8","name":"Bedtime Selected","server":"b27af49e.d9bd78","entityidfilter":"input_select.family_family_act_bedtime","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Bed Time","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":460,"wires":[["188458b.3235527"],["bc52fec7.d81758"]]},{"id":"bc52fec7.d81758","type":"delay","z":"9e19792f.bad6e8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":480,"wires":[["53092bc8.23f6e4"]]},{"id":"188458b.3235527","type":"change","z":"9e19792f.bad6e8","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":440,"wires":[["bc52fec7.d81758","24c8ce69.dd5452"]]},{"id":"24c8ce69.dd5452","type":"template","z":"9e19792f.bad6e8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Cancelled","output":"str","x":430,"y":440,"wires":[[]]},{"id":"ab2e8a07.1b4368","type":"mqtt out","z":"9e19792f.bad6e8","name":"","topic":"","qos":"","retain":"","broker":"f8fa9894.75c16","x":562,"y":480,"wires":[]},{"id":"53092bc8.23f6e4","type":"function","z":"9e19792f.bad6e8","name":"","func":"msg.topic = \"iot/scene/house\";\nmsg.payload = \"Going To Bed\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":480,"wires":[["ab2e8a07.1b4368"]]},{"id":"af3ae1a2.6ae698","type":"function","z":"9e19792f.bad6e8","name":"Bedtime Selector","func":"study = {}\nstudy.payload = {}\nstudy.payload.service = \"select_option\"\nstudy.payload.domain = \"input_select\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"input_select.family_family_act_bedtime\"\nstudy.payload.data.option = \"Idle\"\nreturn study;","outputs":1,"noerr":0,"x":338,"y":584,"wires":[["f7b7bdba.76eaf"]]},{"id":"f7b7bdba.76eaf","type":"api-call-service","z":"9e19792f.bad6e8","name":"","server":"b27af49e.d9bd78","service_domain":"","service":"","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":492,"y":582,"wires":[[]]},{"id":"dd086563.ce18a","type":"comment","z":"9e19792f.bad6e8","name":"House Hold State","info":"","x":100,"y":20,"wires":[]},{"id":"fcff7cc7.2bbdf8","type":"comment","z":"9e19792f.bad6e8","name":"Leaving/Entering The House","info":"","x":130,"y":210,"wires":[]},{"id":"92e08286.4b9b18","type":"comment","z":"9e19792f.bad6e8","name":"React to Family State","info":"","x":110,"y":420,"wires":[]},{"id":"59e8291d.4fb1e","type":"debug","z":"86a2cb87.41be4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":570,"wires":[]},{"id":"80be70af.503e88","type":"inject","z":"86a2cb87.41be4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":350,"wires":[["7c5422a2.4f2ab4"]]},{"id":"cb1af460.80d0a","type":"api-current-state","z":"70e66d25.f95abc","name":"Light Scene","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.light_scene","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":270,"y":540,"wires":[["4da8aec.30d5ad"]]},{"id":"726cee37.c925b","type":"api-current-state","z":"70e66d25.f95abc","name":"Light Scene","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.light_scene","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":270,"y":750,"wires":[["234bbdde.832572"]]},{"id":"45424dd4.c8a3d4","type":"api-current-state","z":"70e66d25.f95abc","name":"Light Scene","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.light_scene","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":300,"y":940,"wires":[["3c658d67.9c9362"]]},{"id":"2055cd2d.add212","type":"server-state-changed","z":"70e66d25.f95abc","name":"Light Scene","server":"b27af49e.d9bd78","entityidfilter":"sensor.light_scene","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":80,"y":530,"wires":[["229aaa95.ad1d36"]]},{"id":"914ba5f3.428198","type":"server-state-changed","z":"70e66d25.f95abc","name":"Light Scene","server":"b27af49e.d9bd78","entityidfilter":"sensor.light_scene","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":80,"y":740,"wires":[["eaf91452.1bd228"]]},{"id":"e5847b35.5b671","type":"server-state-changed","z":"70e66d25.f95abc","name":"Light Scene","server":"b27af49e.d9bd78","entityidfilter":"sensor.light_scene","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":80,"y":930,"wires":[["e15ba101.87f768"]]},{"id":"310dc9c0.9235ee","type":"server-state-changed","z":"70e66d25.f95abc","name":"Lighting Scene Selected","server":"b27af49e.d9bd78","entityidfilter":"input_select.light_scene","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Off","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":890,"y":80,"wires":[["55b15016.cb1a8"],["a70e5e4e.4de7f8"]]},{"id":"bcfb2056.def0d8","type":"debug","z":"70e66d25.f95abc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1390,"y":60,"wires":[]},{"id":"a70e5e4e.4de7f8","type":"delay","z":"70e66d25.f95abc","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":100,"wires":[["8083c247.030a3"]]},{"id":"55b15016.cb1a8","type":"change","z":"70e66d25.f95abc","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":60,"wires":[["a70e5e4e.4de7f8","d246beb9.9b48b8"]]},{"id":"d246beb9.9b48b8","type":"template","z":"70e66d25.f95abc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Cancelled","output":"str","x":1240,"y":60,"wires":[["bcfb2056.def0d8"]]},{"id":"767d04c8.d6e2f4","type":"mqtt out","z":"70e66d25.f95abc","name":"","topic":"","qos":"","retain":"","broker":"f8fa9894.75c16","x":1410,"y":100,"wires":[]},{"id":"8083c247.030a3","type":"function","z":"70e66d25.f95abc","name":"","func":"msg.topic = \"iot/scene/lights\";\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":100,"wires":[["767d04c8.d6e2f4"]]},{"id":"a83f978d.14d31","type":"comment","z":"70e66d25.f95abc","name":"React to Family State","info":"","x":920,"y":40,"wires":[]},{"id":"126088b4.cbc067","type":"comment","z":"86a2cb87.41be4","name":"HouseScene - Going To Bed","info":"","x":190,"y":310,"wires":[]},{"id":"f5183a0d.83fb08","type":"function","z":"86a2cb87.41be4","name":"House Lighting","func":"function default_on(entity_id) {\n\tvar default_on = {}\n\tdefault_on.payload = {}\n\tdefault_on.payload.service = \"turn_on\"\n\tdefault_on.payload.domain = \"light\"\n\tdefault_on.payload.data = {}\n\tdefault_on.payload.data.transition = 5\n\tdefault_on.payload.data.brightness = 150\n\tdefault_on.payload.data.rgb_color = [255,207,120]\n\tdefault_on.payload.data.entity_id = entity_id\n\treturn default_on\n}\n\nfunction default_off(entity_id) {\n\tvar default_off = {}\n\tdefault_off.payload = {}\n\tdefault_off.payload.service = \"turn_off\"\n\tdefault_off.payload.domain = \"light\"\n\tdefault_off.payload.data = {}\n\tdefault_off.payload.data.entity_id = entity_id\n\treturn default_off\n}\n\nfunction default_on_switch(entity_id) {\n\tvar default_on = {}\n\tdefault_on.payload = {}\n\tdefault_on.payload.service = \"turn_on\"\n\tdefault_on.payload.domain = \"switch\"\n\tdefault_on.payload.data = {}\n\tdefault_on.payload.data.entity_id = entity_id\n\treturn default_on\n}\n\nfunction default_off_switch(entity_id) {\n\tvar default_on = {}\n\tdefault_on.payload = {}\n\tdefault_on.payload.service = \"turn_off\"\n\tdefault_on.payload.domain = \"switch\"\n\tdefault_on.payload.data = {}\n\tdefault_on.payload.data.entity_id = entity_id\n\treturn default_on\n}\n\nvar outputs = []\n\noutputs.push(default_off(\"group.lights_gf_dinning\"));\noutputs.push(default_off(\"light.gf_hallway_celing\"));\noutputs.push(default_off(\"light.gf_dinning_cooker\"));\noutputs.push(default_off(\"light.gf_dinning_dishwahser\"));\noutputs.push(default_off(\"light.gf_dinning_door_way\"));\noutputs.push(default_off(\"light.gf_dinning_sink\"));\noutputs.push(default_off(\"light.gf_living_celing\"));\noutputs.push(default_off(\"light.gf_living_lamp\"));\noutputs.push(default_off(\"group.lights_gf_studio\"));\n\nreturn outputs;","outputs":9,"noerr":0,"x":360,"y":720,"wires":[["2f47aafb.8d3276"],["2f47aafb.8d3276"],["2f47aafb.8d3276"],["2f47aafb.8d3276"],["2f47aafb.8d3276"],["2f47aafb.8d3276"],["2f47aafb.8d3276"],["2f47aafb.8d3276"],["2f47aafb.8d3276"]]},{"id":"2f47aafb.8d3276","type":"delay","z":"86a2cb87.41be4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":710,"wires":[["3139f976.9e604e"]]},{"id":"3139f976.9e604e","type":"api-call-service","z":"86a2cb87.41be4","name":"","server":"b27af49e.d9bd78","service_domain":"","service":"","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":725,"y":710,"wires":[["81eebe37.26b5d"]]},{"id":"81eebe37.26b5d","type":"debug","z":"86a2cb87.41be4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":745,"y":770,"wires":[]},{"id":"ab8f5b30.0c7068","type":"inject","z":"86a2cb87.41be4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":750,"wires":[["f5183a0d.83fb08"]]},{"id":"39bf4048.ae8748","type":"delay","z":"86a2cb87.41be4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":690,"wires":[["f5183a0d.83fb08"]]},{"id":"5465a383.390894","type":"function","z":"b3c5a6b9.91186","name":"","func":"msg.topic = \"tracker/family/\" + msg.username + \"/room\";\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":100,"wires":[["dde5ebc.2e38818","98642181.a99e38"]]},{"id":"c2f6a5a9.eb81d8","type":"json","z":"b3c5a6b9.91186","name":"","property":"payload","action":"","pretty":false,"x":850,"y":100,"wires":[["5465a383.390894"]]},{"id":"1c9a37a5.d82f38","type":"http request","z":"b3c5a6b9.91186","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","x":1010,"y":50,"wires":[["c2f6a5a9.eb81d8"]]},{"id":"9766e236.5e78","type":"template","z":"b3c5a6b9.91186","name":"","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"http://192.168.0.201:8005/api/v1/location_basic/anderson/{{username}}","output":"str","x":860,"y":50,"wires":[["1c9a37a5.d82f38"]]},{"id":"2427b0e.2d760d","type":"mqtt out","z":"b3c5a6b9.91186","name":"","topic":"","qos":"","retain":"true","broker":"f8fa9894.75c16","x":1240,"y":950,"wires":[]},{"id":"dde5ebc.2e38818","type":"mqtt out","z":"b3c5a6b9.91186","name":"","topic":"","qos":"","retain":"true","broker":"f8fa9894.75c16","x":1110,"y":100,"wires":[]},{"id":"b479e9bd.c6cc1","type":"http response","z":"b3c5a6b9.91186","name":"","statusCode":"","headers":{},"x":1110,"y":150,"wires":[]},{"id":"98642181.a99e38","type":"function","z":"b3c5a6b9.91186","name":"","func":"var room = msg.payload.data.loc\nmsg.payload = {}\nmsg.payload.message = room\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":150,"wires":[["b479e9bd.c6cc1"]]},{"id":"7e6d4308.060554","type":"debug","z":"b3c5a6b9.91186","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":350,"wires":[]},{"id":"f5c3d558.8ad27","type":"debug","z":"b3c5a6b9.91186","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":920,"wires":[]},{"id":"9b3e6916.ba744","type":"debug","z":"b3c5a6b9.91186","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":880,"wires":[]},{"id":"a49c05de.3253b8","type":"http in","z":"85b0aa49.11501","name":"","url":"/owntracks/kareen/phone","method":"get","upload":false,"swaggerDoc":"","x":180,"y":100,"wires":[["f1e531af.624738"]]},{"id":"22824f76.049ec","type":"http response","z":"85b0aa49.11501","name":"","statusCode":"","headers":{},"x":810,"y":100,"wires":[]},{"id":"f1e531af.624738","type":"api-current-state","z":"85b0aa49.11501","name":"","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.kareen","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":490,"y":100,"wires":[["711a8f64.28d0e8"]]},{"id":"711a8f64.28d0e8","type":"function","z":"85b0aa49.11501","name":"","func":"msg.payload = msg.data.attributes.latitude + \",\" + msg.data.attributes.longitude\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":100,"wires":[["22824f76.049ec"]]},{"id":"f1f26851.6db7f","type":"http in","z":"85b0aa49.11501","name":"","url":"/uptimerobot","method":"get","upload":false,"swaggerDoc":"","x":140,"y":30,"wires":[["23593c0d.d5b88c"]]},{"id":"23593c0d.d5b88c","type":"template","z":"85b0aa49.11501","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ok","output":"str","x":340,"y":30,"wires":[["86b567c2.f9a6"]]},{"id":"86b567c2.f9a6","type":"http response","z":"85b0aa49.11501","name":"","statusCode":"","headers":{},"x":470,"y":30,"wires":[]},{"id":"ef34059e.0289c","type":"delay","z":"f43c2fc4.f37718","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":260,"y":80,"wires":[["741feabc.0ed4c4"]]},{"id":"6b2dbce1.ffa46c","type":"delay","z":"ea135125.978e8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":280,"y":70,"wires":[["6f8b109b.a16a68"]]},{"id":"84dd93d4.9a92e8","type":"delay","z":"6b5456e0.047d7","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":270,"y":70,"wires":[["6092a5dd.53137c"]]},{"id":"cfc3c812.c5e338","type":"api-current-state","z":"85b0aa49.11501","name":"","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":390,"y":160,"wires":[["e6093f2e.5772c"]]},{"id":"e6093f2e.5772c","type":"template","z":"85b0aa49.11501","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{data.attributes.elevation}}","output":"str","x":580,"y":160,"wires":[["f17d299e.38602"]]},{"id":"fc54ea05.f0aa7","type":"http in","z":"85b0aa49.11501","name":"","url":"/debug/sun","method":"get","upload":false,"swaggerDoc":"","x":130,"y":160,"wires":[["cfc3c812.c5e338"]]},{"id":"f17d299e.38602","type":"http response","z":"85b0aa49.11501","name":"","statusCode":"","headers":{},"x":720,"y":160,"wires":[]},{"id":"bcc92535.b3a558","type":"function","z":"b3c5a6b9.91186","name":"","func":"var payload = msg.payload\n\nmsg.topic = payload.note\n\nmsg.payload = \"not_home\"\n\nreturn msg;\n\n/*\n{\n  \"topic\": \"location/paulus\",\n  \"payload\": \"home\"\n}\n*/","outputs":1,"noerr":0,"x":760,"y":1310,"wires":[["df641793.019ac","c5f61886.53a22"]]},{"id":"df641793.019ac","type":"debug","z":"b3c5a6b9.91186","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":1310,"wires":[]},{"id":"c5f61886.53a22","type":"mqtt out","z":"b3c5a6b9.91186","name":"","topic":"","qos":"2","retain":"true","broker":"f8fa9894.75c16","x":910,"y":1270,"wires":[]},{"id":"90aafda3.0e037","type":"change","z":"b3c5a6b9.91186","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.note","tot":"msg"},{"t":"change","p":"expected","pt":"msg","from":"payload.note","fromt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1310,"wires":[["bcc92535.b3a558"]]},{"id":"88baa017.37e96","type":"switch","z":"b3c5a6b9.91186","name":"","property":"payload.note","propertyType":"msg","rules":[{"t":"cont","v":"network/guest/","vt":"str"},{"t":"cont","v":"known","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":430,"y":1310,"wires":[["90aafda3.0e037"],[],["87aa48aa.66df7"]]},{"id":"48a87520.723264","type":"delay","z":"b3c5a6b9.91186","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":110,"y":1260,"wires":[["1cfb6706.4d3a91"]]},{"id":"d4ea32f9.945ca","type":"function","z":"b3c5a6b9.91186","name":"","func":"msg.payload.last_seen_diff = msg.payload.now - ( msg.payload.last_seen * 1000 )\nmsg.payload.last_seen_diff = Math.round(msg.payload.last_seen_diff / 1000)\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1250,"wires":[["b0ee1eb4.426798","88baa017.37e96"]]},{"id":"1cfb6706.4d3a91","type":"array-loop","z":"b3c5a6b9.91186","name":"","key":"al53917377e8ea0c","keyType":"msg","reset":false,"resetValue":"value-null","array":"parts","arrayType":"msg","x":110,"y":1210,"wires":[["ae161a55.e364"],["c4fc9292.a9555","48a87520.723264"]]},{"id":"c4fc9292.a9555","type":"switch","z":"b3c5a6b9.91186","name":"","property":"payload.essid","propertyType":"msg","rules":[{"t":"eq","v":"NxFriends","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":250,"y":1210,"wires":[["c3dbbb58.d2f2d8","2df62f83.0b47d"],[]]},{"id":"2df62f83.0b47d","type":"change","z":"b3c5a6b9.91186","name":"","rules":[{"t":"set","p":"payload.now","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1210,"wires":[["d4ea32f9.945ca"]]},{"id":"b0ee1eb4.426798","type":"debug","z":"b3c5a6b9.91186","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":1250,"wires":[]},{"id":"43e54c8f.3af7f4","type":"change","z":"b3c5a6b9.91186","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"payload[0]","tot":"msg"},{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"expected","pt":"msg","to":"network/guest/allan,network/guest/colin,network/guest/irene,network/guest/john,network/guest/kayleigh,network/guest/kev,network/guest/khristen,network/guest/maureen,network/guest/mecha,network/guest/scott,network/guest/steve,network/guest/devphone,","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":1170,"wires":[["1cfb6706.4d3a91"]]},{"id":"ae161a55.e364","type":"change","z":"b3c5a6b9.91186","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"expected","tot":"msg"},{"t":"delete","p":"expected","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1130,"wires":[["335d955d.4b4c2a"]]},{"id":"c3dbbb58.d2f2d8","type":"debug","z":"b3c5a6b9.91186","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":1170,"wires":[]},{"id":"6baeabbd.a0b7fc","type":"Unifi","z":"b3c5a6b9.91186","name":"Odin","ip":"192.168.0.201","port":8443,"site":"default","command":"20","x":90,"y":1130,"wires":[["43e54c8f.3af7f4"]]},{"id":"335d955d.4b4c2a","type":"split","z":"b3c5a6b9.91186","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":500,"y":1130,"wires":[["e5591b11.5d395","a87c0e17.ba75a"]]},{"id":"e883a055.f46","type":"inject","z":"b3c5a6b9.91186","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/3 7-23 * * *","once":false,"onceDelay":0.1,"x":110,"y":1090,"wires":[["6baeabbd.a0b7fc"]]},{"id":"e5591b11.5d395","type":"switch","z":"b3c5a6b9.91186","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"false","repair":false,"outputs":1,"x":620,"y":1130,"wires":[["8cb8f420.c47e28"]]},{"id":"a87c0e17.ba75a","type":"debug","z":"b3c5a6b9.91186","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":1090,"wires":[]},{"id":"8cb8f420.c47e28","type":"change","z":"b3c5a6b9.91186","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1130,"wires":[["714290df.510248"]]},{"id":"714290df.510248","type":"function","z":"b3c5a6b9.91186","name":"","func":"msg.payload = \"not_home\"\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":1130,"wires":[["b4af8cfb.4da288","b38f9f64.e1034"]]},{"id":"b4af8cfb.4da288","type":"debug","z":"b3c5a6b9.91186","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1070,"y":1130,"wires":[]},{"id":"b38f9f64.e1034","type":"mqtt out","z":"b3c5a6b9.91186","name":"","topic":"","qos":"2","retain":"true","broker":"f8fa9894.75c16","x":1070,"y":1090,"wires":[]},{"id":"7daec4a8.87737c","type":"comment","z":"b3c5a6b9.91186","name":"UniFi Guest Network","info":"","x":320,"y":1090,"wires":[]},{"id":"f8bf31a3.ea7aa","type":"inject","z":"85b0aa49.11501","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":280,"wires":[["8d99fda7.cf702"]]},{"id":"8d99fda7.cf702","type":"api-current-state","z":"85b0aa49.11501","name":"","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"weather.dark_sky","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":280,"wires":[["deb9e818.dfa778"]]},{"id":"fd8421ed.c27a7","type":"debug","z":"85b0aa49.11501","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":280,"wires":[]},{"id":"deb9e818.dfa778","type":"change","z":"85b0aa49.11501","name":"","rules":[{"t":"delete","p":"data.attributes.forecast","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":280,"wires":[["af04a255.384738"]]},{"id":"af04a255.384738","type":"json","z":"85b0aa49.11501","name":"","property":"payload","action":"","pretty":false,"x":850,"y":280,"wires":[["fd8421ed.c27a7"]]},{"id":"f18ccabf.23d82","type":"switch","z":"4d697121.6b434","name":"","property":"tts","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":180,"y":120,"wires":[["63ea6a90.53f8c4"]]},{"id":"63ea6a90.53f8c4","type":"function","z":"4d697121.6b434","name":"Prep Data","func":"var payload = msg.payload\n\nmsg.payload = {}\nmsg.payload.data = {}\nmsg.payload.data.target = msg.tts.target\nmsg.payload.data.data = {}\nmsg.payload.data.data.type = \"announce\"\nmsg.payload.data.message = payload\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["e8e13c93.72b"]]},{"id":"e8e13c93.72b","type":"api-call-service","z":"4d697121.6b434","name":"Alexa Media","server":"b27af49e.d9bd78","service_domain":"notify","service":"alexa_media","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":480,"y":120,"wires":[[]]},{"id":"a9a58758.1ed16","type":"function","z":"b3c5a6b9.91186","name":"","func":"msg.wifi_known_guests_updated = msg.wifi_known_guests + msg.payload.mac + \",\"\nmsg.payload = \"A new device joined the guest network\"\nmsg.tts = {}\nmsg.tts.target = \"media_player.study\"\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1430,"wires":[["aeb98de.a04a1f","82660a1d.22051"]]},{"id":"92a81015.e4ab8","type":"change","z":"b3c5a6b9.91186","name":"Known WiFi Guests","rules":[{"t":"set","p":"wifi_known_guests","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1050,"wires":[[]]},{"id":"fd3a6045.32cae8","type":"inject","z":"b3c5a6b9.91186","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1050,"wires":[["92a81015.e4ab8"]]},{"id":"41c41909.779f98","type":"change","z":"b3c5a6b9.91186","name":"Known WiFi Guests","rules":[{"t":"set","p":"wifi_known_guests","pt":"msg","to":"wifi_known_guests","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1390,"wires":[["a9a58758.1ed16"]]},{"id":"aeb98de.a04a1f","type":"change","z":"b3c5a6b9.91186","name":"Known WiFi Guests","rules":[{"t":"set","p":"wifi_known_guests","pt":"flow","to":"wifi_known_guests_updated","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1460,"wires":[[]]},{"id":"87aa48aa.66df7","type":"switch","z":"b3c5a6b9.91186","name":"","property":"wifi_known_guests","propertyType":"flow","rules":[{"t":"cont","v":"payload.mac","vt":"msg"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":560,"y":1350,"wires":[["2550c6cc.783bfa"],["41c41909.779f98"]]},{"id":"2550c6cc.783bfa","type":"debug","z":"b3c5a6b9.91186","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":760,"y":1350,"wires":[]},{"id":"82660a1d.22051","type":"subflow:4d697121.6b434","z":"b3c5a6b9.91186","name":"","x":800,"y":1420,"wires":[]},{"id":"dd81e9fe.2964a","type":"debug","z":"b3c5a6b9.91186","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":980,"y":710,"wires":[]},{"id":"90e903be.b3ebb8","type":"switch","z":"9e19792f.bad6e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"9","vt":"num"}],"checkall":"true","repair":false,"outputs":9,"x":298,"y":680,"wires":[["ae5dce8.5aa7f3"],["ae5dce8.5aa7f3"],["ae5dce8.5aa7f3"],["f7af3ca5.b9c9d"],["f7af3ca5.b9c9d"],["f7af3ca5.b9c9d"],["d16fba32.df7708"],["30d32bba.c5d0a4"],["641d951a.7d0ae4"]]},{"id":"4b88dc43.0923b4","type":"delay","z":"b34303b6.e141a8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":70,"wires":[["f198db36.5c30b"]]},{"id":"df77309f.f30d48","type":"link in","z":"9e19792f.bad6e8","name":"Family State 4,5,6","links":["f7af3ca5.b9c9d"],"x":735,"y":552,"wires":[["65e26b3e.a253fc","5a9b87f1.9de62"]]},{"id":"7f15c9b1.77d7b","type":"mqtt out","z":"9e19792f.bad6e8","name":"","topic":"iot/scene/house","qos":"","retain":"true","broker":"f8fa9894.75c16","x":1000,"y":552,"wires":[]},{"id":"f7af3ca5.b9c9d","type":"link out","z":"9e19792f.bad6e8","name":"","links":["df77309f.f30d48"],"x":415,"y":680,"wires":[]},{"id":"5bd0a316.666fe4","type":"comment","z":"9e19792f.bad6e8","name":"Family State 4,5,6","info":"","x":810,"y":512,"wires":[]},{"id":"ac701ef9.f9e15","type":"link in","z":"9e19792f.bad6e8","name":"Family State 0,1,2","links":["ae5dce8.5aa7f3"],"x":735,"y":424,"wires":[["9fbe44b9.f91a7","d1b03d8f.d7a53"]]},{"id":"6f5c0b50.3fef14","type":"comment","z":"9e19792f.bad6e8","name":"Family State 0,1,2","info":"","x":810,"y":384,"wires":[]},{"id":"d1b03d8f.d7a53","type":"subflow:e33ca006.baadb8","z":"9e19792f.bad6e8","name":"","env":[],"x":858,"y":464,"wires":[]},{"id":"9fbe44b9.f91a7","type":"template","z":"9e19792f.bad6e8","name":"Empty","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Empty","output":"str","x":818,"y":424,"wires":[["34cec9c.96aadb6"]]},{"id":"34cec9c.96aadb6","type":"mqtt out","z":"9e19792f.bad6e8","name":"","topic":"iot/scene/house","qos":"","retain":"true","broker":"f8fa9894.75c16","x":992,"y":424,"wires":[]},{"id":"ae5dce8.5aa7f3","type":"link out","z":"9e19792f.bad6e8","name":"","links":["ac701ef9.f9e15"],"x":415,"y":640,"wires":[]},{"id":"e3adfdf7.eb1c78","type":"comment","z":"9e19792f.bad6e8","name":"Family State 7 (Kareen Asleep)","info":"","x":850,"y":648,"wires":[]},{"id":"fa22cb9b.2d74d","type":"template","z":"9e19792f.bad6e8","name":"Asleep","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Asleep","output":"str","x":836,"y":728,"wires":[["6f04aaea.a1bb6c"]]},{"id":"3ab17684.d872da","type":"link in","z":"9e19792f.bad6e8","name":"Family State 7","links":["d16fba32.df7708"],"x":735,"y":688,"wires":[["8755eea0.548908","fa22cb9b.2d74d"]]},{"id":"6f04aaea.a1bb6c","type":"mqtt out","z":"9e19792f.bad6e8","name":"","topic":"iot/scene/house","qos":"","retain":"true","broker":"f8fa9894.75c16","x":992,"y":728,"wires":[]},{"id":"93849bda.5edfe","type":"comment","z":"9e19792f.bad6e8","name":"Family State 8 (Stuart Asleep)","info":"","x":1218,"y":648,"wires":[]},{"id":"4d1e0bbf.715f74","type":"template","z":"9e19792f.bad6e8","name":"Asleep","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Asleep","output":"str","x":1204,"y":728,"wires":[["ebeb7b15.c29e78"]]},{"id":"ebeb7b15.c29e78","type":"mqtt out","z":"9e19792f.bad6e8","name":"","topic":"iot/scene/house","qos":"","retain":"true","broker":"f8fa9894.75c16","x":1360,"y":728,"wires":[]},{"id":"ebc9e38b.6e7c2","type":"link in","z":"9e19792f.bad6e8","name":"","links":["30d32bba.c5d0a4"],"x":1103,"y":688,"wires":[["4d1e0bbf.715f74","ec38b034.e9993"]]},{"id":"d16fba32.df7708","type":"link out","z":"9e19792f.bad6e8","name":"","links":["3ab17684.d872da"],"x":455,"y":704,"wires":[]},{"id":"30d32bba.c5d0a4","type":"link out","z":"9e19792f.bad6e8","name":"","links":["ebc9e38b.6e7c2"],"x":455,"y":736,"wires":[]},{"id":"641d951a.7d0ae4","type":"link out","z":"9e19792f.bad6e8","name":"","links":["55904df2.62918c"],"x":455,"y":768,"wires":[]},{"id":"3bbb5487.9efef4","type":"comment","z":"9e19792f.bad6e8","name":"Family State 9 (Both Asleep)","info":"","x":832,"y":792,"wires":[]},{"id":"d414f511.9b00c8","type":"template","z":"9e19792f.bad6e8","name":"Asleep","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Asleep","output":"str","x":828,"y":872,"wires":[["5b606b80.f52654"]]},{"id":"5b606b80.f52654","type":"mqtt out","z":"9e19792f.bad6e8","name":"","topic":"iot/scene/house","qos":"","retain":"true","broker":"f8fa9894.75c16","x":984,"y":872,"wires":[]},{"id":"55904df2.62918c","type":"link in","z":"9e19792f.bad6e8","name":"","links":["641d951a.7d0ae4"],"x":727,"y":832,"wires":[["d414f511.9b00c8","c44dd14.9cd8c3"]]},{"id":"bb8e6255.331cf8","type":"inject","z":"9e19792f.bad6e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":92,"y":544,"wires":[["519da940.287aa8"]]},{"id":"519da940.287aa8","type":"api-current-state","z":"9e19792f.bad6e8","name":"Family State","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_family_state_raw","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":101,"y":584,"wires":[["af3ae1a2.6ae698","90e903be.b3ebb8"]]},{"id":"7c5422a2.4f2ab4","type":"exec","z":"86a2cb87.41be4","command":"/config/node-red/shell/bin/emby_evening_music.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":480,"y":360,"wires":[[],[],[]]},{"id":"24df461e.8a7a0a","type":"api-current-state","z":"f43c2fc4.f37718","name":"Study Plex Alexa Status","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.plex_ff_study_alexa","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":294,"y":728,"wires":[["d45aa3ff.6b7288"]]},{"id":"ea39dc4d.451d4","type":"inject","z":"f43c2fc4.f37718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":728,"wires":[["24df461e.8a7a0a"]]},{"id":"d45aa3ff.6b7288","type":"debug","z":"f43c2fc4.f37718","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":494,"y":728,"wires":[]},{"id":"39b28fbc.8ddf","type":"api-current-state","z":"db2d12c6.e8984","name":"FireTV","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.kitchen_fire_tv_stick","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":448,"wires":[["8054a174.01283"]]},{"id":"3b4e0658.cbebb2","type":"inject","z":"db2d12c6.e8984","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":172,"y":440,"wires":[["39b28fbc.8ddf"]]},{"id":"8054a174.01283","type":"debug","z":"db2d12c6.e8984","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":488,"y":448,"wires":[]},{"id":"1456ff6d.fad4f9","type":"delay","z":"db2d12c6.e8984","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":272,"y":64,"wires":[["60c49b98.23d224"]]},{"id":"a8a6b900.ac29f","type":"server-state-changed","z":"103b2b90.4d268c","name":"Family Group","server":"b27af49e.d9bd78","entityidfilter":"person\\..+","entityidfiltertype":"regex","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":694,"y":336,"wires":[[],["26d83b59.cb9c84","15afaea8.64b6a9"]]},{"id":"26d83b59.cb9c84","type":"function","z":"103b2b90.4d268c","name":"","func":"msg.payload = {};\nmsg.payload.name = msg.data.new_state.attributes.friendly_name\nmsg.payload.tracker = msg.data.new_state.attributes.source\nmsg.payload.state = msg.data.new_state.state\n\n\nreturn msg;","outputs":1,"noerr":0,"x":858,"y":336,"wires":[["8633c3a3.3f7338","969ca4f.5563058"]]},{"id":"8633c3a3.3f7338","type":"change","z":"103b2b90.4d268c","name":"","rules":[{"t":"delete","p":"data","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":738,"y":384,"wires":[["772c51d.8bf543"]]},{"id":"772c51d.8bf543","type":"function","z":"103b2b90.4d268c","name":"","func":"var person = msg.payload\n\nmsg.payload = person.name + \" just arrived, as reported by \" + person.tracker\nreturn msg;","outputs":1,"noerr":0,"x":1058,"y":384,"wires":[["393fe0cd.05b8a","c188a879.c7703"]]},{"id":"393fe0cd.05b8a","type":"subflow:94219112.b2c818","z":"103b2b90.4d268c","name":"","x":1032,"y":336,"wires":[]},{"id":"15afaea8.64b6a9","type":"debug","z":"103b2b90.4d268c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":858,"y":296,"wires":[]},{"id":"969ca4f.5563058","type":"debug","z":"103b2b90.4d268c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1002,"y":296,"wires":[]},{"id":"c188a879.c7703","type":"debug","z":"103b2b90.4d268c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1058,"y":424,"wires":[]},{"id":"dd626ccd.b875","type":"function","z":"85b0aa49.11501","name":"","func":"msg.payload = \"Hiya\"\nmsg.tts = {}\nmsg.tts.target = \"media_player.everywhere\"\nreturn msg;","outputs":1,"noerr":0,"x":346,"y":408,"wires":[["a521b431.014e5"]]},{"id":"a521b431.014e5","type":"subflow:4d697121.6b434","z":"85b0aa49.11501","name":"","env":[],"x":476,"y":408,"wires":[]},{"id":"6837ba9a.dc52fc","type":"inject","z":"85b0aa49.11501","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":164,"y":408,"wires":[["dd626ccd.b875"]]}]