homeassistant/node-red/flows.json
[{"id":"9e19792f.bad6e8","type":"tab","label":"Family","disabled":false,"info":""},{"id":"70e66d25.f95abc","type":"tab","label":"React Lighting","disabled":false,"info":""},{"id":"86a2cb87.41be4","type":"tab","label":"House Scenes","disabled":false,"info":""},{"id":"7c4edcbf.0aba1c","type":"tab","label":"Web","disabled":false,"info":""},{"id":"103b2b90.4d268c","type":"tab","label":"Security","disabled":false,"info":""},{"id":"f43c2fc4.f37718","type":"tab","label":"Room/Study","disabled":false,"info":""},{"id":"db2d12c6.e8984","type":"tab","label":"Room/Kitchen","disabled":false,"info":""},{"id":"ea135125.978e8","type":"tab","label":"Room/Lounge","disabled":false,"info":""},{"id":"6b5456e0.047d7","type":"tab","label":"Room/Bedroom","disabled":false,"info":""},{"id":"b3c5a6b9.91186","type":"tab","label":"Tracker Room","disabled":false,"info":""},{"id":"85b0aa49.11501","type":"tab","label":"API Proxy","disabled":false,"info":""},{"id":"a87fba0b.d47658","type":"tab","label":"Driving Alerts","disabled":false,"info":""},{"id":"a851d623.c788e8","type":"tab","label":"Scripts","disabled":false,"info":""},{"id":"e33ca006.baadb8","type":"subflow","name":"FamilyScene - Off","info":"","category":"","in":[{"x":25,"y":25,"wires":[{"id":"e4b4885.13e2678"}]}],"out":[],"env":[]},{"id":"84850539.36296","type":"subflow","name":"House Occupied","info":"","category":"","in":[{"x":25,"y":25,"wires":[{"id":"7de0c9ce.b72d4"}]}],"out":[],"env":[]},{"id":"9e429f2c.47f6","type":"subflow","name":"Check State","info":"","category":"","in":[{"x":50,"y":80,"wires":[{"id":"ed6960fd.51571"}]}],"out":[],"env":[]},{"id":"3f8bb462.cc3434","type":"subflow","name":"Hass.io","info":"","category":"notify","in":[{"x":50,"y":80,"wires":[{"id":"37efbd6b.9cd10a"}]}],"out":[],"env":[]},{"id":"5a520374.42875c","type":"subflow","name":"JarvisHAB","info":"","category":"notify","in":[{"x":50,"y":80,"wires":[{"id":"d000bf1b.2f3af8"}]}],"out":[],"env":[]},{"id":"9e8b7db7.07a7f8","type":"subflow","name":"JarvisNx","info":"","category":"notify","in":[{"x":50,"y":80,"wires":[{"id":"99985a44.3c95c8"}]}],"out":[],"env":[]},{"id":"1e089688.6ba879","type":"subflow","name":"JarvisOutside","info":"","category":"notify","in":[{"x":50,"y":80,"wires":[{"id":"cb50e074.d61ed8"}]}],"out":[],"env":[]},{"id":"666a32e3.2e6f04","type":"subflow","name":"JarvisTweets","info":"","category":"notify","in":[{"x":50,"y":80,"wires":[{"id":"11189ca3.abbc6b"}]}],"out":[],"env":[]},{"id":"94219112.b2c818","type":"subflow","name":"JarvisVisitorLog","info":"","category":"notify","in":[{"x":50,"y":80,"wires":[{"id":"c2de3fc2.2354e"}]}],"out":[],"env":[]},{"id":"4d697121.6b434","type":"subflow","name":"JarvisTTS","info":"","category":"notify","in":[{"x":50,"y":80,"wires":[{"id":"443e60fe.d4ec1"},{"id":"f18ccabf.23d82"}]}],"out":[],"env":[]},{"id":"b27af49e.d9bd78","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"f8fa9894.75c16","type":"mqtt-broker","z":"","name":"Hass.io","broker":"192.168.0.201","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9f200a8c.8e82","type":"MySQLdatabase","z":"","host":"192.168.0.2","port":"3306","db":"node_red","tz":""},{"id":"5f40507b.89b3b","type":"google-api-config","z":""},{"id":"a54bc67b.b5fab8","type":"inject","z":"f43c2fc4.f37718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":30,"wires":[["741feabc.0ed4c4"]]},{"id":"b7a3a996.6d8de","type":"api-current-state","z":"f43c2fc4.f37718","name":"Study Alexa Status","server":"b27af49e.d9bd78","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.media_ff_study_alexa","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":556,"y":96,"wires":[["d0903ef8.ef7878"]]},{"id":"d0903ef8.ef7878","type":"switch","z":"f43c2fc4.f37718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"playing","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":746,"y":96,"wires":[["e4e6c7d8.6d3218"],["a4ca089d.d8132"]]},{"id":"e4e6c7d8.6d3218","type":"function","z":"f43c2fc4.f37718","name":"Alexa Playing","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/study\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/study/reason\";\nreason.payload = \"Alexa Playing\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":906,"y":96,"wires":[["a6d83e65.17fea8"],["a6d83e65.17fea8"]]},{"id":"a6d83e65.17fea8","type":"mqtt out","z":"f43c2fc4.f37718","name":"","topic":"","qos":"","retain":"true","broker":"f8fa9894.75c16","x":1290,"y":192,"wires":[]},{"id":"a4ca089d.d8132","type":"api-current-state","z":"f43c2fc4.f37718","name":"Motion","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.motion_ff_study","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":516,"y":240,"wires":[["103017eb.b6b21"]]},{"id":"103017eb.b6b21","type":"switch","z":"f43c2fc4.f37718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":746,"y":240,"wires":[["bd5da423.659a1"],["a9bb6fed.55bca"]]},{"id":"bd5da423.659a1","type":"function","z":"f43c2fc4.f37718","name":"Motion was Detected","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/study\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/study/reason\";\nreason.payload = \"Motion was Detected\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":926,"y":240,"wires":[["a6d83e65.17fea8"],["a6d83e65.17fea8"]]},{"id":"436cf7e9.924188","type":"server-state-changed","z":"f43c2fc4.f37718","name":"Check Triggers","server":"b27af49e.d9bd78","version":"1","entityidfilter":"sensor.family_family_state_raw|sensor.media_ff_study_alexa|binary_sensor.motion_ff_study|binary_sensor.ff_study_sensor_sensor|switch.ff_study_monitors|sensor.ff_study_monitors_power|sensor.media_ff_study_plex_video|sensor.media_ff_study_plex_audio","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":85,"y":80,"wires":[["ef34059e.0289c"]]},{"id":"741feabc.0ed4c4","type":"api-current-state","z":"f43c2fc4.f37718","name":"Someone Home","server":"b27af49e.d9bd78","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_family_state_raw","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":546,"y":31,"wires":[["64c9596c.9c69d8"]]},{"id":"64c9596c.9c69d8","type":"switch","z":"f43c2fc4.f37718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"4","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":746,"y":31,"wires":[["251a6adf.5b1aae"],["82f62d88.3ca85"],["b7a3a996.6d8de"]]},{"id":"251a6adf.5b1aae","type":"function","z":"f43c2fc4.f37718","name":"No One Home","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/study\";\nstate.payload = \"OFF\";\n\nreason.topic = \"iot/room/occupancy/study/reason\";\nreason.payload = \"No One Home\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":906,"y":21,"wires":[["a6d83e65.17fea8"],["a6d83e65.17fea8"]]},{"id":"f3846a65.6f2968","type":"inject","z":"6b5456e0.047d7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":30,"wires":[["6092a5dd.53137c"]]},{"id":"6468f914.87a5a","type":"api-current-state","z":"6b5456e0.047d7","name":"Stuart's State","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_stuart_state","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":528,"y":104,"wires":[["8384781a.8243e8"]]},{"id":"8384781a.8243e8","type":"switch","z":"6b5456e0.047d7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"9","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":708,"y":104,"wires":[["8cc2e0b6.6466"],["a935ff21.3ba41"]]},{"id":"8cc2e0b6.6466","type":"function","z":"6b5456e0.047d7","name":"Stuart's Asleep","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/bedroom\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/bedroom/reason\";\nreason.payload = \"Stuart's Asleep\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":913,"y":104,"wires":[["1626ae0a.0d531a"],["1626ae0a.0d531a"]]},{"id":"1626ae0a.0d531a","type":"mqtt out","z":"6b5456e0.047d7","name":"","topic":"","qos":"","retain":"true","broker":"f8fa9894.75c16","x":1290,"y":215,"wires":[]},{"id":"c09cdb50.faef48","type":"function","z":"6b5456e0.047d7","name":"Empty","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/bedroom\";\nstate.payload = \"OFF\";\n\nreason.topic = \"iot/room/occupancy/bedroom/reason\";\nreason.payload = \"Empty\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":885,"y":360,"wires":[["1626ae0a.0d531a"],["1626ae0a.0d531a"]]},{"id":"a935ff21.3ba41","type":"api-current-state","z":"6b5456e0.047d7","name":"Kareen's State","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_kareen_state","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":528,"y":154,"wires":[["2fea3b9a.bc8dec"]]},{"id":"2fea3b9a.bc8dec","type":"switch","z":"6b5456e0.047d7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"9","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":708,"y":154,"wires":[["167b7335.8a559d"],["e7558009.72a17"]]},{"id":"167b7335.8a559d","type":"function","z":"6b5456e0.047d7","name":"Kareen's Asleep","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/bedroom\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/bedroom/reason\";\nreason.payload = \"Kareen's Asleep\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":923,"y":154,"wires":[["1626ae0a.0d531a"],["1626ae0a.0d531a"]]},{"id":"2d007103.21e506","type":"api-current-state","z":"6b5456e0.047d7","name":"Motion","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.motion_ff_bedroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":508,"y":304,"wires":[["9e65b31a.4e6f78"]]},{"id":"9e65b31a.4e6f78","type":"switch","z":"6b5456e0.047d7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":706,"y":304,"wires":[["f1fddf8e.7f5c"],["c09cdb50.faef48"]]},{"id":"f1fddf8e.7f5c","type":"function","z":"6b5456e0.047d7","name":"Motion was Detected","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/bedroom\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/bedroom/reason\";\nreason.payload = \"Motion was Detected\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":935,"y":310,"wires":[["1626ae0a.0d531a"],["1626ae0a.0d531a"]]},{"id":"686c092a.a4ee8","type":"server-state-changed","z":"6b5456e0.047d7","name":"Check Triggers","server":"b27af49e.d9bd78","version":"1","entityidfilter":"sensor.family_family_state_raw|sensor.media_ff_bedroom_fire_tv|sensor.media_ff_bedroom_plex_audio|sensor.family_stuart_state|sensor.family_kareen_state|binary_sensor.motion_ff_bedroom","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":85,"y":70,"wires":[["84dd93d4.9a92e8"]]},{"id":"6092a5dd.53137c","type":"api-current-state","z":"6b5456e0.047d7","name":"Someone Home","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_family_state_raw","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":538,"y":32,"wires":[["20ecb888.85d65"]]},{"id":"20ecb888.85d65","type":"switch","z":"6b5456e0.047d7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"4","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":708,"y":32,"wires":[["8ea2ec58.70e638"],["3d410303.37b14c"],["6468f914.87a5a"]]},{"id":"8ea2ec58.70e638","type":"function","z":"6b5456e0.047d7","name":"No One Home","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/bedroom\";\nstate.payload = \"OFF\";\n\nreason.topic = \"iot/room/occupancy/bedroom/reason\";\nreason.payload = \"No One Home\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":913,"y":32,"wires":[["1626ae0a.0d531a"],["1626ae0a.0d531a"]]},{"id":"a9bb6fed.55bca","type":"api-current-state","z":"f43c2fc4.f37718","name":"Monitors","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.ff_study_monitors","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":516,"y":290,"wires":[["48e0be39.a3f2b8"]]},{"id":"48e0be39.a3f2b8","type":"switch","z":"f43c2fc4.f37718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":746,"y":290,"wires":[["987e3ebf.6eaaf8"],["2901ded2.3fe41a"]]},{"id":"987e3ebf.6eaaf8","type":"function","z":"f43c2fc4.f37718","name":"Empty","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/study\";\nstate.payload = \"OFF\";\n\nreason.topic = \"iot/room/occupancy/study/reason\";\nreason.payload = \"Monitors Are Off\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":876,"y":290,"wires":[["a6d83e65.17fea8"],["a6d83e65.17fea8"]]},{"id":"73158bd0.62b35c","type":"api-current-state","z":"f43c2fc4.f37718","name":"Study Plex Video","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.media_ff_study_plex_video","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":546,"y":190,"wires":[["3a37f3b2.5d93bc"]]},{"id":"3a37f3b2.5d93bc","type":"switch","z":"f43c2fc4.f37718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"playing","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":746,"y":190,"wires":[["2f8438db.dfb91"],[]]},{"id":"2f8438db.dfb91","type":"function","z":"f43c2fc4.f37718","name":"Plex Video Playing","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/study\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/study/reason\";\nreason.payload = \"Plex Video Playing\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":916,"y":190,"wires":[["a6d83e65.17fea8"],["a6d83e65.17fea8"]]},{"id":"370e60ee.c6af7","type":"inject","z":"7c4edcbf.0aba1c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"*/10 6-20 * * 1,2,3,4,5","once":false,"onceDelay":"","x":85,"y":65,"wires":[["945a3cb9.f3042"]]},{"id":"945a3cb9.f3042","type":"http request","z":"7c4edcbf.0aba1c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://www.tayroadbridge.co.uk/bridge-status","tls":"","proxy":"","x":225,"y":85,"wires":[["e6536a48.05a028","3144146e.e1e324","28cd21bc.73af36","3544a8b5.ab574"]]},{"id":"e6536a48.05a028","type":"html","z":"7c4edcbf.0aba1c","name":"","tag":"div.field-name-field-status","ret":"html","as":"multi","x":465,"y":25,"wires":[["4bd79a3e.361184"]]},{"id":"3144146e.e1e324","type":"html","z":"7c4edcbf.0aba1c","name":"","tag":"div.field-name-field-cars-and-single-decker-bus","ret":"html","as":"multi","x":535,"y":65,"wires":[["d55d9611.f90288"]]},{"id":"28cd21bc.73af36","type":"html","z":"7c4edcbf.0aba1c","name":"","tag":"div.field-name-field-northbound","ret":"html","as":"multi","x":485,"y":105,"wires":[["bedf9616.e83448"]]},{"id":"3544a8b5.ab574","type":"html","z":"7c4edcbf.0aba1c","name":"","tag":"div.field-name-field-southbound","ret":"html","as":"multi","x":485,"y":145,"wires":[["dfcf74da.e53348"]]},{"id":"28f2076e.9074a8","type":"inject","z":"7c4edcbf.0aba1c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"*/30 9-16 * * 6,0","once":false,"onceDelay":"","x":85,"y":105,"wires":[["945a3cb9.f3042"]]},{"id":"4bd79a3e.361184","type":"html","z":"7c4edcbf.0aba1c","name":"","property":"","outproperty":"","tag":"div.field-item","ret":"text","as":"multi","x":805,"y":25,"wires":[["12a00b35.769afd"]]},{"id":"d55d9611.f90288","type":"html","z":"7c4edcbf.0aba1c","name":"","tag":"div.field-item","ret":"text","as":"multi","x":805,"y":65,"wires":[["20002b5d.38b464"]]},{"id":"bedf9616.e83448","type":"html","z":"7c4edcbf.0aba1c","name":"","tag":"div.field-item","ret":"text","as":"multi","x":805,"y":105,"wires":[["756ec662.0257f8"]]},{"id":"dfcf74da.e53348","type":"html","z":"7c4edcbf.0aba1c","name":"","tag":"div.field-item","ret":"text","as":"multi","x":805,"y":145,"wires":[["c1e0077b.b9fba"]]},{"id":"12a00b35.769afd","type":"rbe","z":"7c4edcbf.0aba1c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":945,"y":25,"wires":[["9c900d4a.f0a628"]]},{"id":"20002b5d.38b464","type":"rbe","z":"7c4edcbf.0aba1c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":945,"y":65,"wires":[["1a3d1911.d6cc37"]]},{"id":"756ec662.0257f8","type":"rbe","z":"7c4edcbf.0aba1c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":945,"y":105,"wires":[["e5a74118.21cb1"]]},{"id":"c1e0077b.b9fba","type":"rbe","z":"7c4edcbf.0aba1c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":945,"y":145,"wires":[["537bee1c.ab7af8"]]},{"id":"9c900d4a.f0a628","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":1075,"y":25,"wires":[["f57a4b72.0933f8"]]},{"id":"1a3d1911.d6cc37","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} to Cars","output":"str","x":1075,"y":65,"wires":[["f57a4b72.0933f8"]]},{"id":"e5a74118.21cb1","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} North Bound","output":"str","x":1075,"y":105,"wires":[["f57a4b72.0933f8"]]},{"id":"537bee1c.ab7af8","type":"template","z":"7c4edcbf.0aba1c","name":"","field":"text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} South Bound","output":"str","x":1075,"y":145,"wires":[["f57a4b72.0933f8"]]},{"id":"f95312f2.fa8cc","type":"inject","z":"7c4edcbf.0aba1c","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":105,"y":20,"wires":[["72ad33b2.e8b124"]]},{"id":"72ad33b2.e8b124","type":"change","z":"7c4edcbf.0aba1c","name":"Rest","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":255,"y":20,"wires":[["12a00b35.769afd","20002b5d.38b464","756ec662.0257f8","c1e0077b.b9fba"]]},{"id":"f57a4b72.0933f8","type":"function","z":"7c4edcbf.0aba1c","name":"Empty","func":"state = {};\n\nstate.topic = \"iot/information/taybridge\";\nstate.payload = msg.payload;\n\nreturn state;","outputs":1,"noerr":0,"x":1250,"y":85,"wires":[["a84715a9.8750c8"]]},{"id":"a84715a9.8750c8","type":"mqtt out","z":"7c4edcbf.0aba1c","name":"","topic":"","qos":"","retain":"true","broker":"f8fa9894.75c16","x":1375,"y":85,"wires":[]},{"id":"1f12f67.de7f88a","type":"server-state-changed","z":"86a2cb87.41be4","name":"House Scene","server":"b27af49e.d9bd78","version":1,"entityidfilter":"sensor.house_scene","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":85,"y":55,"wires":[["c42161cb.ecb4f8"]]},{"id":"af9aa7e1.98b2c","type":"inject","z":"86a2cb87.41be4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":95,"y":20,"wires":[["5aa819cb.c3771"]]},{"id":"5aa819cb.c3771","type":"api-current-state","z":"86a2cb87.41be4","name":"House Scene","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.house_scene","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":255,"y":20,"wires":[["c42161cb.ecb4f8"]]},{"id":"c42161cb.ecb4f8","type":"switch","z":"86a2cb87.41be4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Going To Bed","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":55,"wires":[["7d284cf3.179034"]]},{"id":"46d881f.4a94f8","type":"link out","z":"86a2cb87.41be4","name":"","links":["59d0b8db.13986"],"x":530,"y":55,"wires":[]},{"id":"59d0b8db.13986","type":"link in","z":"86a2cb87.41be4","name":"HouseScene - Going To Bed","links":["46d881f.4a94f8"],"x":155,"y":520,"wires":[["857a6e44.04aca8","39bf4048.ae8748","7c5422a2.4f2ab4","5dc9072.1b0c4f8"]]},{"id":"857a6e44.04aca8","type":"function","z":"86a2cb87.41be4","name":"House Lighting","func":"function default_on(entity_id) {\n\tvar default_on = {}\n\tdefault_on.payload = {}\n\tdefault_on.payload.service = \"turn_on\"\n\tdefault_on.payload.domain = \"light\"\n\tdefault_on.payload.data = {}\n\tdefault_on.payload.data.transition = 5\n\tdefault_on.payload.data.brightness = 150\n\tdefault_on.payload.data.rgb_color = [255,207,120]\n\tdefault_on.payload.data.entity_id = entity_id\n\treturn default_on\n}\n\nfunction default_off(entity_id) {\n\tvar default_off = {}\n\tdefault_off.payload = {}\n\tdefault_off.payload.service = \"turn_off\"\n\tdefault_off.payload.domain = \"light\"\n\tdefault_off.payload.data = {}\n\tdefault_off.payload.data.entity_id = entity_id\n\treturn default_off\n}\n\nfunction default_on_switch(entity_id) {\n\tvar default_on = {}\n\tdefault_on.payload = {}\n\tdefault_on.payload.service = \"turn_on\"\n\tdefault_on.payload.domain = \"switch\"\n\tdefault_on.payload.data = {}\n\tdefault_on.payload.data.entity_id = entity_id\n\treturn default_on\n}\n\nfunction default_off_switch(entity_id) {\n\tvar default_on = {}\n\tdefault_on.payload = {}\n\tdefault_on.payload.service = \"turn_off\"\n\tdefault_on.payload.domain = \"switch\"\n\tdefault_on.payload.data = {}\n\tdefault_on.payload.data.entity_id = entity_id\n\treturn default_on\n}\n\nvar outputs = []\n\noutputs.push(default_on(\"light.ff_bedroom_bedside_kareen\"));\noutputs.push(default_on(\"light.ff_bedroom_bedside_stuart\"));\noutputs.push(default_off(\"light.ff_bedroom_celing\"));\noutputs.push(default_off(\"group.light_gf_dinning\"));\noutputs.push(default_on(\"light.gf_hallway_celing\"));\noutputs.push(default_off(\"light.gf_dinning_cooker\"));\noutputs.push(default_on(\"light.gf_dinning_dishwahser\"));\noutputs.push(default_off(\"light.gf_dinning_door_way\"));\noutputs.push(default_on(\"light.gf_dinning_sink\"));\noutputs.push(default_on(\"light.ff_landing_celing\"));\noutputs.push(default_on(\"light.gf_living_celing\"));\noutputs.push(default_off(\"light.gf_living_lamp\"));\noutputs.push(default_off(\"light.gf_studio_celing\"));\n\noutputs.push(default_on_switch(\"switch.ff_bedroom_fairylights\"));\noutputs.push(default_off_switch(\"switch.gf_dinning_tv\"));\noutputs.push(default_off_switch(\"switch.gf_studio_treadmill\"));\noutputs.push(default_off_switch(\"switch.gf_living_tv\"));\n\nreturn outputs;","outputs":17,"noerr":0,"x":360,"y":520,"wires":[["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"],["cd10dd71.46d5e"]]},{"id":"bcc665fb.fdbde8","type":"function","z":"f43c2fc4.f37718","name":"Empty","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/study\";\nstate.payload = \"OFF\";\n\nreason.topic = \"iot/room/occupancy/study/reason\";\nreason.payload = \"Empty\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":881,"y":375,"wires":[["a6d83e65.17fea8"],["a6d83e65.17fea8"]]},{"id":"2901ded2.3fe41a","type":"api-current-state","z":"f43c2fc4.f37718","name":"Watts","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.ff_study_monitors_power","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":506,"y":340,"wires":[["6ff0b6d3.f29ec"]]},{"id":"6ff0b6d3.f29ec","type":"switch","z":"f43c2fc4.f37718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"45","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":746,"y":340,"wires":[["ff4613a3.56b618"],["bcc665fb.fdbde8"]]},{"id":"ff4613a3.56b618","type":"function","z":"f43c2fc4.f37718","name":"Monitor Watts","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/study\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/study/reason\";\nreason.payload = \"Monitor In Use\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":911,"y":335,"wires":[["a6d83e65.17fea8"],["a6d83e65.17fea8"]]},{"id":"235450a4.2a6b78","type":"api-call-service","z":"e33ca006.baadb8","name":"","server":"b27af49e.d9bd78","service_domain":"","service":"","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":394,"y":32,"wires":[[]]},{"id":"7de0c9ce.b72d4","type":"function","z":"84850539.36296","name":"Livingroom TV - On","func":"study = {}\nstudy.payload = {}\nstudy.payload.service = \"turn_on\"\nstudy.payload.domain = \"switch\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"switch.gf_living_tv\"\nreturn study;","outputs":1,"noerr":0,"x":155,"y":25,"wires":[["a3bc8223.edf1c8"]]},{"id":"a3bc8223.edf1c8","type":"api-call-service","z":"84850539.36296","name":"","server":"b27af49e.d9bd78","service_domain":"","service":"","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":315,"y":25,"wires":[[]]},{"id":"e30292da.76dfd8","type":"trigger-state","z":"9e19792f.bad6e8","name":"Stuart's State","server":"b27af49e.d9bd78","entityid":"sensor.family_stuart_state","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"num","x":90,"y":65,"wires":[["93f5fddd.9125e8"],[]]},{"id":"93f5fddd.9125e8","type":"function","z":"9e19792f.bad6e8","name":"","func":"var input_payload = msg;\nmsg.payload = {};\nmsg.payload.usr = {};\nmsg.payload.usr.new = input_payload.data.event.new_state.state\nmsg.payload.usr.old = input_payload.data.event.old_state.state\nreturn msg;","outputs":1,"noerr":0,"x":245,"y":60,"wires":[["3fba054f.c48d52"]]},{"id":"3fba054f.c48d52","type":"api-current-state","z":"9e19792f.bad6e8","name":"Kareen's State","server":"b27af49e.d9bd78","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_kareen_state","state_type":"str","state_location":"","override_payload":"none","entity_location":"kareen","override_data":"msg","blockInputOverrides":false,"x":390,"y":60,"wires":[["2786ce27.b146c2"]]},{"id":"bc02a3cc.d7ba28","type":"function","z":"9e19792f.bad6e8","name":"","func":"var input_payload = msg;\nmsg.stuart = parseInt(input_payload.stuart.state);\nmsg.kareen = parseInt(input_payload.data.event.new_state.state);\nmsg.data = {};\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":110,"wires":[["242abc97.0bb4bc"]]},{"id":"242abc97.0bb4bc","type":"function","z":"9e19792f.bad6e8","name":"Calc Home State 2019","func":"var stuart_value = msg.stuart\nvar kareen_value = msg.kareen\nvar family_value = msg.family\n\nraw = {};\nhuman = {};\n\nraw.topic = \"tracker/family/state/raw\";\nhuman.topic = \"tracker/family/state\";\n\nif (stuart_value === 0 && kareen_value === 0 && family_value !== \"home\") {\n    human.payload = \"No Ones Home - Security Watch\"\n    raw.payload = \"1\"\n    return [human,raw]\n} else if (stuart_value === 0 && kareen_value === 0 && family_value === \"home\") {\n    human.payload = \"Everyone Says Their Out\"\n    raw.payload = \"3\"\n    return [human,raw]\n} else if (stuart_value < 7 && kareen_value === 7) {\n    human.payload = \"Kareen's Home\"\n    raw.payload = \"4\"\n    return [human,raw]\n} else if (stuart_value === 7 && kareen_value < 7) {\n    human.payload = \"Stuart's Home\"\n    raw.payload = \"5\"\n    return [human,raw]\n} else if (stuart_value === 7 && kareen_value === 7) {\n    human.payload = \"We're Both Home\"\n    raw.payload = \"6\"\n    return [human,raw]\n} else if (stuart_value < 9 && kareen_value === 9) {\n    human.payload = \"Kareens's Asleep\"\n    raw.payload = \"7\"\n    return [human,raw]\n} else if (stuart_value === 9 && kareen_value < 9) {\n    human.payload = \"Stuart's Asleep\"\n    raw.payload = \"8\"\n    return [human,raw]\n} else if (stuart_value >= 9 && kareen_value >= 9) {\n    human.payload = \"We're Both Asleep\"\n    raw.payload = \"9\"\n    return [human,raw]\n}\n","outputs":2,"noerr":0,"x":900,"y":85,"wires":[["e07595b1.25ff4","268ee7e.1132998"],["e07595b1.25ff4"]]},{"id":"7f1fa611.038978","type":"trigger-state","z":"9e19792f.bad6e8","name":"Kareen's State","server":"b27af49e.d9bd78","entityid":"sensor.family_kareen_state","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"num","x":90,"y":110,"wires":[["e868950.33e8d68"],[]]},{"id":"e868950.33e8d68","type":"function","z":"9e19792f.bad6e8","name":"","func":"var input_payload = msg;\nmsg.payload = {};\nmsg.payload.usr = {};\nmsg.payload.usr.new = input_payload.data.event.new_state.state\nmsg.payload.usr.old = input_payload.data.event.old_state.state\nreturn msg;","outputs":1,"noerr":0,"x":245,"y":110,"wires":[["89324f5e.f5de68"]]},{"id":"89324f5e.f5de68","type":"api-current-state","z":"9e19792f.bad6e8","name":"Stuart's State","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_stuart_state","state_type":"str","state_location":"","override_payload":"none","entity_location":"stuart","override_data":"msg","blockInputOverrides":false,"x":390,"y":110,"wires":[["bc02a3cc.d7ba28"]]},{"id":"e07595b1.25ff4","type":"mqtt out","z":"9e19792f.bad6e8","name":"","topic":"","qos":"","retain":"true","broker":"f8fa9894.75c16","x":1090,"y":85,"wires":[]},{"id":"2786ce27.b146c2","type":"function","z":"9e19792f.bad6e8","name":"","func":"var input_payload = msg;\nmsg.kareen = parseInt(input_payload.kareen.state);\nmsg.stuart = parseInt(input_payload.data.event.new_state.state);\nmsg.data = {};\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":60,"wires":[["242abc97.0bb4bc"]]},{"id":"3d410303.37b14c","type":"function","z":"6b5456e0.047d7","name":"Both's Asleep","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/bedroom\";\nstate.payload = \"ON\";\n\nreason.topic = state.topic + \"/reason\";\nreason.payload = \"Both Asleep\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":913,"y":67,"wires":[["1626ae0a.0d531a"],["1626ae0a.0d531a"]]},{"id":"6856bfc3.7867e8","type":"inject","z":"db2d12c6.e8984","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":32,"wires":[["60c49b98.23d224"]]},{"id":"abb5f16d.807eb","type":"mqtt out","z":"db2d12c6.e8984","name":"","topic":"","qos":"","retain":"true","broker":"f8fa9894.75c16","x":1218,"y":96,"wires":[]},{"id":"a5cb2a48.866c58","type":"api-current-state","z":"db2d12c6.e8984","name":"Motion","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.motion_gf_dinning","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":523,"y":241,"wires":[["8e55ce4a.d28f88"]]},{"id":"8e55ce4a.d28f88","type":"switch","z":"db2d12c6.e8984","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":753,"y":241,"wires":[["f352210.c9c5c6"],["944772ea.9ebcc"]]},{"id":"f352210.c9c5c6","type":"function","z":"db2d12c6.e8984","name":"Motion was Detected","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/kitchen\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/kitchen/reason\";\nreason.payload = \"Motion was Detected\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":933,"y":241,"wires":[["abb5f16d.807eb"],["abb5f16d.807eb"]]},{"id":"2882e596.4a8992","type":"server-state-changed","z":"db2d12c6.e8984","name":"Check Triggers","server":"b27af49e.d9bd78","version":"1","entityidfilter":"sensor.family_family_state_raw|binary_sensor.motion_gf_dinning|sensor.alexa_gf_dinning|sensor.media_gf_kitchen_alexa|sensor.media_gf_kitchen_fire_tv","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":95,"y":65,"wires":[["1456ff6d.fad4f9"]]},{"id":"60c49b98.23d224","type":"api-current-state","z":"db2d12c6.e8984","name":"Someone Home","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_family_state_raw","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":553,"y":31,"wires":[["41e5fe54.efced8"]]},{"id":"41e5fe54.efced8","type":"switch","z":"db2d12c6.e8984","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"4","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":753,"y":31,"wires":[["ab74d437.e06d4"],["4f53ada7.c3d71c"],["a82393f3.3e8b4"]]},{"id":"ab74d437.e06d4","type":"function","z":"db2d12c6.e8984","name":"No One Home","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/kitchen\";\nstate.payload = \"OFF\";\n\nreason.topic = \"iot/room/occupancy/kitchen/reason\";\nreason.payload = \"No One Home\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":913,"y":26,"wires":[["abb5f16d.807eb"],["abb5f16d.807eb"]]},{"id":"944772ea.9ebcc","type":"function","z":"db2d12c6.e8984","name":"Empty","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/kitchen\";\nstate.payload = \"OFF\";\n\nreason.topic = \"iot/room/occupancy/kitchen/reason\";\nreason.payload = \"Empty\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":882,"y":280,"wires":[["abb5f16d.807eb"],["abb5f16d.807eb"]]},{"id":"3082ab5.c849fd4","type":"api-current-state","z":"db2d12c6.e8984","name":"Alexa Status","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.media_gf_kitchen_alexa","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":543,"y":196,"wires":[["2c50bdb.e345cc2"]]},{"id":"2c50bdb.e345cc2","type":"switch","z":"db2d12c6.e8984","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"PLAY","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":753,"y":196,"wires":[["b813407c.51c818"],["a5cb2a48.866c58"]]},{"id":"b813407c.51c818","type":"function","z":"db2d12c6.e8984","name":"Alexa Playing","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/kitchen\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/kitchen/reason\";\nreason.payload = \"Alexa Playing\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":913,"y":196,"wires":[["abb5f16d.807eb"],["abb5f16d.807eb"]]},{"id":"d61ae8fe.4b9048","type":"inject","z":"ea135125.978e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":95,"y":30,"wires":[["6f8b109b.a16a68"]]},{"id":"51956de4.37dadc","type":"mqtt out","z":"ea135125.978e8","name":"","topic":"","qos":"","retain":"true","broker":"f8fa9894.75c16","x":1186,"y":104,"wires":[]},{"id":"f5de4ee4.e5ab8","type":"api-current-state","z":"ea135125.978e8","name":"Motion","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.motion_gf_living","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":484,"y":192,"wires":[["914a2b1c.6c6df"]]},{"id":"914a2b1c.6c6df","type":"switch","z":"ea135125.978e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":714,"y":192,"wires":[["1e2174eb.6b7fc3"],["b9b7c0f.da2274"]]},{"id":"1e2174eb.6b7fc3","type":"function","z":"ea135125.978e8","name":"Motion was Detected","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/livingroom\";\nstate.payload = \"ON\";\n\nreason.topic = state.topic + \"/reason\";\nreason.payload = \"Motion was Detected\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":894,"y":192,"wires":[["51956de4.37dadc"],["51956de4.37dadc"]]},{"id":"fcfc7c3d.bab4d8","type":"server-state-changed","z":"ea135125.978e8","name":"Check Triggers","server":"b27af49e.d9bd78","version":"1","entityidfilter":"sensor.family_family_state_raw|sensor.media_gf_livingroom_alexa|sensor.media_gf_livingroom_fire_tv|binary_sensor.motion_gf_living|binary_sensor.gf_living_sensor_sensor|sensor.gf_living_tv_power|sensor.remote_gf_livingroom","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":95,"y":70,"wires":[["6b2dbce1.ffa46c"]]},{"id":"6f8b109b.a16a68","type":"api-current-state","z":"ea135125.978e8","name":"Someone Home","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_family_state_raw","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":519,"y":32,"wires":[["570d34dd.d3312c"]]},{"id":"570d34dd.d3312c","type":"switch","z":"ea135125.978e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"4","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":719,"y":32,"wires":[["ae11e8fa.a37d9"],["883dc24d.757e6"],["6e6263a2.948bc4"]]},{"id":"ae11e8fa.a37d9","type":"function","z":"ea135125.978e8","name":"No One Home","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/livingroom\";\nstate.payload = \"OFF\";\n\nreason.topic = \"iot/room/occupancy/livingroom/reason\";\nreason.payload = \"No One Home\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":879,"y":32,"wires":[["51956de4.37dadc"],["51956de4.37dadc"]]},{"id":"c6722eba.e6232","type":"function","z":"ea135125.978e8","name":"Empty","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/livingroom\";\nstate.payload = \"OFF\";\n\nreason.topic = \"iot/room/occupancy/livingroom/reason\";\nreason.payload = \"Empty\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":906,"y":368,"wires":[["51956de4.37dadc"],["51956de4.37dadc"]]},{"id":"98701f28.70735","type":"api-current-state","z":"ea135125.978e8","name":"Alexa Status","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.media_gf_livingroom_alexa","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":504,"y":147,"wires":[["b2940e65.77a66"]]},{"id":"b2940e65.77a66","type":"switch","z":"ea135125.978e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"PLAY","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":714,"y":147,"wires":[["a0135a7c.95d5d8"],["f5de4ee4.e5ab8"]]},{"id":"a0135a7c.95d5d8","type":"function","z":"ea135125.978e8","name":"Alexa Playing","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/livingroom\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/livingroom/reason\";\nreason.payload = \"Alexa Playing\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":874,"y":147,"wires":[["51956de4.37dadc"],["51956de4.37dadc"]]},{"id":"82f62d88.3ca85","type":"function","z":"f43c2fc4.f37718","name":"Both's Asleep","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/study\";\nstate.payload = \"OFF\";\n\nreason.topic = state.topic + \"/reason\";\nreason.payload = \"Both Asleep\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":906,"y":56,"wires":[["a6d83e65.17fea8"],["a6d83e65.17fea8"]]},{"id":"4f53ada7.c3d71c","type":"function","z":"db2d12c6.e8984","name":"Both's Asleep","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/kitchen\";\nstate.payload = \"OFF\";\n\nreason.topic = state.topic + \"/reason\";\nreason.payload = \"Both Asleep\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":913,"y":61,"wires":[["abb5f16d.807eb"],["abb5f16d.807eb"]]},{"id":"883dc24d.757e6","type":"function","z":"ea135125.978e8","name":"Both's Asleep","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/livingroom\";\nstate.payload = \"OFF\";\n\nreason.topic = state.topic + \"/reason\";\nreason.payload = \"Both Asleep\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":879,"y":67,"wires":[["51956de4.37dadc"],["51956de4.37dadc"]]},{"id":"b9b7c0f.da2274","type":"api-current-state","z":"ea135125.978e8","name":"Watts","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.gf_living_tv_power","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":474,"y":242,"wires":[["40130456.a3b7b4"]]},{"id":"40130456.a3b7b4","type":"switch","z":"ea135125.978e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"45","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":714,"y":242,"wires":[["2c430dd8.c380ca"],["abb28567.62dee8"]]},{"id":"2c430dd8.c380ca","type":"function","z":"ea135125.978e8","name":"Monitor Watts","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/livingroom\";\nstate.payload = \"ON\";\n\nreason.topic = state.topic + \"/reason\";\nreason.payload = \"TV In Use\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":879,"y":237,"wires":[["51956de4.37dadc"],["51956de4.37dadc"]]},{"id":"cd10dd71.46d5e","type":"delay","z":"86a2cb87.41be4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":575,"y":510,"wires":[["28873c2b.05ba1c"]]},{"id":"6e6263a2.948bc4","type":"api-current-state","z":"ea135125.978e8","name":"FireTV","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.media_gf_livingroom_fire_tv","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":474,"y":102,"wires":[["a0082212.3f729"]]},{"id":"a0082212.3f729","type":"switch","z":"ea135125.978e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"playing","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":719,"y":102,"wires":[["5baa8ab2.b09764"],["98701f28.70735"]]},{"id":"5baa8ab2.b09764","type":"function","z":"ea135125.978e8","name":"FireTV Playing","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/livingroom\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/livingroom/reason\";\nreason.payload = \"FireTV Playing\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":879,"y":107,"wires":[["51956de4.37dadc"],["51956de4.37dadc"]]},{"id":"a82393f3.3e8b4","type":"api-current-state","z":"db2d12c6.e8984","name":"FireTV","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.media_gf_kitchen_fire_tv","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":518,"y":126,"wires":[["f18aa3d2.af0e28"]]},{"id":"f18aa3d2.af0e28","type":"switch","z":"db2d12c6.e8984","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"playing","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":754,"y":128,"wires":[["4bd44014.c30d4"],["3082ab5.c849fd4"]]},{"id":"4bd44014.c30d4","type":"function","z":"db2d12c6.e8984","name":"FireTV Playing","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/kitchen\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/kitchen/reason\";\nreason.payload = \"FireTV Playing\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":923,"y":131,"wires":[["abb5f16d.807eb"],["abb5f16d.807eb"]]},{"id":"e7558009.72a17","type":"api-current-state","z":"6b5456e0.047d7","name":"FireTV","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.media_ff_bedroom_fire_tv","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":498,"y":208,"wires":[["8f257e01.f0bfd"]]},{"id":"8f257e01.f0bfd","type":"switch","z":"6b5456e0.047d7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"playing","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":706,"y":208,"wires":[["c20ce280.5b37c8"],["2d007103.21e506"]]},{"id":"c20ce280.5b37c8","type":"function","z":"6b5456e0.047d7","name":"FireTV Playing","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/bedroom\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/bedroom/reason\";\nreason.payload = \"FireTV Playing\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":912,"y":208,"wires":[["1626ae0a.0d531a"],["1626ae0a.0d531a"]]},{"id":"31b33a59.5f9ebe","type":"switch","z":"9e19792f.bad6e8","name":"Home?","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":350,"y":280,"wires":[["2f987df0.0d063a"],["9338799d.0dbb8"]]},{"id":"2f987df0.0d063a","type":"template","z":"9e19792f.bad6e8","name":"","field":"payload.entity_id","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"input_select.{{topic}}","output":"str","x":490,"y":240,"wires":[["8258fd16.71fba"]]},{"id":"30ec61e1.e9ce9e","type":"switch","z":"9e19792f.bad6e8","name":"Just Left?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Just Left","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":220,"wires":[["4c56d11.e61f5b"],["786204bc.9717fc"]]},{"id":"6954b699.4c69a8","type":"change","z":"9e19792f.bad6e8","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":260,"wires":[["cf448cc1.8f27a8","743c7758.87f448"]]},{"id":"292ec8b6.2b305","type":"change","z":"9e19792f.bad6e8","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":320,"wires":[["4783f70a.1eacc","743c7758.87f448"]]},{"id":"9338799d.0dbb8","type":"api-call-service","z":"9e19792f.bad6e8","name":"Just Left","server":"b27af49e.d9bd78","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Left\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":490,"y":320,"wires":[["cf448cc1.8f27a8","292ec8b6.2b305"]]},{"id":"4c56d11.e61f5b","type":"api-call-service","z":"9e19792f.bad6e8","name":"Just Arrived","server":"b27af49e.d9bd78","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Arrived\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":920,"y":200,"wires":[["4783f70a.1eacc"]]},{"id":"a29ed1de.3c78f","type":"api-call-service","z":"9e19792f.bad6e8","name":"Away","server":"b27af49e.d9bd78","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Away\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":900,"y":280,"wires":[["743c7758.87f448"]]},{"id":"25859d9b.ec36a2","type":"api-call-service","z":"9e19792f.bad6e8","name":"Extended Away","server":"b27af49e.d9bd78","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Extended Away\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1245,"y":260,"wires":[[]]},{"id":"cf448cc1.8f27a8","type":"trigger","z":"9e19792f.bad6e8","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"10 Min","x":760,"y":300,"wires":[["a29ed1de.3c78f"]]},{"id":"743c7758.87f448","type":"trigger","z":"9e19792f.bad6e8","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"24","extend":false,"units":"hr","reset":"","bytopic":"topic","name":"24 Hrs","x":1095,"y":260,"wires":[["25859d9b.ec36a2"]]},{"id":"4783f70a.1eacc","type":"trigger","z":"9e19792f.bad6e8","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"10 Min","x":1095,"y":200,"wires":[["786204bc.9717fc"]]},{"id":"786204bc.9717fc","type":"api-call-service","z":"9e19792f.bad6e8","name":"Home","server":"b27af49e.d9bd78","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Home\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1225,"y":225,"wires":[[]]},{"id":"ab808030.579ce","type":"change","z":"9e19792f.bad6e8","name":"Change","rules":[{"t":"move","p":"payload","pt":"msg","to":"status","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"person.","fromt":"str","to":"","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"_2","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":280,"wires":[["31b33a59.5f9ebe"]]},{"id":"8258fd16.71fba","type":"api-current-state","z":"9e19792f.bad6e8","name":"Status?","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":625,"y":240,"wires":[["30ec61e1.e9ce9e","6954b699.4c69a8"]]},{"id":"bf1c9eb4.4da8a8","type":"server-state-changed","z":"9e19792f.bad6e8","name":"Stuart","server":"b27af49e.d9bd78","version":"1","entityidfilter":"person.stuart","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":60,"y":260,"wires":[["ab808030.579ce"]]},{"id":"a798ed77.80ff3","type":"server-state-changed","z":"9e19792f.bad6e8","name":"Kareen","server":"b27af49e.d9bd78","version":"1","entityidfilter":"person.kareen","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":60,"y":300,"wires":[["ab808030.579ce"]]},{"id":"e4b4885.13e2678","type":"function","z":"e33ca006.baadb8","name":"","func":"function default_off(entity_id) {\n\tvar default_off = {}\n\tdefault_off.payload = {}\n\tdefault_off.payload.service = \"turn_off\"\n\tdefault_off.payload.domain = \"light\"\n\tdefault_off.payload.data = {}\n\tdefault_off.payload.data.entity_id = entity_id\n\treturn default_off\n}\n\nfunction default_off_switch(entity_id) {\n\tvar default_on = {}\n\tdefault_on.payload = {}\n\tdefault_on.payload.service = \"turn_off\"\n\tdefault_on.payload.domain = \"switch\"\n\tdefault_on.payload.data = {}\n\tdefault_on.payload.data.entity_id = entity_id\n\treturn default_on\n}\n\nvar outputs = []\n\noutputs.push(default_off(\"group.all_lights\"));\noutputs.push(default_off_switch(\"group.switchs_all_safe\"));\n\nreturn outputs;","outputs":2,"noerr":0,"x":120,"y":25,"wires":[["235450a4.2a6b78"],["235450a4.2a6b78"]]},{"id":"e0834b6.ef0f338","type":"http in","z":"b3c5a6b9.91186","name":"","url":"/track","method":"post","upload":false,"swaggerDoc":"","x":130,"y":80,"wires":[["fe25a29d.9576e","b4b21bfd.4ed0e8"]]},{"id":"33f1e11e.6150ae","type":"http response","z":"b3c5a6b9.91186","name":"","statusCode":"","headers":{},"x":680,"y":120,"wires":[]},{"id":"f03ef8d5.0bd198","type":"http request","z":"b3c5a6b9.91186","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.0.201:8005/track","tls":"","proxy":"","x":530,"y":80,"wires":[["95b08fb7.cf6488"]]},{"id":"50b58976.86a6a8","type":"http in","z":"b3c5a6b9.91186","name":"","url":"/learn","method":"post","upload":false,"swaggerDoc":"","x":130,"y":120,"wires":[["16c103c3.5eaca4"]]},{"id":"16c103c3.5eaca4","type":"http request","z":"b3c5a6b9.91186","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.0.201:8005/learn","tls":"","proxy":"","x":530,"y":120,"wires":[["33f1e11e.6150ae"]]},{"id":"fe25a29d.9576e","type":"change","z":"b3c5a6b9.91186","name":"","rules":[{"t":"set","p":"username","pt":"msg","to":"payload.username","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":80,"wires":[["f03ef8d5.0bd198"]]},{"id":"560369e.699bb18","type":"function","z":"b3c5a6b9.91186","name":"","func":"msg.topic = \"tracker/family/\" + msg.username + \"/room\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1318,"y":514,"wires":[["2427b0e.2d760d"]]},{"id":"58080e43.e0f5c8","type":"json","z":"b3c5a6b9.91186","name":"","property":"payload","action":"","pretty":false,"x":1198,"y":514,"wires":[["560369e.699bb18"]]},{"id":"85b0c9e5.1909e","type":"api-current-state","z":"9e429f2c.47f6","name":"","server":"b27af49e.d9bd78","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":375,"y":80,"wires":[["581adcd1.23e6c4"]]},{"id":"ed6960fd.51571","type":"change","z":"9e429f2c.47f6","name":"","rules":[{"t":"set","p":"setting","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload.entity_id","pt":"msg","to":"setting.data.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["85b0c9e5.1909e"]]},{"id":"581adcd1.23e6c4","type":"switch","z":"9e429f2c.47f6","name":"","property":"setting.service","propertyType":"msg","rules":[{"t":"cont","v":"payload","vt":"msg"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":520,"y":80,"wires":[[],["1ade2b.fed861d5"]]},{"id":"1ade2b.fed861d5","type":"change","z":"9e429f2c.47f6","name":"","rules":[{"t":"move","p":"setting","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"data","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":665,"y":80,"wires":[["3ec47109.6b71be"]]},{"id":"3ec47109.6b71be","type":"api-call-service","z":"9e429f2c.47f6","name":"","server":"b27af49e.d9bd78","service_domain":"","service":"","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":810,"y":80,"wires":[[]]},{"id":"28873c2b.05ba1c","type":"api-call-service","z":"86a2cb87.41be4","name":"","server":"b27af49e.d9bd78","service_domain":"","service":"","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":762,"y":512,"wires":[["59e8291d.4fb1e"]]},{"id":"bf8ceeb7.5b079","type":"comment","z":"b3c5a6b9.91186","name":"Room Tracker","info":"","x":95,"y":40,"wires":[]},{"id":"3902d46b.0e67fc","type":"http in","z":"b3c5a6b9.91186","name":"","url":"/state/stuart","method":"post","upload":false,"swaggerDoc":"","x":151,"y":550,"wires":[["94ac181b.b775b8","caf93862.234018","aa86945f.7eb6a8","2e08381a.566168"]]},{"id":"20c0c31.c3fff3c","type":"http in","z":"b3c5a6b9.91186","name":"","url":"/state/kareen","method":"post","upload":false,"swaggerDoc":"","x":151,"y":678,"wires":[["65f63b67.2ec1a4","23bdeb0.690a316","94ac181b.b775b8","f4815b82.20ac88"]]},{"id":"94ac181b.b775b8","type":"http response","z":"b3c5a6b9.91186","name":"","statusCode":"","headers":{},"x":433,"y":614,"wires":[]},{"id":"caf93862.234018","type":"change","z":"b3c5a6b9.91186","name":"tracker/family/stuart","rules":[{"t":"set","p":"topic","pt":"msg","to":"tracker/family/stuart","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":644,"y":592,"wires":[["bcd68480.42fab"]]},{"id":"23bdeb0.690a316","type":"change","z":"b3c5a6b9.91186","name":"tracker/family/kareen","rules":[{"t":"set","p":"topic","pt":"msg","to":"tracker/family/kareen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":644,"y":632,"wires":[["bcd68480.42fab"]]},{"id":"788ac45.fe75a3c","type":"mqtt out","z":"b3c5a6b9.91186","name":"","topic":"","qos":"","retain":"true","broker":"f8fa9894.75c16","x":954,"y":612,"wires":[]},{"id":"bcd68480.42fab","type":"function","z":"b3c5a6b9.91186","name":"","func":"msg.payload = parseInt(msg.payload.state)\n\nstate = {}\nhuman = {}\nhome = {}\n\nstate.topic = msg.topic + \"/state\";\nhuman.topic = msg.topic + \"/state/human\";\nhome.topic = msg.topic;\n\nstate.payload = msg.payload;\n\nif (msg.payload === 0) {\n    human.payload = \"Gone Out\";\n    home.payload = \"not_home\";\n} else if (msg.payload === 1) {\n    human.payload = \"Driving\";\n    home.payload = \"not_home\";\n} else if (msg.payload === 2) {\n    human.payload = \"Away The Night\";\n    home.payload = \"not_home\";\n} else if (msg.payload === 3) {\n    human.payload = \"Driving Home\";\n    home.payload = \"not_home\";\n} else if (msg.payload === 4) {\n    human.payload = \"Four\";\n    home.payload = \"not_home\";\n} else if (msg.payload === 5) {\n    human.payload = \"Five\";\n    home.payload = \"not_home\";\n} else if (msg.payload === 6) {\n    human.payload = \"Car Park\";\n    home.payload = \"home\";\n} else if (msg.payload === 7) {\n    human.payload = \"Home\";\n    home.payload = \"home\";\n} else if (msg.payload === 8) {\n    human.payload = \"Eight\";\n    home.payload = \"home\";\n} else if (msg.payload === 9) {\n    human.payload = \"Asleep\";\n    home.payload = \"home\";\n}\n\nreturn [state,human,home];","outputs":3,"noerr":0,"x":814,"y":612,"wires":[["788ac45.fe75a3c"],["788ac45.fe75a3c"],[]]},{"id":"58e6b158.8abff","type":"comment","z":"b3c5a6b9.91186","name":"Family States","info":"","x":101,"y":510,"wires":[]},{"id":"db88143c.578958","type":"http request","z":"b3c5a6b9.91186","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.0.201:5144","tls":"","proxy":"","x":1460,"y":328,"wires":[[]]},{"id":"a435c8ee.544778","type":"function","z":"b3c5a6b9.91186","name":"","func":"msg.payload.topic = \"owntracks/\" + msg.topic + \"/phone\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":328,"wires":[["662ef478.f77ecc"]]},{"id":"662ef478.f77ecc","type":"json","z":"b3c5a6b9.91186","name":"","property":"payload","action":"","pretty":false,"x":1325,"y":328,"wires":[["db88143c.578958"]]},{"id":"7ff474db.36bc34","type":"comment","z":"b3c5a6b9.91186","name":"Store in TracCar","info":"","x":1080,"y":293,"wires":[]},{"id":"dc0b987b.dba088","type":"switch","z":"b3c5a6b9.91186","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"stuart","vt":"str"},{"t":"eq","v":"kareen","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":249,"y":614,"wires":[["caf93862.234018"],["23bdeb0.690a316"]]},{"id":"2e1f6f94.09fac","type":"link in","z":"b3c5a6b9.91186","name":"","links":["f9d18183.a73308","e51ca74a.eabd28","84207611.bd9058"],"x":46,"y":614,"wires":[["bc65e51a.e3cef8"]]},{"id":"bd989741.103328","type":"link in","z":"b3c5a6b9.91186","name":"","links":["f9d18183.a73308","84207611.bd9058","e51ca74a.eabd28"],"x":1015,"y":328,"wires":[["a435c8ee.544778"]]},{"id":"bc65e51a.e3cef8","type":"change","z":"b3c5a6b9.91186","name":"tid","rules":[{"t":"set","p":"tid","pt":"msg","to":"payload.tid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":129,"y":614,"wires":[["dc0b987b.dba088"]]},{"id":"d18f37d2.ac878","type":"api-call-service","z":"3f8bb462.cc3434","name":"Hass.io","server":"b27af49e.d9bd78","service_domain":"notify","service":"hass_synchat","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":345,"y":80,"wires":[["7a3df85f.16fe5"]]},{"id":"37efbd6b.9cd10a","type":"function","z":"3f8bb462.cc3434","name":"Prep Data","func":"var payload = msg.payload\n\nmsg.payload = {}\nmsg.payload.data = {}\nmsg.payload.data.message = payload\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["d18f37d2.ac878"]]},{"id":"7a3df85f.16fe5","type":"debug","z":"3f8bb462.cc3434","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":80,"wires":[]},{"id":"7711e1ac.e788c","type":"api-call-service","z":"5a520374.42875c","name":"JarvisHAB","server":"b27af49e.d9bd78","service_domain":"notify","service":"synchat_hab","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":355,"y":80,"wires":[["65500f84.c9511"]]},{"id":"d000bf1b.2f3af8","type":"function","z":"5a520374.42875c","name":"Prep Data","func":"var payload = msg.payload\n\nmsg.payload = {}\nmsg.payload.data = {}\nmsg.payload.data.message = payload\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["7711e1ac.e788c"]]},{"id":"65500f84.c9511","type":"debug","z":"5a520374.42875c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":80,"wires":[]},{"id":"3e6fc00c.721668","type":"api-call-service","z":"9e8b7db7.07a7f8","name":"JarvisNx","server":"b27af49e.d9bd78","service_domain":"notify","service":"synchat_nx","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":345,"y":80,"wires":[["5fe429f1.a42fd8"]]},{"id":"99985a44.3c95c8","type":"function","z":"9e8b7db7.07a7f8","name":"Prep Data","func":"var payload = msg.payload\n\nmsg.payload = {}\nmsg.payload.data = {}\nmsg.payload.data.message = payload\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["3e6fc00c.721668"]]},{"id":"5fe429f1.a42fd8","type":"debug","z":"9e8b7db7.07a7f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":80,"wires":[]},{"id":"65ec3a2c.089754","type":"api-call-service","z":"1e089688.6ba879","name":"JarvisOutside","server":"b27af49e.d9bd78","service_domain":"notify","service":"synchat_outside","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":365,"y":80,"wires":[["7d1fbe9e.fda2f"]]},{"id":"cb50e074.d61ed8","type":"function","z":"1e089688.6ba879","name":"Prep Data","func":"var payload = msg.payload\n\nmsg.payload = {}\nmsg.payload.data = {}\nmsg.payload.data.message = payload\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["65ec3a2c.089754"]]},{"id":"7d1fbe9e.fda2f","type":"debug","z":"1e089688.6ba879","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":80,"wires":[]},{"id":"74c67e5d.70aa6","type":"api-call-service","z":"4d697121.6b434","name":"JarvisTTS","server":"b27af49e.d9bd78","service_domain":"notify","service":"synchat_tts","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":345,"y":80,"wires":[[]]},{"id":"443e60fe.d4ec1","type":"function","z":"4d697121.6b434","name":"Prep Data","func":"var payload = msg.payload\n\nmsg.payload = {}\nmsg.payload.data = {}\nmsg.payload.data.message = payload\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["74c67e5d.70aa6"]]},{"id":"56a2bdf3.0b47ac","type":"api-call-service","z":"666a32e3.2e6f04","name":"JarvisTweets","server":"b27af49e.d9bd78","service_domain":"notify","service":"synchat_tweets","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":355,"y":80,"wires":[["b72c6963.c56ad8"]]},{"id":"11189ca3.abbc6b","type":"function","z":"666a32e3.2e6f04","name":"Prep Data","func":"var payload = msg.payload\n\nmsg.payload = {}\nmsg.payload.data = {}\nmsg.payload.data.message = payload\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["56a2bdf3.0b47ac"]]},{"id":"b72c6963.c56ad8","type":"debug","z":"666a32e3.2e6f04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":80,"wires":[]},{"id":"cf2b5eee.4eea3","type":"api-call-service","z":"94219112.b2c818","name":"JarvisVisitorLog","server":"b27af49e.d9bd78","service_domain":"notify","service":"synchat_visitorlog","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":365,"y":80,"wires":[["6c987a60.56fee4"]]},{"id":"c2de3fc2.2354e","type":"function","z":"94219112.b2c818","name":"Prep Data","func":"var payload = msg.payload\n\nmsg.payload = {}\nmsg.payload.data = {}\nmsg.payload.data.message = payload\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["cf2b5eee.4eea3"]]},{"id":"6c987a60.56fee4","type":"debug","z":"94219112.b2c818","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":80,"wires":[]},{"id":"9a1a59cc.e16d2","type":"server-state-changed","z":"103b2b90.4d268c","name":"Stairwell PIR","server":"b27af49e.d9bd78","version":"1","entityidfilter":"binary_sensor.ff_landing_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":75,"y":245,"wires":[["a8d4fae1.c1f1b8"]]},{"id":"b3b1b5e0.7e6ff","type":"server-state-changed","z":"103b2b90.4d268c","name":"Diningroom PIR","server":"b27af49e.d9bd78","version":"1","entityidfilter":"binary_sensor.gf_dinning_sensor_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":85,"y":140,"wires":[["8c3ae1ae.59d5e"]]},{"id":"2f7d06fd.8278f2","type":"server-state-changed","z":"103b2b90.4d268c","name":"Study PIR","server":"b27af49e.d9bd78","version":"1","entityidfilter":"binary_sensor.ff_study_sensor_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":65,"y":35,"wires":[["cdd0c01b.2d62c"]]},{"id":"6cc1fac5.c65dec","type":"server-state-changed","z":"103b2b90.4d268c","name":"Bedroom PIR","server":"b27af49e.d9bd78","version":"1","entityidfilter":"binary_sensor.ff_bedroom_sensor_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":75,"y":190,"wires":[["c9af77e3.8fa158"]]},{"id":"a159fcbc.208218","type":"server-state-changed","z":"103b2b90.4d268c","name":"Livingroom PIR","server":"b27af49e.d9bd78","version":"1","entityidfilter":"binary_sensor.gf_living_sensor_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":85,"y":90,"wires":[["80abe081.2a5f"]]},{"id":"a6d24684.a30318","type":"server-state-changed","z":"103b2b90.4d268c","name":"Frontdoor","server":"b27af49e.d9bd78","version":"1","entityidfilter":"binary_sensor.gf_hallway_contact_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":65,"y":295,"wires":[["33e5e876.0c77a"]]},{"id":"e6b254e2.8edc5","type":"server-state-changed","z":"103b2b90.4d268c","name":"Sidedoor","server":"b27af49e.d9bd78","version":"1","entityidfilter":"binary_sensor.gf_dinning_contact_side","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":65,"y":345,"wires":[["7209e451.34025c"]]},{"id":"565d4def.bd8f9c","type":"api-current-state","z":"103b2b90.4d268c","name":"Someone Home","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_family_state_raw","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"family_state","override_data":"msg","blockInputOverrides":false,"x":634,"y":512,"wires":[["5f686fe3.07c598"]]},{"id":"5f686fe3.07c598","type":"switch","z":"103b2b90.4d268c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"3","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":789,"y":512,"wires":[["5e24440a.e17efc"]]},{"id":"cdd0c01b.2d62c","type":"switch","z":"103b2b90.4d268c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":255,"y":35,"wires":[["8574832b.6a0c4"]]},{"id":"5f7bc418.bd44ec","type":"link in","z":"103b2b90.4d268c","name":"Sec Notifty On Motion Trigger","links":["8574832b.6a0c4","eaaacad.bf07238","17266148.df377f","b499b27e.9952e8","76699f3d.8bfa68"],"x":509,"y":512,"wires":[["565d4def.bd8f9c"]]},{"id":"8574832b.6a0c4","type":"link out","z":"103b2b90.4d268c","name":"","links":["5f7bc418.bd44ec","f990e951.f8d7c"],"x":345,"y":35,"wires":[]},{"id":"eaaacad.bf07238","type":"link out","z":"103b2b90.4d268c","name":"","links":["5f7bc418.bd44ec","f990e951.f8d7c"],"x":345,"y":90,"wires":[]},{"id":"17266148.df377f","type":"link out","z":"103b2b90.4d268c","name":"","links":["5f7bc418.bd44ec","f990e951.f8d7c"],"x":345,"y":140,"wires":[]},{"id":"b499b27e.9952e8","type":"link out","z":"103b2b90.4d268c","name":"","links":["5f7bc418.bd44ec","f990e951.f8d7c"],"x":345,"y":190,"wires":[]},{"id":"80abe081.2a5f","type":"switch","z":"103b2b90.4d268c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":255,"y":90,"wires":[["eaaacad.bf07238"]]},{"id":"8c3ae1ae.59d5e","type":"switch","z":"103b2b90.4d268c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":255,"y":140,"wires":[["17266148.df377f"]]},{"id":"c9af77e3.8fa158","type":"switch","z":"103b2b90.4d268c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":255,"y":190,"wires":[["b499b27e.9952e8"]]},{"id":"76699f3d.8bfa68","type":"link out","z":"103b2b90.4d268c","name":"","links":["5f7bc418.bd44ec","f990e951.f8d7c"],"x":345,"y":245,"wires":[]},{"id":"a8d4fae1.c1f1b8","type":"switch","z":"103b2b90.4d268c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":255,"y":245,"wires":[["76699f3d.8bfa68"]]},{"id":"5e24440a.e17efc","type":"function","z":"103b2b90.4d268c","name":"","func":"var new_state = msg.data.new_state\nmsg.payload = new_state.attributes.friendly_name + \" Motion Sensor Triggered. Please investigate IMMEDIATELY. #Security #Motion #Emergency\"\nreturn msg;","outputs":1,"noerr":0,"x":904,"y":512,"wires":[["8d686699.8f521"]]},{"id":"c0c12797.9a9da8","type":"api-current-state","z":"103b2b90.4d268c","name":"Someone Home","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_family_state_raw","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"family_state","override_data":"msg","blockInputOverrides":false,"x":634,"y":392,"wires":[["140273c0.cd0b3c"]]},{"id":"140273c0.cd0b3c","type":"switch","z":"103b2b90.4d268c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"20","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":789,"y":392,"wires":[["5fa93082.e93a1"]]},{"id":"5fa93082.e93a1","type":"function","z":"103b2b90.4d268c","name":"","func":"var new_state = msg.data.new_state\n\nmsg.payload = new_state.attributes.friendly_name + \" Has Been Opened. Please investigate IMMEDIATELY. #Security #Motion #Emergency\"\nreturn msg;","outputs":1,"noerr":0,"x":904,"y":392,"wires":[["418c5001.685a88"]]},{"id":"acb9044c.ce5f78","type":"comment","z":"103b2b90.4d268c","name":"Door Contact Opened","info":"","x":594,"y":357,"wires":[]},{"id":"90558752.3096c","type":"comment","z":"103b2b90.4d268c","name":"Motion Detected","info":"","x":574,"y":477,"wires":[]},{"id":"9bc8fe91.5afc18","type":"link in","z":"103b2b90.4d268c","name":"Sec Notifty On Contact Trigger","links":["33e5e876.0c77a","30053085.c2cd7"],"x":509,"y":392,"wires":[["c0c12797.9a9da8"]]},{"id":"33e5e876.0c77a","type":"link out","z":"103b2b90.4d268c","name":"","links":["9bc8fe91.5afc18"],"x":344,"y":296,"wires":[]},{"id":"30053085.c2cd7","type":"link out","z":"103b2b90.4d268c","name":"","links":["9bc8fe91.5afc18"],"x":343,"y":344,"wires":[]},{"id":"f6601771.9a00e8","type":"inject","z":"103b2b90.4d268c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":495,"y":35,"wires":[["20674708.496ae"]]},{"id":"20674708.496ae","type":"api-current-state","z":"103b2b90.4d268c","name":"Guests Group","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.people_guests","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":670,"y":35,"wires":[["f34cd841.f376b8"]]},{"id":"f34cd841.f376b8","type":"change","z":"103b2b90.4d268c","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"data.attributes.entity_id","tot":"msg"},{"t":"delete","p":"data","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":845,"y":35,"wires":[["57d3f40d.05fc5c"]]},{"id":"57d3f40d.05fc5c","type":"switch","z":"103b2b90.4d268c","name":"Is Guest Home","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1040,"y":35,"wires":[["e11ab709.036e98"]]},{"id":"433e4972.6da5a","type":"switch","z":"103b2b90.4d268c","name":"Are We Home","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"20","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":865,"y":80,"wires":[["86615827.d20918"]]},{"id":"e11ab709.036e98","type":"api-current-state","z":"103b2b90.4d268c","name":"Someone Home","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_family_state_raw","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"family_state","override_data":"msg","blockInputOverrides":false,"x":680,"y":80,"wires":[["433e4972.6da5a"]]},{"id":"e3fa0c21.e59b2","type":"split","z":"103b2b90.4d268c","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":760,"y":125,"wires":[["941c2675.2e8fa"]]},{"id":"86615827.d20918","type":"function","z":"103b2b90.4d268c","name":"","func":"msg.payload = \"\"\nvar i;\nfor (i = 0; i < msg.parts.length; i++) {\n  msg.payload += msg.parts[i] + \",\";\n} \nreturn msg;","outputs":1,"noerr":0,"x":645,"y":125,"wires":[["e3fa0c21.e59b2"]]},{"id":"941c2675.2e8fa","type":"change","z":"103b2b90.4d268c","name":"","rules":[{"t":"delete","p":"parts","pt":"msg"},{"t":"delete","p":"family_state","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":905,"y":125,"wires":[["1eac6ced.d29433"]]},{"id":"eee8ecee.d39718","type":"api-current-state","z":"103b2b90.4d268c","name":"","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":790,"y":165,"wires":[["316d3317.db7f04"]]},{"id":"1eac6ced.d29433","type":"function","z":"103b2b90.4d268c","name":"","func":"var person = msg.payload\nmsg.payload.entity_id = person\nmsg.payload = {};\nmsg.payload.entity_id = person\nreturn msg;","outputs":1,"noerr":0,"x":645,"y":165,"wires":[["eee8ecee.d39718"]]},{"id":"b84b56bc.098db","type":"function","z":"103b2b90.4d268c","name":"","func":"msg.payload = msg.data.attributes.friendly_name + \" is at \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":165,"wires":[["2c2a1344.8919a4"]]},{"id":"316d3317.db7f04","type":"switch","z":"103b2b90.4d268c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":935,"y":165,"wires":[["b84b56bc.098db"]]},{"id":"d913dd52.95b98","type":"server-state-changed","z":"103b2b90.4d268c","name":"Guests Group","server":"b27af49e.d9bd78","version":"1","entityidfilter":"group.people_guests","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":480,"y":75,"wires":[["20674708.496ae"]]},{"id":"2c2a1344.8919a4","type":"function","z":"103b2b90.4d268c","name":"","func":"msg.payload = msg.payload + \". Strange that your not? #Security #Presence\"\nreturn msg;\n","outputs":1,"noerr":0,"x":935,"y":215,"wires":[["677f50d1.f3ac"]]},{"id":"8d686699.8f521","type":"subflow:5a520374.42875c","z":"103b2b90.4d268c","name":"","x":1039,"y":512,"wires":[]},{"id":"418c5001.685a88","type":"subflow:5a520374.42875c","z":"103b2b90.4d268c","name":"","x":1039,"y":392,"wires":[]},{"id":"677f50d1.f3ac","type":"subflow:5a520374.42875c","z":"103b2b90.4d268c","name":"","x":1070,"y":215,"wires":[]},{"id":"17d12c94.f695eb","type":"http response","z":"b3c5a6b9.91186","name":"","statusCode":"","headers":{},"x":792,"y":288,"wires":[]},{"id":"170cef65.7159e1","type":"http in","z":"b3c5a6b9.91186","name":"","url":"owntracks/stuart/phone","method":"post","upload":false,"swaggerDoc":"","x":192,"y":288,"wires":[["17d12c94.f695eb","d27b5342.e540f","be1a10d5.e98ce","6ff69d40.ba7964","ba343187.4a0ed8"]]},{"id":"d27b5342.e540f","type":"change","z":"b3c5a6b9.91186","name":"stuart/phone/location","rules":[{"t":"set","p":"topic","pt":"msg","to":"tracker/family/stuart/phone/location","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":502,"y":268,"wires":[["7eacfba2.b1672c"]]},{"id":"7eacfba2.b1672c","type":"mqtt out","z":"b3c5a6b9.91186","name":"","topic":"","qos":"2","retain":"true","broker":"f8fa9894.75c16","x":792,"y":328,"wires":[]},{"id":"7eb673b.fb3238c","type":"comment","z":"b3c5a6b9.91186","name":"Tasker OwnTracks Report","info":"","x":142,"y":328,"wires":[]},{"id":"a4b1df3e.a5e2f","type":"function","z":"b3c5a6b9.91186","name":"","func":"var translated = {}\ntranslated.longitude = msg.payload.lon\ntranslated.latitude = msg.payload.lat\ntranslated.gps_accuracy = msg.payload.acc\ntranslated.battery_level = msg.payload.batt\nmsg.payload = translated\nreturn msg;","outputs":1,"noerr":0,"x":672,"y":308,"wires":[["7eacfba2.b1672c"]]},{"id":"be1a10d5.e98ce","type":"change","z":"b3c5a6b9.91186","name":"tracker/family/stuart","rules":[{"t":"set","p":"topic","pt":"msg","to":"tracker/family/stuart","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":502,"y":308,"wires":[["a4b1df3e.a5e2f"]]},{"id":"fa61a680.4216e","type":"http response","z":"b3c5a6b9.91186","name":"","statusCode":"","headers":{},"x":792,"y":368,"wires":[]},{"id":"d0c8eeee.0b9c28","type":"http in","z":"b3c5a6b9.91186","name":"","url":"owntracks/kareen/phone","method":"post","upload":false,"swaggerDoc":"","x":192,"y":368,"wires":[["66dfd69d.5699e8","187a171f.24e3b1","b96deec7.6fc72","fa61a680.4216e","d9788ae9.23a8f"]]},{"id":"187a171f.24e3b1","type":"change","z":"b3c5a6b9.91186","name":"kareen/phone/location","rules":[{"t":"set","p":"topic","pt":"msg","to":"tracker/family/kareen/phone/location","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":502,"y":388,"wires":[["7eacfba2.b1672c"]]},{"id":"f28ecbfd.fea278","type":"function","z":"b3c5a6b9.91186","name":"","func":"var translated = {}\ntranslated.longitude = msg.payload.lon\ntranslated.latitude = msg.payload.lat\ntranslated.gps_accuracy = msg.payload.acc\ntranslated.battery_level = msg.payload.batt\nmsg.payload = translated\nreturn msg;","outputs":1,"noerr":0,"x":672,"y":348,"wires":[["7eacfba2.b1672c"]]},{"id":"66dfd69d.5699e8","type":"change","z":"b3c5a6b9.91186","name":"tracker/family/kareen","rules":[{"t":"set","p":"topic","pt":"msg","to":"tracker/family/kareen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":502,"y":348,"wires":[["f28ecbfd.fea278"]]},{"id":"3b749c9.e6005e4","type":"delay","z":"b3c5a6b9.91186","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1148,"y":464,"wires":[["d20cfc11.5f975"]]},{"id":"f910eb29.773de","type":"http request","z":"b3c5a6b9.91186","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","x":1478,"y":464,"wires":[["58080e43.e0f5c8"]]},{"id":"d20cfc11.5f975","type":"template","z":"b3c5a6b9.91186","name":"","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"http://192.168.0.201:8005/api/v1/location_basic/anderson/{{username}}","output":"str","x":1328,"y":464,"wires":[["f910eb29.773de"]]},{"id":"268ee7e.1132998","type":"debug","z":"9e19792f.bad6e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":50,"wires":[]},{"id":"b4b21bfd.4ed0e8","type":"debug","z":"b3c5a6b9.91186","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":40,"wires":[]},{"id":"4385efac.492048","type":"link in","z":"b3c5a6b9.91186","name":"","links":["2755d258.9464be","3fc65703.f5617","da6e5fb5.e90e78","6a9461b5.aca49","16c372b6.5e3175","84207611.bd9058","e51ca74a.eabd28","d30fe4c8.f4d0e"],"x":1013,"y":464,"wires":[["3b749c9.e6005e4"]]},{"id":"95b08fb7.cf6488","type":"change","z":"b3c5a6b9.91186","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"username","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":50,"wires":[["9766e236.5e78"]]},{"id":"aa86945f.7eb6a8","type":"change","z":"b3c5a6b9.91186","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"stuart","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":619,"y":552,"wires":[["6a9461b5.aca49"]]},{"id":"6a9461b5.aca49","type":"link out","z":"b3c5a6b9.91186","name":"","links":["4385efac.492048","8ca889a9.647938"],"x":734,"y":552,"wires":[]},{"id":"65f63b67.2ec1a4","type":"change","z":"b3c5a6b9.91186","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"kareen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":619,"y":672,"wires":[["16c372b6.5e3175"]]},{"id":"16c372b6.5e3175","type":"link out","z":"b3c5a6b9.91186","name":"","links":["4385efac.492048","8ca889a9.647938"],"x":734,"y":672,"wires":[]},{"id":"b96deec7.6fc72","type":"change","z":"b3c5a6b9.91186","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"kareen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":482,"y":428,"wires":[["84207611.bd9058"]]},{"id":"84207611.bd9058","type":"link out","z":"b3c5a6b9.91186","name":"","links":["4385efac.492048","8ca889a9.647938","bd989741.103328","2e1f6f94.09fac"],"x":597,"y":428,"wires":[]},{"id":"6ff69d40.ba7964","type":"change","z":"b3c5a6b9.91186","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"stuart","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":482,"y":228,"wires":[["e51ca74a.eabd28"]]},{"id":"e51ca74a.eabd28","type":"link out","z":"b3c5a6b9.91186","name":"","links":["4385efac.492048","8ca889a9.647938","2e1f6f94.09fac","bd989741.103328"],"x":597,"y":228,"wires":[]},{"id":"d73f1869.aa3038","type":"server-state-changed","z":"9e19792f.bad6e8","name":"Bedtime Selected","server":"b27af49e.d9bd78","version":"1","entityidfilter":"input_select.family_family_act_bedtime","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Bed Time","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":460,"wires":[["bc52fec7.d81758"],["188458b.3235527"]]},{"id":"bc52fec7.d81758","type":"delay","z":"9e19792f.bad6e8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":480,"wires":[["53092bc8.23f6e4"]]},{"id":"188458b.3235527","type":"change","z":"9e19792f.bad6e8","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":440,"wires":[["bc52fec7.d81758","24c8ce69.dd5452"]]},{"id":"24c8ce69.dd5452","type":"template","z":"9e19792f.bad6e8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Cancelled","output":"str","x":430,"y":440,"wires":[[]]},{"id":"ab2e8a07.1b4368","type":"mqtt out","z":"9e19792f.bad6e8","name":"","topic":"","qos":"","retain":"","broker":"f8fa9894.75c16","x":562,"y":480,"wires":[]},{"id":"53092bc8.23f6e4","type":"function","z":"9e19792f.bad6e8","name":"","func":"msg.topic = \"iot/scene/house\";\nmsg.payload = \"Going To Bed\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":480,"wires":[["ab2e8a07.1b4368"]]},{"id":"dd086563.ce18a","type":"comment","z":"9e19792f.bad6e8","name":"House Hold State","info":"","x":100,"y":20,"wires":[]},{"id":"fcff7cc7.2bbdf8","type":"comment","z":"9e19792f.bad6e8","name":"Leaving/Entering The House","info":"","x":130,"y":210,"wires":[]},{"id":"92e08286.4b9b18","type":"comment","z":"9e19792f.bad6e8","name":"React to Family State","info":"","x":110,"y":420,"wires":[]},{"id":"59e8291d.4fb1e","type":"debug","z":"86a2cb87.41be4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":782,"y":568,"wires":[]},{"id":"80be70af.503e88","type":"inject","z":"86a2cb87.41be4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":350,"wires":[["7c5422a2.4f2ab4"]]},{"id":"310dc9c0.9235ee","type":"server-state-changed","z":"70e66d25.f95abc","name":"Lighting Scene Selected","server":"b27af49e.d9bd78","version":1,"entityidfilter":"input_select.light_scene","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Off","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":182,"y":104,"wires":[["a70e5e4e.4de7f8"],["55b15016.cb1a8"]]},{"id":"bcfb2056.def0d8","type":"debug","z":"70e66d25.f95abc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":682,"y":84,"wires":[]},{"id":"a70e5e4e.4de7f8","type":"delay","z":"70e66d25.f95abc","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":412,"y":124,"wires":[["8083c247.030a3"]]},{"id":"55b15016.cb1a8","type":"change","z":"70e66d25.f95abc","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":372,"y":84,"wires":[["a70e5e4e.4de7f8","d246beb9.9b48b8"]]},{"id":"d246beb9.9b48b8","type":"template","z":"70e66d25.f95abc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Cancelled","output":"str","x":532,"y":84,"wires":[["bcfb2056.def0d8"]]},{"id":"767d04c8.d6e2f4","type":"mqtt out","z":"70e66d25.f95abc","name":"","topic":"","qos":"","retain":"","broker":"f8fa9894.75c16","x":702,"y":124,"wires":[]},{"id":"8083c247.030a3","type":"function","z":"70e66d25.f95abc","name":"","func":"msg.topic = \"iot/scene/lights\";\nreturn msg;","outputs":1,"noerr":0,"x":562,"y":124,"wires":[["767d04c8.d6e2f4"]]},{"id":"a83f978d.14d31","type":"comment","z":"70e66d25.f95abc","name":"React to Family State","info":"","x":168,"y":64,"wires":[]},{"id":"126088b4.cbc067","type":"comment","z":"86a2cb87.41be4","name":"HouseScene - Going To Bed","info":"","x":190,"y":310,"wires":[]},{"id":"f5183a0d.83fb08","type":"function","z":"86a2cb87.41be4","name":"House Lighting","func":"function default_on(entity_id) {\n\tvar default_on = {}\n\tdefault_on.payload = {}\n\tdefault_on.payload.service = \"turn_on\"\n\tdefault_on.payload.domain = \"light\"\n\tdefault_on.payload.data = {}\n\tdefault_on.payload.data.transition = 5\n\tdefault_on.payload.data.brightness = 150\n\tdefault_on.payload.data.rgb_color = [255,207,120]\n\tdefault_on.payload.data.entity_id = entity_id\n\treturn default_on\n}\n\nfunction default_off(entity_id) {\n\tvar default_off = {}\n\tdefault_off.payload = {}\n\tdefault_off.payload.service = \"turn_off\"\n\tdefault_off.payload.domain = \"light\"\n\tdefault_off.payload.data = {}\n\tdefault_off.payload.data.entity_id = entity_id\n\treturn default_off\n}\n\nfunction default_on_switch(entity_id) {\n\tvar default_on = {}\n\tdefault_on.payload = {}\n\tdefault_on.payload.service = \"turn_on\"\n\tdefault_on.payload.domain = \"switch\"\n\tdefault_on.payload.data = {}\n\tdefault_on.payload.data.entity_id = entity_id\n\treturn default_on\n}\n\nfunction default_off_switch(entity_id) {\n\tvar default_on = {}\n\tdefault_on.payload = {}\n\tdefault_on.payload.service = \"turn_off\"\n\tdefault_on.payload.domain = \"switch\"\n\tdefault_on.payload.data = {}\n\tdefault_on.payload.data.entity_id = entity_id\n\treturn default_on\n}\n\nvar outputs = []\n\noutputs.push(default_off(\"group.light_gf_dinning\"));\noutputs.push(default_off(\"light.gf_hallway_celing\"));\noutputs.push(default_off(\"light.gf_dinning_cooker\"));\noutputs.push(default_off(\"light.gf_dinning_dishwahser\"));\noutputs.push(default_off(\"light.gf_dinning_door_way\"));\noutputs.push(default_off(\"light.gf_dinning_sink\"));\noutputs.push(default_off(\"light.gf_living_celing\"));\noutputs.push(default_off(\"light.gf_living_lamp\"));\noutputs.push(default_off(\"light.gf_studio_celing\"));\n\nreturn outputs;","outputs":9,"noerr":0,"x":360,"y":720,"wires":[["2f47aafb.8d3276"],["2f47aafb.8d3276"],["2f47aafb.8d3276"],["2f47aafb.8d3276"],["2f47aafb.8d3276"],["2f47aafb.8d3276"],["2f47aafb.8d3276"],["2f47aafb.8d3276"],["2f47aafb.8d3276"]]},{"id":"2f47aafb.8d3276","type":"delay","z":"86a2cb87.41be4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":710,"wires":[["3139f976.9e604e"]]},{"id":"3139f976.9e604e","type":"api-call-service","z":"86a2cb87.41be4","name":"","server":"b27af49e.d9bd78","service_domain":"","service":"","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":725,"y":710,"wires":[["81eebe37.26b5d"]]},{"id":"81eebe37.26b5d","type":"debug","z":"86a2cb87.41be4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":745,"y":770,"wires":[]},{"id":"ab8f5b30.0c7068","type":"inject","z":"86a2cb87.41be4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":750,"wires":[["f5183a0d.83fb08"]]},{"id":"39bf4048.ae8748","type":"delay","z":"86a2cb87.41be4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":690,"wires":[["f5183a0d.83fb08"]]},{"id":"5465a383.390894","type":"function","z":"b3c5a6b9.91186","name":"","func":"msg.topic = \"tracker/family/\" + msg.username + \"/room\";\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":100,"wires":[["dde5ebc.2e38818","98642181.a99e38"]]},{"id":"c2f6a5a9.eb81d8","type":"json","z":"b3c5a6b9.91186","name":"","property":"payload","action":"","pretty":false,"x":850,"y":100,"wires":[["5465a383.390894"]]},{"id":"1c9a37a5.d82f38","type":"http request","z":"b3c5a6b9.91186","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","x":1010,"y":50,"wires":[["c2f6a5a9.eb81d8"]]},{"id":"9766e236.5e78","type":"template","z":"b3c5a6b9.91186","name":"","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"http://192.168.0.201:8005/api/v1/location_basic/anderson/{{username}}","output":"str","x":860,"y":50,"wires":[["1c9a37a5.d82f38"]]},{"id":"2427b0e.2d760d","type":"mqtt out","z":"b3c5a6b9.91186","name":"","topic":"","qos":"","retain":"true","broker":"f8fa9894.75c16","x":1438,"y":514,"wires":[]},{"id":"dde5ebc.2e38818","type":"mqtt out","z":"b3c5a6b9.91186","name":"","topic":"","qos":"","retain":"true","broker":"f8fa9894.75c16","x":1110,"y":100,"wires":[]},{"id":"b479e9bd.c6cc1","type":"http response","z":"b3c5a6b9.91186","name":"","statusCode":"","headers":{},"x":1110,"y":150,"wires":[]},{"id":"98642181.a99e38","type":"function","z":"b3c5a6b9.91186","name":"","func":"var room = msg.payload.data.loc\nmsg.payload = {}\nmsg.payload.message = room\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":150,"wires":[["b479e9bd.c6cc1"]]},{"id":"ef34059e.0289c","type":"delay","z":"f43c2fc4.f37718","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":260,"y":80,"wires":[["741feabc.0ed4c4"]]},{"id":"6b2dbce1.ffa46c","type":"delay","z":"ea135125.978e8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":280,"y":70,"wires":[["6f8b109b.a16a68"]]},{"id":"84dd93d4.9a92e8","type":"delay","z":"6b5456e0.047d7","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":270,"y":70,"wires":[["6092a5dd.53137c"]]},{"id":"f18ccabf.23d82","type":"switch","z":"4d697121.6b434","name":"","property":"tts","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":180,"y":120,"wires":[["63ea6a90.53f8c4"]]},{"id":"63ea6a90.53f8c4","type":"function","z":"4d697121.6b434","name":"Prep Data","func":"var payload = msg.payload\n\nmsg.payload = {}\nmsg.payload.data = {}\nmsg.payload.data.target = msg.tts.target\nmsg.payload.data.data = {}\nmsg.payload.data.data.type = \"announce\"\nmsg.payload.data.message = payload\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["e8e13c93.72b"]]},{"id":"e8e13c93.72b","type":"api-call-service","z":"4d697121.6b434","name":"Alexa Media","server":"b27af49e.d9bd78","service_domain":"notify","service":"alexa_media","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":480,"y":120,"wires":[[]]},{"id":"7c5422a2.4f2ab4","type":"exec","z":"86a2cb87.41be4","command":"/config/node-red/shell/bin/emby_evening_music.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":480,"y":360,"wires":[["7f54a1c3.554e38"],["76921e05.02dc18"],["172acd0d.b7f0e3"]]},{"id":"1456ff6d.fad4f9","type":"delay","z":"db2d12c6.e8984","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":272,"y":64,"wires":[["60c49b98.23d224"]]},{"id":"a8a6b900.ac29f","type":"server-state-changed","z":"103b2b90.4d268c","name":"Family Group","server":"b27af49e.d9bd78","version":"1","entityidfilter":"person\\..+","entityidfiltertype":"regex","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":126,"y":792,"wires":[["da1ca50b.c7e6f8"]]},{"id":"26d83b59.cb9c84","type":"function","z":"103b2b90.4d268c","name":"","func":"msg.payload = {};\nmsg.payload.name = msg.data.new_state.attributes.friendly_name\nmsg.payload.tracker = msg.data.new_state.attributes.source\nmsg.payload.state = msg.data.new_state.state\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":728,"wires":[["8633c3a3.3f7338","969ca4f.5563058"]]},{"id":"8633c3a3.3f7338","type":"change","z":"103b2b90.4d268c","name":"","rules":[{"t":"delete","p":"data","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":776,"wires":[["772c51d.8bf543"]]},{"id":"772c51d.8bf543","type":"function","z":"103b2b90.4d268c","name":"","func":"var person = msg.payload\n\nmsg.payload = person.name + \" just arrived, as reported by \" + person.tracker\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":776,"wires":[["393fe0cd.05b8a","c188a879.c7703"]]},{"id":"393fe0cd.05b8a","type":"subflow:94219112.b2c818","z":"103b2b90.4d268c","name":"","x":1304,"y":728,"wires":[]},{"id":"15afaea8.64b6a9","type":"debug","z":"103b2b90.4d268c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":696,"wires":[]},{"id":"969ca4f.5563058","type":"debug","z":"103b2b90.4d268c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1274,"y":688,"wires":[]},{"id":"c188a879.c7703","type":"debug","z":"103b2b90.4d268c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1426,"y":824,"wires":[]},{"id":"967aeb2d.b463b","type":"server-state-changed","z":"b3c5a6b9.91186","name":"Family Person's","server":"b27af49e.d9bd78","version":"1","entityidfilter":"person.stuart|person.kareen","entityidfiltertype":"regex","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":808,"wires":[["b68b9d9d.97f958"]]},{"id":"41f642fc.c7cfec","type":"delay","z":"b3c5a6b9.91186","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":100,"y":872,"wires":[["e2956d07.4a9ca"]]},{"id":"b68b9d9d.97f958","type":"switch","z":"b3c5a6b9.91186","name":"!= Home","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":276,"y":808,"wires":[["41f642fc.c7cfec"]]},{"id":"e2956d07.4a9ca","type":"switch","z":"b3c5a6b9.91186","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"person.stuart","vt":"str"},{"t":"eq","v":"person.kareen","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":226,"y":872,"wires":[["6bb56250.c82844"],["4fb4a88c.4445f"]]},{"id":"669c25a.fec8ddc","type":"function","z":"b3c5a6b9.91186","name":"0","func":"msg.payload = {}\nmsg.payload.state = 0\nreturn msg;","outputs":1,"noerr":0,"x":626,"y":848,"wires":[["5be861c2.2992c"]]},{"id":"dbea2550.cbf25","type":"link in","z":"b3c5a6b9.91186","name":"","links":["5be861c2.2992c","668b6f8b.573468"],"x":326,"y":526,"wires":[["caf93862.234018"]]},{"id":"c18feb2c.48fd5","type":"link in","z":"b3c5a6b9.91186","name":"","links":["d87ec9cc.99a9","906000cd.6c6518"],"x":326,"y":702,"wires":[["23bdeb0.690a316"]]},{"id":"5be861c2.2992c","type":"link out","z":"b3c5a6b9.91186","name":"","links":["dbea2550.cbf25"],"x":711,"y":848,"wires":[]},{"id":"d87ec9cc.99a9","type":"link out","z":"b3c5a6b9.91186","name":"","links":["c18feb2c.48fd5"],"x":711,"y":896,"wires":[]},{"id":"4fb4a88c.4445f","type":"api-current-state","z":"b3c5a6b9.91186","name":"Kareen","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.kareen","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":364,"y":896,"wires":[["6744d92a.9bcfd"]]},{"id":"6bb56250.c82844","type":"api-current-state","z":"b3c5a6b9.91186","name":"Stuart","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.stuart","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":354,"y":848,"wires":[["53976bde.dc5d94"]]},{"id":"53976bde.dc5d94","type":"switch","z":"b3c5a6b9.91186","name":"!= Home","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":848,"wires":[["669c25a.fec8ddc"]]},{"id":"6744d92a.9bcfd","type":"switch","z":"b3c5a6b9.91186","name":"!= Home","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":896,"wires":[["24836a20.a66356"]]},{"id":"24836a20.a66356","type":"function","z":"b3c5a6b9.91186","name":"0","func":"msg.payload = {}\nmsg.payload.state = 0\nreturn msg;","outputs":1,"noerr":0,"x":626,"y":896,"wires":[["d87ec9cc.99a9"]]},{"id":"80d06351.acd63","type":"function","z":"b3c5a6b9.91186","name":"0","func":"msg.payload = {}\nmsg.payload.state = 0\nreturn msg;","outputs":1,"noerr":0,"x":1386,"y":656,"wires":[["668b6f8b.573468"]]},{"id":"668b6f8b.573468","type":"link out","z":"b3c5a6b9.91186","name":"","links":["dbea2550.cbf25"],"x":1503,"y":696,"wires":[]},{"id":"906000cd.6c6518","type":"link out","z":"b3c5a6b9.91186","name":"","links":["c18feb2c.48fd5"],"x":1503,"y":832,"wires":[]},{"id":"64bde132.3b0628","type":"function","z":"b3c5a6b9.91186","name":"0","func":"msg.payload = {}\nmsg.payload.state = 0\nreturn msg;","outputs":1,"noerr":0,"x":1386,"y":792,"wires":[["906000cd.6c6518"]]},{"id":"b95a49fd.0cae88","type":"function","z":"b3c5a6b9.91186","name":"7","func":"msg.payload = {}\nmsg.payload.state = 7\nreturn msg;","outputs":1,"noerr":0,"x":1386,"y":832,"wires":[["906000cd.6c6518"]]},{"id":"ef0fad32.484348","type":"function","z":"b3c5a6b9.91186","name":"7","func":"msg.payload = {}\nmsg.payload.state = 7\nreturn msg;","outputs":1,"noerr":0,"x":1386,"y":696,"wires":[["668b6f8b.573468"]]},{"id":"ff4158e9.467e98","type":"inject","z":"b3c5a6b9.91186","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1260,"y":696,"wires":[["ef0fad32.484348"]]},{"id":"ab23569b.90fbe","type":"inject","z":"b3c5a6b9.91186","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1260,"y":656,"wires":[["80d06351.acd63"]]},{"id":"3692cef5.e02af2","type":"inject","z":"b3c5a6b9.91186","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1260,"y":832,"wires":[["b95a49fd.0cae88"]]},{"id":"bd8d8945.085d58","type":"inject","z":"b3c5a6b9.91186","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1260,"y":792,"wires":[["64bde132.3b0628"]]},{"id":"22d3c045.3c14c","type":"api-current-state","z":"f43c2fc4.f37718","name":"Study Plex Audio","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.media_ff_study_plex_audio","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":546,"y":144,"wires":[["583d5d56.16bce4"]]},{"id":"d851e204.698e88","type":"function","z":"f43c2fc4.f37718","name":"Plex Audio Playing","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/study\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/study/reason\";\nreason.payload = \"Plex Audio Playing\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":914,"y":144,"wires":[["a6d83e65.17fea8"],["a6d83e65.17fea8"]]},{"id":"583d5d56.16bce4","type":"switch","z":"f43c2fc4.f37718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"playing","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":744,"y":144,"wires":[["d851e204.698e88"],["73158bd0.62b35c"]]},{"id":"3ba4b81b.b9c8e","type":"switch","z":"103b2b90.4d268c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":522,"y":800,"wires":[["26d83b59.cb9c84","15afaea8.64b6a9"],["86e3fb4e.a288d","f6b67d86.0d8a6"]]},{"id":"5081b67.d106bc8","type":"function","z":"103b2b90.4d268c","name":"","func":"msg.payload = {};\nmsg.payload.name = msg.data.new_state.attributes.friendly_name\nmsg.payload.tracker = msg.data.new_state.attributes.source\nmsg.payload.state = msg.data.new_state.state\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":856,"wires":[["b66235a0.7d64a","aae2c04.088c14"]]},{"id":"b66235a0.7d64a","type":"change","z":"103b2b90.4d268c","name":"","rules":[{"t":"delete","p":"data","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":904,"wires":[["9064fb1d.e7dc38"]]},{"id":"9064fb1d.e7dc38","type":"function","z":"103b2b90.4d268c","name":"","func":"var person = msg.payload\n\nmsg.payload = person.name + \" just left, as reported by \" + person.tracker\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":904,"wires":[["eaf6707a.ef9c98","e3a6997c.486b38"]]},{"id":"eaf6707a.ef9c98","type":"subflow:94219112.b2c818","z":"103b2b90.4d268c","name":"","x":1304,"y":856,"wires":[]},{"id":"aae2c04.088c14","type":"debug","z":"103b2b90.4d268c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1274,"y":816,"wires":[]},{"id":"e3a6997c.486b38","type":"debug","z":"103b2b90.4d268c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1330,"y":944,"wires":[]},{"id":"388efe42.fc33d2","type":"function","z":"b3c5a6b9.91186","name":"9","func":"msg.payload = {}\nmsg.payload.state = 9\nreturn msg;","outputs":1,"noerr":0,"x":1386,"y":872,"wires":[["906000cd.6c6518"]]},{"id":"b4ad9d8e.22b81","type":"inject","z":"b3c5a6b9.91186","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1260,"y":872,"wires":[["388efe42.fc33d2"]]},{"id":"5d854c19.3e8dac","type":"function","z":"b3c5a6b9.91186","name":"9","func":"msg.payload = {}\nmsg.payload.state = 9\nreturn msg;","outputs":1,"noerr":0,"x":1386,"y":736,"wires":[[]]},{"id":"e16113b5.169d8","type":"inject","z":"b3c5a6b9.91186","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1260,"y":736,"wires":[["5d854c19.3e8dac"]]},{"id":"dcdae63b.a67fa8","type":"debug","z":"103b2b90.4d268c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":826,"y":856,"wires":[]},{"id":"86e3fb4e.a288d","type":"switch","z":"103b2b90.4d268c","name":"","property":"data.old_state.state","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":816,"wires":[["dcdae63b.a67fa8","5081b67.d106bc8"]]},{"id":"d7dbf83c.431fb8","type":"inject","z":"85b0aa49.11501","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 5-22 * * *","once":false,"onceDelay":0.1,"x":110,"y":48,"wires":[["edb34f44.0f913"]]},{"id":"edb34f44.0f913","type":"http request","z":"85b0aa49.11501","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.0.201:8853/admin/api.php?status&auth=462c765b5feb2030dd1a4856eb40566dc6785945af405ac339941e4927e9f7ac","tls":"","proxy":"","authType":"basic","x":270,"y":48,"wires":[["fc599ce4.ef93c8"]]},{"id":"fc599ce4.ef93c8","type":"json","z":"85b0aa49.11501","name":"","property":"payload","action":"","pretty":false,"x":410,"y":48,"wires":[["f3469126.92c178"]]},{"id":"f3469126.92c178","type":"switch","z":"85b0aa49.11501","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"disabled","vt":"str"},{"t":"eq","v":"enabled","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":540,"y":48,"wires":[["765bae34.83a428"],["65fdec94.1316b4"]]},{"id":"e4a0c918.544d9","type":"debug","z":"85b0aa49.11501","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":958,"y":40,"wires":[]},{"id":"65fdec94.1316b4","type":"function","z":"85b0aa49.11501","name":"","func":"msg.headers = {}\nmsg.headers.authorization = \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIyM2VlYTZlODcwMTE0MTk3YWY5ZTViOTQ2ODU3NDg3MyIsImlhdCI6MTU1OTA2ODMxOSwiZXhwIjoxODc0NDI4MzE5fQ.2yVAkHj9t4x57-vBQgrdxCdU-Wbc9MNWLmDTbph5rlw\"\nmsg.payload = {}\nmsg.payload.state = \"on\"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":24,"wires":[["147f196a.0ef4ef"]]},{"id":"147f196a.0ef4ef","type":"http request","z":"85b0aa49.11501","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://ha.anderson.eu.com/api/states/switch.pihole_enable","tls":"","proxy":"","authType":"basic","x":818,"y":40,"wires":[["e4a0c918.544d9"]]},{"id":"765bae34.83a428","type":"function","z":"85b0aa49.11501","name":"","func":"msg.headers = {}\nmsg.headers.authorization = \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIyM2VlYTZlODcwMTE0MTk3YWY5ZTViOTQ2ODU3NDg3MyIsImlhdCI6MTU1OTA2ODMxOSwiZXhwIjoxODc0NDI4MzE5fQ.2yVAkHj9t4x57-vBQgrdxCdU-Wbc9MNWLmDTbph5rlw\"\nmsg.payload = {}\nmsg.payload.state = \"off\"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":64,"wires":[["147f196a.0ef4ef"]]},{"id":"f6b67d86.0d8a6","type":"debug","z":"103b2b90.4d268c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670.88330078125,"y":878.8833312988281,"wires":[]},{"id":"da1ca50b.c7e6f8","type":"switch","z":"103b2b90.4d268c","name":"","property":"data.new_state.attributes.gps_accuracy","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":266,"y":792,"wires":[["833ee268.2e082","ef41451b.b47818"],["3ba4b81b.b9c8e","d2cf3ca2.6f0708"]]},{"id":"833ee268.2e082","type":"switch","z":"103b2b90.4d268c","name":"","property":"data.new_state.attributes.gps_accuracy","propertyType":"msg","rules":[{"t":"lte","v":"25","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":394,"y":776,"wires":[["3ba4b81b.b9c8e","eb9bfa04.7ebe6"]]},{"id":"d2cf3ca2.6f0708","type":"debug","z":"103b2b90.4d268c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":266,"y":856,"wires":[]},{"id":"ef41451b.b47818","type":"debug","z":"103b2b90.4d268c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":426,"y":848,"wires":[]},{"id":"eb9bfa04.7ebe6","type":"debug","z":"103b2b90.4d268c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":538,"y":760,"wires":[]},{"id":"5225a22a.3fe1dc","type":"delay","z":"a87fba0b.d47658","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":454,"y":64,"wires":[["f10857f0.520618"]]},{"id":"66e38739.46605","type":"delay","z":"a87fba0b.d47658","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":288,"y":64,"wires":[["5225a22a.3fe1dc"]]},{"id":"f10857f0.520618","type":"change","z":"a87fba0b.d47658","name":"","rules":[{"t":"delete","p":"data","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":634,"y":64,"wires":[["d9ed314f.371ce"]]},{"id":"e4ecc47b.6372c8","type":"server-state-changed","z":"a87fba0b.d47658","name":"Stuart's Dest","server":"b27af49e.d9bd78","version":1,"entityidfilter":"sensor.family_stuart_drive_dest","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":86,"y":64,"wires":[["66e38739.46605"]]},{"id":"eac98a59.b5d1a8","type":"server-state-changed","z":"a87fba0b.d47658","name":"Stuart's ETA","server":"b27af49e.d9bd78","version":1,"entityidfilter":"sensor.family_stuart_drive_eta","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":86,"y":99,"wires":[["66e38739.46605"]]},{"id":"d0f17652.5df8e","type":"server-state-changed","z":"a87fba0b.d47658","name":"Stuart's Out","server":"b27af49e.d9bd78","version":1,"entityidfilter":"sensor.family_stuart_drive_out","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":86,"y":134,"wires":[["66e38739.46605"]]},{"id":"d9ed314f.371ce","type":"api-current-state","z":"a87fba0b.d47658","name":"Dest","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_stuart_drive_dest","state_type":"str","state_location":"dest","override_payload":"msg","entity_location":"obj_dest","override_data":"msg","blockInputOverrides":false,"x":258,"y":104,"wires":[["f0152b2b.44fe9"]]},{"id":"f0152b2b.44fe9","type":"switch","z":"a87fba0b.d47658","name":"","property":"dest","propertyType":"msg","rules":[{"t":"eq","v":"Home","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":378,"y":104,"wires":[["c0fa6010.9b32d8"],["45cb9a31.2fe73c"]]},{"id":"ce262c4d.f467a","type":"api-current-state","z":"a87fba0b.d47658","name":"ETA","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_stuart_drive_eta","state_type":"str","state_location":"eta","override_payload":"msg","entity_location":"obj_eta","override_data":"msg","blockInputOverrides":false,"x":258,"y":208,"wires":[["8536d4a3.33b0a8"]]},{"id":"45cb9a31.2fe73c","type":"change","z":"a87fba0b.d47658","name":"out_next","rules":[{"t":"delete","p":"dest_out_stuart","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":524,"y":104,"wires":[[]]},{"id":"be75c5de.f963a","type":"change","z":"a87fba0b.d47658","name":"out_next","rules":[{"t":"set","p":"out_next","pt":"msg","to":"dest_out_stuart","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":556,"y":208,"wires":[["de3701ca.bed5a8"]]},{"id":"de3701ca.bed5a8","type":"api-current-state","z":"a87fba0b.d47658","name":"Out","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.family_stuart_drive_out","state_type":"str","state_location":"out","override_payload":"msg","entity_location":"obj_out","override_data":"msg","blockInputOverrides":false,"x":258,"y":264,"wires":[["ed195613.226dd8"]]},{"id":"ed195613.226dd8","type":"function","z":"a87fba0b.d47658","name":"Out to Int","func":"msg.out = parseInt(msg.out)\nreturn msg;","outputs":1,"noerr":0,"x":388,"y":264,"wires":[["8de5b472.d33478"]]},{"id":"284dc35c.0dfc6c","type":"switch","z":"a87fba0b.d47658","name":"","property":"obj_dest.timeSinceChangedMs","propertyType":"msg","rules":[{"t":"lte","v":"1000","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":312,"wires":[["9689c389.b7b52"],["b5cde579.94eb38"]]},{"id":"8de5b472.d33478","type":"debug","z":"a87fba0b.d47658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":546,"y":264,"wires":[]},{"id":"9689c389.b7b52","type":"function","z":"a87fba0b.d47658","name":"New Trip","func":"if (msg.out > 20) {\n    msg.out_next = msg.out - 10;\n} else {\n    msg.out_next = msg.out - 5;\n}\nreturn msg;","outputs":1,"noerr":0,"x":668,"y":304,"wires":[["d746cb0b.a142e"]]},{"id":"b5cde579.94eb38","type":"switch","z":"a87fba0b.d47658","name":"","property":"out","propertyType":"msg","rules":[{"t":"lt","v":"10","vt":"num"},{"t":"lt","v":"out_next","vt":"msg"}],"checkall":"false","repair":false,"outputs":2,"x":498,"y":320,"wires":[["d1b06a19.0c3e3"],["62c8305f.793128"]]},{"id":"d746cb0b.a142e","type":"change","z":"a87fba0b.d47658","name":"out_next","rules":[{"t":"set","p":"dest_out_stuart","pt":"global","to":"out_next","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":844,"y":304,"wires":[["9537c7af.2fa33"]]},{"id":"62c8305f.793128","type":"function","z":"a87fba0b.d47658","name":"So Close","func":"if (msg.out > 20) {\n    msg.out_next = msg.out - 10;\n} else {\n    msg.out_next = msg.out - 5;\n}\nreturn msg;","outputs":1,"noerr":0,"x":668,"y":384,"wires":[["8191d553.0c043"]]},{"id":"9537c7af.2fa33","type":"template","z":"a87fba0b.d47658","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Stuart is driving {{dest}}, he's about {{out}} minutes away. ETA is {{eta}}.","output":"str","x":980,"y":304,"wires":[["a8968cd.6cffff"]]},{"id":"8191d553.0c043","type":"change","z":"a87fba0b.d47658","name":"out_next","rules":[{"t":"set","p":"dest_out_stuart","pt":"global","to":"out_next","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":844,"y":384,"wires":[["eb0d512c.fe23b"]]},{"id":"eb0d512c.fe23b","type":"template","z":"a87fba0b.d47658","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Stuart is still driving {{dest}}, he's about {{out}} minutes away. ETA is {{eta}}.","output":"str","x":980,"y":384,"wires":[["a8968cd.6cffff"]]},{"id":"b81f42d8.16ef5","type":"comment","z":"a87fba0b.d47658","name":"Driving Destination","info":"","x":106,"y":24,"wires":[]},{"id":"5d71a624.ffd478","type":"subflow:4d697121.6b434","z":"a87fba0b.d47658","name":"","env":[],"x":1164,"y":384,"wires":[]},{"id":"8536d4a3.33b0a8","type":"function","z":"a87fba0b.d47658","name":"","func":"if (msg.obj_eta.timeSinceChangedMs < 5000) {\n    msg.eta = \"now \" + msg.eta\n} else {\n    msg.eta = \"still \" + msg.eta\n}\nreturn msg;","outputs":1,"noerr":0,"x":378,"y":208,"wires":[["be75c5de.f963a"]]},{"id":"d1b06a19.0c3e3","type":"function","z":"a87fba0b.d47658","name":"Interval Update","func":"if (msg.out > 20) {\n    msg.out_next = msg.out - 10;\n} else {\n    msg.out_next = msg.out - 5;\n}\nreturn msg;","outputs":1,"noerr":0,"x":688,"y":344,"wires":[["6aa74252.c56cfc"]]},{"id":"6aa74252.c56cfc","type":"change","z":"a87fba0b.d47658","name":"out_next","rules":[{"t":"set","p":"dest_out_stuart","pt":"global","to":"-100","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":844,"y":344,"wires":[["a4bcb9c1.f30db8"]]},{"id":"a4bcb9c1.f30db8","type":"template","z":"a87fba0b.d47658","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Stuart is now less than ten minutes from {{dest}}.","output":"str","x":980,"y":344,"wires":[["a8968cd.6cffff"]]},{"id":"c0fa6010.9b32d8","type":"switch","z":"a87fba0b.d47658","name":"","property":"dest_out_stuart","propertyType":"global","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"null"}],"checkall":"false","repair":false,"outputs":2,"x":258,"y":160,"wires":[["ce262c4d.f467a"],["ce262c4d.f467a"]]},{"id":"a8968cd.6cffff","type":"function","z":"a87fba0b.d47658","name":"","func":"msg.tts = {}\nmsg.tts.target = \"media_player.everywhere\"\nreturn msg;","outputs":1,"noerr":0,"x":1154,"y":344,"wires":[["5d71a624.ffd478"]]},{"id":"5dc4a03e.1ba778","type":"api-current-state","z":"6b5456e0.047d7","name":"Study Plex Audio","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.media_ff_bedroom_plex_audio","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":538,"y":256,"wires":[["3f1b9063.02c638"]]},{"id":"c14ce7f9.33f4d","type":"function","z":"6b5456e0.047d7","name":"Plex Video Playing","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/bedroom\";\nstate.payload = \"ON\";\n\nreason.topic = \"iot/room/occupancy/bedroom/reason\";\nreason.payload = \"Plex Video Playing\";\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":922,"y":256,"wires":[["1626ae0a.0d531a"],["1626ae0a.0d531a"]]},{"id":"3f1b9063.02c638","type":"switch","z":"6b5456e0.047d7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"playing","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":736,"y":256,"wires":[["c14ce7f9.33f4d"],[]]},{"id":"ba3229e6.c96428","type":"switch","z":"103b2b90.4d268c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Closed","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":272,"wires":[[]]},{"id":"7209e451.34025c","type":"switch","z":"103b2b90.4d268c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Closed","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":258,"y":344,"wires":[["30053085.c2cd7"]]},{"id":"abb28567.62dee8","type":"api-current-state","z":"ea135125.978e8","name":"Harmony","server":"b27af49e.d9bd78","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.remote_gf_livingroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":484,"y":296,"wires":[["544d4c2f.1b421c"]]},{"id":"544d4c2f.1b421c","type":"switch","z":"ea135125.978e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"PowerOff","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":714,"y":296,"wires":[["3e90ee00.b29052"],["c6722eba.e6232"]]},{"id":"3e90ee00.b29052","type":"function","z":"ea135125.978e8","name":"Monitor Watts","func":"state = {};\nreason = {};\n\nstate.topic = \"iot/room/occupancy/livingroom\";\nstate.payload = \"ON\";\n\nreason.topic = state.topic + \"/reason\";\nreason.payload = \"Harmony: \" + msg.payload;\n\nreturn [state,reason];","outputs":2,"noerr":0,"x":879,"y":291,"wires":[["51956de4.37dadc"],["51956de4.37dadc"]]},{"id":"5dc9072.1b0c4f8","type":"function","z":"86a2cb87.41be4","name":"Turn Off Heating","func":"study = {}\nstudy.payload = {}\nstudy.payload.service = \"set_temperature\"\nstudy.payload.domain = \"climate\"\nstudy.payload.data = {}\nstudy.payload.data.entity_id = \"climate.hallway\"\nstudy.payload.data.temperature = 10\nreturn study;","outputs":1,"noerr":0,"x":578,"y":472,"wires":[["28873c2b.05ba1c"]]},{"id":"750b2add.3c943c","type":"http in","z":"7c4edcbf.0aba1c","name":"","url":"scrape/books/series","method":"post","upload":false,"swaggerDoc":"","x":158,"y":528,"wires":[["65fcabe0.fe1e4c"]]},{"id":"9b41b35a.7f35f8","type":"http request","z":"7c4edcbf.0aba1c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","x":566,"y":528,"wires":[["d82d3331.988bb"]]},{"id":"d82d3331.988bb","type":"html","z":"7c4edcbf.0aba1c","name":"","property":"","outproperty":"title","tag":"h1.bc-heading.bc-color-base.bc-text-bold","ret":"html","as":"multi","x":296,"y":576,"wires":[["c95cf88c.889b6"]]},{"id":"c95cf88c.889b6","type":"change","z":"7c4edcbf.0aba1c","name":"","rules":[{"t":"delete","p":"url","pt":"msg"},{"t":"delete","p":"parts","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":552,"y":576,"wires":[["a04b7fb4.f91488"]]},{"id":"ba94cd40.76419","type":"http in","z":"7c4edcbf.0aba1c","name":"","url":"scrape/books/author","method":"post","upload":false,"swaggerDoc":"","x":158,"y":208,"wires":[["3dc6b912.07bd3e"]]},{"id":"e556077e.b696f8","type":"http request","z":"7c4edcbf.0aba1c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","x":558,"y":208,"wires":[["8769f376.a5eff"]]},{"id":"8769f376.a5eff","type":"html","z":"7c4edcbf.0aba1c","name":"","property":"","outproperty":"title","tag":"h1.bc-heading.bc-color-base.bc-text-bold","ret":"html","as":"multi","x":288,"y":256,"wires":[["9a30187b.d84918"]]},{"id":"9a30187b.d84918","type":"change","z":"7c4edcbf.0aba1c","name":"","rules":[{"t":"delete","p":"url","pt":"msg"},{"t":"change","p":"title","pt":"msg","from":"Showing results by author ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"title","pt":"msg","from":"</span>","fromt":"str","to":"","tot":"str"},{"t":"change","p":"title","pt":"msg","from":"\\n","fromt":"re","to":"","tot":"str"},{"t":"change","p":"title","pt":"msg","from":"<span .+>","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":544,"y":256,"wires":[["9e3dbed3.f32cf"]]},{"id":"9e3dbed3.f32cf","type":"html","z":"7c4edcbf.0aba1c","name":"","property":"","outproperty":"books","tag":"span.bc-text.resultsSummarySubheading.bc-color-secondary","ret":"html","as":"multi","x":358,"y":296,"wires":[["c40930cb.facab"]]},{"id":"c40930cb.facab","type":"change","z":"7c4edcbf.0aba1c","name":"","rules":[{"t":"change","p":"books","pt":"msg","from":" results","fromt":"str","to":"","tot":"str"},{"t":"change","p":"title","pt":"msg","from":"&quot;","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":688,"y":296,"wires":[["abd9e168.411118","49573f1a.15e9d"]]},{"id":"af3c6a16.b8074","type":"function","z":"7c4edcbf.0aba1c","name":"","func":"msg.payload = {}\nmsg.payload.title = msg.title\nmsg.payload.books = parseInt(msg.books)\nmsg.payload.url = msg.responseUrl\nmsg.payload.release = msg.release\n\nif( typeof msg.book_title !== 'undefined' ) {\n    msg.payload.latest_book = msg.book_title\n} else {\n    msg.payload.latest_book = \"n/a\"\n}\nif( typeof msg.book_narrator !== 'undefined' ) {\n    msg.payload.latest_narrator = msg.book_narrator\n} else {\n    msg.payload.latest_narrator = \"n/a\"\n}\nif( typeof msg.book_runtime !== 'undefined' ) {\n    msg.payload.latest_length = msg.book_runtime\n} else {\n    msg.payload.latest_length = \"n/a\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":826,"y":928,"wires":[["42ab4ea2.2140a8"]]},{"id":"42ab4ea2.2140a8","type":"json","z":"7c4edcbf.0aba1c","name":"","property":"payload","action":"","pretty":false,"x":946,"y":928,"wires":[["6ec59a7a.e39eac","6ecbc60.5320ebc"]]},{"id":"6ec59a7a.e39eac","type":"http response","z":"7c4edcbf.0aba1c","name":"","statusCode":"","headers":{"Content-Type":"application/json"},"x":1066,"y":928,"wires":[]},{"id":"65fcabe0.fe1e4c","type":"function","z":"7c4edcbf.0aba1c","name":"","func":"msg.url = \"https://www.audible.co.uk/series?asin=\" + msg.payload.key\nreturn msg;","outputs":1,"noerr":0,"x":394,"y":528,"wires":[["9b41b35a.7f35f8"]]},{"id":"3dc6b912.07bd3e","type":"function","z":"7c4edcbf.0aba1c","name":"","func":"msg.url = \"https://www.audible.co.uk/search?\" + msg.payload.search + \"&feature_six_browse-bin=5177374031&sort=pubdate-desc-rank\"\nreturn msg;","outputs":1,"noerr":0,"x":394,"y":208,"wires":[["e556077e.b696f8","48e7150e.fd996c"]]},{"id":"c0fd1cc2.694548","type":"html","z":"7c4edcbf.0aba1c","name":"","property":"","outproperty":"releaseDateLabel","tag":"li.bc-list-item.releaseDateLabel","ret":"html","as":"single","x":274,"y":808,"wires":[["38155341.378e3c"]]},{"id":"38155341.378e3c","type":"function","z":"7c4edcbf.0aba1c","name":"","func":"msg.release = msg.releaseDateLabel[0]\nreturn msg;","outputs":1,"noerr":0,"x":474,"y":808,"wires":[["be2b2078.b46b08"]]},{"id":"be2b2078.b46b08","type":"change","z":"7c4edcbf.0aba1c","name":"","rules":[{"t":"delete","p":"url","pt":"msg"},{"t":"change","p":"release","pt":"msg","from":"\\n","fromt":"re","to":"","tot":"str"},{"t":"change","p":"release","pt":"msg","from":"Release date: ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"release","pt":"msg","from":"</span>","fromt":"str","to":"","tot":"str"},{"t":"change","p":"release","pt":"msg","from":"<span .+>","fromt":"re","to":"","tot":"str"},{"t":"change","p":"release","pt":"msg","from":"\\s","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":624,"y":808,"wires":[["2624cd03.94a1aa"]]},{"id":"16e183dd.8fb714","type":"moment","z":"7c4edcbf.0aba1c","name":"","topic":"","input":"release","inputType":"msg","inTz":"Europe/London","adjAmount":"1","adjType":"hours","adjDir":"add","format":"dddd, MMMM Do YYYY","locale":"C","output":"release","outputType":"msg","outTz":"Europe/London","x":996,"y":888,"wires":[["af3c6a16.b8074"]]},{"id":"3e04162b.41ccd2","type":"http in","z":"7c4edcbf.0aba1c","name":"","url":"scrape/books/search","method":"post","upload":false,"swaggerDoc":"","x":158,"y":376,"wires":[["f4373162.5cd6d"]]},{"id":"7a0540d4.36de4","type":"http request","z":"7c4edcbf.0aba1c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","x":558,"y":376,"wires":[["55d5e636.5e368"]]},{"id":"55d5e636.5e368","type":"html","z":"7c4edcbf.0aba1c","name":"","property":"","outproperty":"title","tag":"h2.bc-heading.bc-color-base.resultsSummaryHeading.bc-text-bold","ret":"html","as":"multi","x":378,"y":424,"wires":[["87f6675e.9977e"]]},{"id":"87f6675e.9977e","type":"change","z":"7c4edcbf.0aba1c","name":"","rules":[{"t":"delete","p":"url","pt":"msg"},{"t":"change","p":"title","pt":"msg","from":"Showing results by author ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"title","pt":"msg","from":"</span>","fromt":"str","to":"","tot":"str"},{"t":"change","p":"title","pt":"msg","from":"\\n","fromt":"re","to":"","tot":"str"},{"t":"change","p":"title","pt":"msg","from":"<span .+>","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":728,"y":424,"wires":[["ae3a4446.545db"]]},{"id":"f4373162.5cd6d","type":"function","z":"7c4edcbf.0aba1c","name":"","func":"msg.url = \"https://www.audible.co.uk/search?\" + msg.payload.search + \"&feature_six_browse-bin=5177374031&sort=pubdate-desc-rank\"\nreturn msg;","outputs":1,"noerr":0,"x":394,"y":376,"wires":[["7a0540d4.36de4"]]},{"id":"96e106a2.532d78","type":"function","z":"7c4edcbf.0aba1c","name":"","func":"var res = msg.release.split(\"-\");\nmsg.release = res[2] + \"-\" + res[1] + \"-\" + res[0]\nreturn msg;","outputs":1,"noerr":0,"x":826,"y":888,"wires":[["16e183dd.8fb714"]]},{"id":"2624cd03.94a1aa","type":"html","z":"7c4edcbf.0aba1c","name":"","property":"","outproperty":"payload","tag":"li.bc-list-item.productListItem","ret":"html","as":"single","x":274,"y":848,"wires":[["d7f592c3.d72498"]]},{"id":"d7f592c3.d72498","type":"function","z":"7c4edcbf.0aba1c","name":"","func":"msg.payload = msg.payload[0]\nreturn msg;","outputs":1,"noerr":0,"x":474,"y":848,"wires":[["addaceae.6a053"]]},{"id":"8b8222d4.d71ab","type":"html","z":"7c4edcbf.0aba1c","name":"","property":"","outproperty":"book_runtime","tag":"li.bc-list-item.runtimeLabel","ret":"html","as":"single","x":224,"y":1024,"wires":[["814963a9.f69ec"]]},{"id":"814963a9.f69ec","type":"function","z":"7c4edcbf.0aba1c","name":"","func":"msg.book_runtime = msg.book_runtime[0]\nreturn msg;","outputs":1,"noerr":0,"x":434,"y":1024,"wires":[["17c1d8.e1406e28"]]},{"id":"7d397579.3d0aac","type":"html","z":"7c4edcbf.0aba1c","name":"","property":"","outproperty":"book_narrator","tag":"li.bc-list-item.narratorLabel","ret":"html","as":"single","x":224,"y":984,"wires":[["cf1e2672.19369"]]},{"id":"cf1e2672.19369","type":"function","z":"7c4edcbf.0aba1c","name":"","func":"msg.book_narrator = msg.book_narrator[0]\nreturn msg;","outputs":1,"noerr":0,"x":434,"y":984,"wires":[["65f8ed7a.f1f5b4"]]},{"id":"17c1d8.e1406e28","type":"change","z":"7c4edcbf.0aba1c","name":"","rules":[{"t":"change","p":"book_runtime","pt":"msg","from":"\\n","fromt":"re","to":"","tot":"str"},{"t":"change","p":"book_runtime","pt":"msg","from":"Length: ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"book_runtime","pt":"msg","from":"</span>","fromt":"str","to":"","tot":"str"},{"t":"change","p":"book_runtime","pt":"msg","from":"<span .+>","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":584,"y":1024,"wires":[[]]},{"id":"65f8ed7a.f1f5b4","type":"html","z":"7c4edcbf.0aba1c","name":"","property":"book_narrator","outproperty":"book_narrator","tag":"a","ret":"html","as":"single","x":554,"y":984,"wires":[["35c47db5.acf7a2"]]},{"id":"35c47db5.acf7a2","type":"function","z":"7c4edcbf.0aba1c","name":"","func":"msg.book_narrator = msg.book_narrator[0]\nreturn msg;","outputs":1,"noerr":0,"x":674,"y":984,"wires":[["8b8222d4.d71ab"]]},{"id":"addaceae.6a053","type":"html","z":"7c4edcbf.0aba1c","name":"","property":"","outproperty":"book_title","tag":"li.bc-list-item","ret":"html","as":"single","x":246,"y":888,"wires":[["18a97c0.721d784"]]},{"id":"18a97c0.721d784","type":"function","z":"7c4edcbf.0aba1c","name":"","func":"msg.book_title = msg.book_title[0]\nreturn msg;","outputs":1,"noerr":0,"x":506,"y":888,"wires":[["255cef2b.f3b2d"]]},{"id":"255cef2b.f3b2d","type":"change","z":"7c4edcbf.0aba1c","name":"","rules":[{"t":"change","p":"book_title","pt":"msg","from":"\\n","fromt":"re","to":"","tot":"str"},{"t":"change","p":"book_title","pt":"msg","from":"</h2>","fromt":"str","to":"","tot":"str"},{"t":"change","p":"book_title","pt":"msg","from":"<h2 .+>","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":672,"y":888,"wires":[["96e106a2.532d78"]]},{"id":"abd9e168.411118","type":"link out","z":"7c4edcbf.0aba1c","name":"","links":["10056a32.804bfe","19a9cfc1.3bd3d8"],"x":799,"y":296,"wires":[]},{"id":"6ecbc60.5320ebc","type":"debug","z":"7c4edcbf.0aba1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1094,"y":968,"wires":[]},{"id":"19a9cfc1.3bd3d8","type":"link in","z":"7c4edcbf.0aba1c","name":"","links":["f9f65303.bf22c8","abd9e168.411118","ea1fd313.de0a78","2f063cc7.4bac24"],"x":95,"y":808,"wires":[["c0fd1cc2.694548"]]},{"id":"ae3a4446.545db","type":"html","z":"7c4edcbf.0aba1c","name":"","property":"","outproperty":"books","tag":"span.bc-text.resultsSummarySubheading.bc-color-secondary","ret":"html","as":"multi","x":358,"y":464,"wires":[["f5cb192b.7e522"]]},{"id":"f5cb192b.7e522","type":"change","z":"7c4edcbf.0aba1c","name":"","rules":[{"t":"change","p":"books","pt":"msg","from":" results","fromt":"str","to":"","tot":"str"},{"t":"change","p":"title","pt":"msg","from":"&quot;","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":688,"y":464,"wires":[["ea1fd313.de0a78"]]},{"id":"ea1fd313.de0a78","type":"link out","z":"7c4edcbf.0aba1c","name":"","links":["10056a32.804bfe","19a9cfc1.3bd3d8"],"x":799,"y":464,"wires":[]},{"id":"a04b7fb4.f91488","type":"html","z":"7c4edcbf.0aba1c","name":"","property":"","outproperty":"books","tag":"span.bc-text.num-books-in-series.bc-color-secondary","ret":"html","as":"multi","x":336,"y":616,"wires":[["a783f29e.735e8"]]},{"id":"a783f29e.735e8","type":"change","z":"7c4edcbf.0aba1c","name":"","rules":[{"t":"change","p":"books","pt":"msg","from":" results","fromt":"str","to":"","tot":"str"},{"t":"change","p":"title","pt":"msg","from":"&quot;","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":696,"y":616,"wires":[["2f063cc7.4bac24"]]},{"id":"2f063cc7.4bac24","type":"link out","z":"7c4edcbf.0aba1c","name":"","links":["10056a32.804bfe","19a9cfc1.3bd3d8"],"x":807,"y":616,"wires":[]},{"id":"ba343187.4a0ed8","type":"debug","z":"b3c5a6b9.91186","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":718,"y":240,"wires":[]},{"id":"2e08381a.566168","type":"debug","z":"b3c5a6b9.91186","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":494,"y":496,"wires":[]},{"id":"ff38db4c.a8b4f8","type":"e-mail in","z":"7c4edcbf.0aba1c","name":"","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"Read","criteria":"ALL","repeat":"300","fetch":"trigger","inputs":0,"x":122,"y":1168,"wires":[["4f0abc5f.c2e54c"]]},{"id":"55e9f940.71b358","type":"inject","z":"7c4edcbf.0aba1c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/5 5-21 * * *","once":false,"onceDelay":0.1,"x":126,"y":1120,"wires":[["ff38db4c.a8b4f8"]]},{"id":"4f0abc5f.c2e54c","type":"switch","z":"7c4edcbf.0aba1c","name":"Subject Check","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Subscription Notification: Your Upcoming Issues","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":272,"y":1168,"wires":[["70d86052.4a85a8"],["6aecb525.e882bc"]],"outputLabels":["Upcoming Issues",""]},{"id":"6aecb525.e882bc","type":"debug","z":"7c4edcbf.0aba1c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":262,"y":1216,"wires":[]},{"id":"c21259e6.bc83f8","type":"file","z":"7c4edcbf.0aba1c","name":"","filename":"/config/eml.html","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1136,"y":1040,"wires":[[]]},{"id":"9c0a66c0.0bb248","type":"change","z":"7c4edcbf.0aba1c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"html","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":936,"y":1040,"wires":[["c21259e6.bc83f8"]]},{"id":"3d0a7220.7cf2c6","type":"html","z":"7c4edcbf.0aba1c","name":"","property":"html","outproperty":"html_img","tag":"img","ret":"attr","as":"multi","x":322,"y":1416,"wires":[["718bba40.833fa4"]]},{"id":"718bba40.833fa4","type":"switch","z":"7c4edcbf.0aba1c","name":"Has Title","property":"html_img.title","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":452,"y":1416,"wires":[["ea986afc.9dcb1"]]},{"id":"1baf18f8.a1f5cf","type":"change","z":"7c4edcbf.0aba1c","name":"Clean MSG","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"header","pt":"msg"},{"t":"delete","p":"to","pt":"msg"},{"t":"delete","p":"from","pt":"msg"},{"t":"delete","p":"attachments","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":182,"y":1416,"wires":[["3d0a7220.7cf2c6"]]},{"id":"ea986afc.9dcb1","type":"change","z":"7c4edcbf.0aba1c","name":"Comic Title","rules":[{"t":"set","p":"comic_title","pt":"msg","to":"html_img.title","tot":"msg"},{"t":"delete","p":"html_img","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":622,"y":1416,"wires":[["b100f28a.73a448"]]},{"id":"b100f28a.73a448","type":"html","z":"7c4edcbf.0aba1c","name":"","property":"html","outproperty":"html_cells","tag":"td","ret":"text","as":"multi","x":322,"y":1456,"wires":[["3da1e91c.066f36"]]},{"id":"4758bb9c.c3c524","type":"switch","z":"7c4edcbf.0aba1c","name":"Has Release Date","property":"html_cells","propertyType":"msg","rules":[{"t":"regex","v":"^ReleaseDate:\\d\\d\\d\\d-\\d\\d-\\d\\d","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":1,"x":642,"y":1456,"wires":[["8fb9cb25.79907"]]},{"id":"3da1e91c.066f36","type":"change","z":"7c4edcbf.0aba1c","name":"New Lines","rules":[{"t":"change","p":"html_cells","pt":"msg","from":"\\s","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":462,"y":1456,"wires":[["4758bb9c.c3c524"]]},{"id":"8fb9cb25.79907","type":"change","z":"7c4edcbf.0aba1c","name":"Comic Release Date","rules":[{"t":"set","p":"comic_date","pt":"msg","to":"html_cells","tot":"msg"},{"t":"delete","p":"html_cells","pt":"msg"},{"t":"change","p":"comic_date","pt":"msg","from":"ReleaseDate:","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":852,"y":1456,"wires":[["4613be37.204d38"]]},{"id":"4613be37.204d38","type":"change","z":"7c4edcbf.0aba1c","name":"","rules":[{"t":"delete","p":"html","pt":"msg"},{"t":"delete","p":"parts","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":352,"y":1504,"wires":[["42b1616b.5e4da"]]},{"id":"70d86052.4a85a8","type":"link out","z":"7c4edcbf.0aba1c","name":"","links":["c1109202.14b53"],"x":455,"y":1152,"wires":[]},{"id":"c1109202.14b53","type":"link in","z":"7c4edcbf.0aba1c","name":"","links":["70d86052.4a85a8"],"x":63,"y":1416,"wires":[["1baf18f8.a1f5cf"]]},{"id":"80fb722.98f799","type":"comment","z":"7c4edcbf.0aba1c","name":"Subscription Notification: Your Upcoming Issues","info":"","x":228,"y":1368,"wires":[]},{"id":"2c352f88.26d62","type":"function","z":"7c4edcbf.0aba1c","name":"","func":"var comic = msg.payload[0]\n\nvar topic = \"eml/alerts/comics/upcoming\"\nvar mqtt_payloads = []\n\nmqtt = {}\nmqtt.topic = topic\nmqtt.payload = {}\nmqtt.payload.title = comic.comic\nmqtt.payload.issue = comic.issue\nmqtt.payload.relase_date = comic.date\nmqtt_payloads.push(mqtt)\n\nreturn mqtt_payloads;","outputs":1,"noerr":0,"x":474,"y":1696,"wires":[["9ff9532b.72cdf"]]},{"id":"3bf2e3f9.c7a754","type":"mysql","z":"7c4edcbf.0aba1c","mydb":"9f200a8c.8e82","name":"","x":844,"y":1504,"wires":[["666a59b0.ec58c8"]]},{"id":"42b1616b.5e4da","type":"moment","z":"7c4edcbf.0aba1c","name":"","topic":"","input":"comic_date","inputType":"msg","inTz":"Europe/London","adjAmount":"2","adjType":"hours","adjDir":"add","format":"","locale":"C","output":"comic_date","outputType":"msg","outTz":"Europe/London","x":548,"y":1504,"wires":[["fee37f8b.3e3688"]]},{"id":"fee37f8b.3e3688","type":"function","z":"7c4edcbf.0aba1c","name":"","func":"var comic = msg.comic_title.split(\" #\")\n\nvar comic_title = comic[0]\nvar comic_issue = comic[1]\nvar comic_release_date = msg.comic_date\n\nmsg.topic = \"INSERT INTO `comics_upcoming` (`uid`, `comic`, `issue`, `date`) VALUES (NULL, '\"+comic_title+\"', '\"+comic_issue+\"', '\"+comic_release_date+\"') ON DUPLICATE KEY UPDATE date='\"+comic_release_date+\"';\"\nreturn msg;","outputs":1,"noerr":0,"x":714,"y":1504,"wires":[["3bf2e3f9.c7a754"]]},{"id":"a6bb7cc8.5640e8","type":"function","z":"7c4edcbf.0aba1c","name":"Get next Comic","func":"msg.topic = \"SELECT `comic`, `issue`, `date` FROM `comics_upcoming` WHERE `date` >= NOW() LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"x":504,"y":1584,"wires":[["d38a658d.173a68"]]},{"id":"d38a658d.173a68","type":"mysql","z":"7c4edcbf.0aba1c","mydb":"9f200a8c.8e82","name":"","x":660,"y":1584,"wires":[["8c8d7a19.e3eec"]]},{"id":"9ff9532b.72cdf","type":"moment","z":"7c4edcbf.0aba1c","name":"","topic":"","input":"payload.relase_date","inputType":"msg","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"x","locale":"C","output":"timestamp","outputType":"msg","outTz":"Europe/London","x":644,"y":1696,"wires":[["9959b1ff.fbb24"]]},{"id":"11956b59.9a5d15","type":"humanizer","z":"7c4edcbf.0aba1c","name":"","input":"timestamp","x":614,"y":1736,"wires":[["e996acbb.dc814"]]},{"id":"deb528e7.9432c8","type":"function","z":"7c4edcbf.0aba1c","name":"","func":"var millis = parseInt(msg.timestamp) - Date.now();\n\nmsg.payload.timestamp = Math.floor(millis/1000);\n\nreturn msg;","outputs":1,"noerr":0,"x":474,"y":1736,"wires":[["11956b59.9a5d15"]]},{"id":"9959b1ff.fbb24","type":"moment","z":"7c4edcbf.0aba1c","name":"","topic":"","input":"payload.relase_date","inputType":"msg","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"dddd, MMMM Do","locale":"C","output":"payload.relase_date","outputType":"msg","outTz":"Europe/London","x":860,"y":1696,"wires":[["deb528e7.9432c8"]]},{"id":"e996acbb.dc814","type":"change","z":"7c4edcbf.0aba1c","name":"","rules":[{"t":"delete","p":"payload.timestamp","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":834,"y":1736,"wires":[["4bdb1f4c.a03b48"]]},{"id":"4bdb1f4c.a03b48","type":"mqtt out","z":"7c4edcbf.0aba1c","name":"","topic":"","qos":"2","retain":"true","broker":"f8fa9894.75c16","x":1242,"y":1736,"wires":[]},{"id":"e452d8d6.a7dc3","type":"comment","z":"7c4edcbf.0aba1c","name":"Subscription Notification: Your Upcoming Issues to MQTT","info":"","x":332,"y":1544,"wires":[]},{"id":"666a59b0.ec58c8","type":"delay","z":"7c4edcbf.0aba1c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":192,"y":1584,"wires":[["be56b335.f4d44"]]},{"id":"be56b335.f4d44","type":"delay","z":"7c4edcbf.0aba1c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":348,"y":1584,"wires":[["a6bb7cc8.5640e8"]]},{"id":"ca9790aa.6d05c8","type":"http in","z":"85b0aa49.11501","name":"","url":"/gitlab/commits/lastweek","method":"get","upload":false,"swaggerDoc":"","x":176,"y":136,"wires":[["439b1e9d.3ffb"]]},{"id":"3cf442a8.4e373e","type":"http response","z":"85b0aa49.11501","name":"","statusCode":"","headers":{},"x":794,"y":312,"wires":[]},{"id":"db72255c.6d3ee","type":"debug","z":"85b0aa49.11501","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":794,"y":272,"wires":[]},{"id":"54335e3b.37e568","type":"function","z":"85b0aa49.11501","name":"Get Commits","func":"var old_msg = msg\n\nmsg = {}\nmsg.res = old_msg.res\nmsg.final = old_msg.final\nmsg.gitlab_project = old_msg.gitlab_project\nmsg.gitlab_token = old_msg.gitlab_token\n\nmsg.headers = {}\nmsg.payload = {}\n\nreturn msg;","outputs":1,"noerr":0,"x":168,"y":272,"wires":[["215fd1d1.4d5cc6"]]},{"id":"215fd1d1.4d5cc6","type":"function","z":"85b0aa49.11501","name":"","func":"msg.url = \"https://git.nxfifteen.rocks/api/v4/projects/\" + msg.gitlab_project + \"/repository/commits?since=2000-01-01&per_page=100\"\nreturn msg;","outputs":1,"noerr":0,"x":354,"y":272,"wires":[["942e6190.5a098"]]},{"id":"942e6190.5a098","type":"change","z":"85b0aa49.11501","name":"Private Token","rules":[{"t":"set","p":"headers.PRIVATE-TOKEN","pt":"msg","to":"gitlab_token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":504,"y":272,"wires":[["ef21bdd8.82f4a8"]]},{"id":"ef21bdd8.82f4a8","type":"http request","z":"85b0aa49.11501","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":158,"y":312,"wires":[["fbfb9fce.b04ec8"]]},{"id":"fbfb9fce.b04ec8","type":"json","z":"85b0aa49.11501","name":"","property":"payload","action":"","pretty":false,"x":298,"y":312,"wires":[["22376bd6.563cfc"]]},{"id":"22376bd6.563cfc","type":"function","z":"85b0aa49.11501","name":"","func":"msg.final.commit_count = msg.payload.length\nreturn msg;","outputs":1,"noerr":0,"x":418,"y":312,"wires":[["250e3ff9.c2223"]]},{"id":"36df56e4.77a402","type":"function","z":"85b0aa49.11501","name":"Get Project","func":"var old_msg = msg\n\nmsg = {}\nmsg.res = old_msg.res\nmsg.final = old_msg.final\nmsg.gitlab_project = old_msg.gitlab_project\nmsg.gitlab_token = old_msg.gitlab_token\n\nmsg.headers = {}\nmsg.payload = {}\n\nreturn msg;","outputs":1,"noerr":0,"x":158,"y":176,"wires":[["ba0df999.567b4"]]},{"id":"ba0df999.567b4","type":"function","z":"85b0aa49.11501","name":"","func":"msg.url = \"https://git.nxfifteen.rocks/api/v4/projects/\" + msg.gitlab_project\nreturn msg;","outputs":1,"noerr":0,"x":354,"y":176,"wires":[["b9ccbdf7.502ac"]]},{"id":"b9ccbdf7.502ac","type":"change","z":"85b0aa49.11501","name":"Private Token","rules":[{"t":"set","p":"headers.PRIVATE-TOKEN","pt":"msg","to":"gitlab_token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":504,"y":176,"wires":[["2b08c6ef.29e0ca"]]},{"id":"2b08c6ef.29e0ca","type":"http request","z":"85b0aa49.11501","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","authType":"basic","x":158,"y":216,"wires":[["68e4c35e.fb07ac"]]},{"id":"68e4c35e.fb07ac","type":"json","z":"85b0aa49.11501","name":"","property":"payload","action":"","pretty":false,"x":298,"y":216,"wires":[["b7d5ead7.fd1a28"]]},{"id":"b7d5ead7.fd1a28","type":"function","z":"85b0aa49.11501","name":"","func":"msg.final.name = msg.payload.name\nmsg.final.open_issues_count = msg.payload.open_issues_count\nmsg.final.star_count = msg.payload.star_count\nmsg.final.forks_count = msg.payload.forks_count\nreturn msg;","outputs":1,"noerr":0,"x":418,"y":216,"wires":[["54335e3b.37e568"]]},{"id":"250e3ff9.c2223","type":"change","z":"85b0aa49.11501","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"final","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":602,"y":312,"wires":[["db72255c.6d3ee","3cf442a8.4e373e"]]},{"id":"439b1e9d.3ffb","type":"function","z":"85b0aa49.11501","name":"Get Commits","func":"var old_msg = msg\n\nmsg = {}\nmsg.res = old_msg.res\nmsg.headers = {}\nmsg.payload = {}\nmsg.final = {}\n\nmsg.gitlab_project = old_msg.payload.project\nmsg.gitlab_token = old_msg.req.headers.token\n\n\nreturn msg;","outputs":1,"noerr":0,"x":456,"y":136,"wires":[["36df56e4.77a402"]]},{"id":"77046b7f.45e214","type":"debug","z":"9e19792f.bad6e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":714,"y":16,"wires":[]},{"id":"c1ce7b91.ef27d8","type":"debug","z":"9e19792f.bad6e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":714,"y":144,"wires":[]},{"id":"edc60044.70cbd","type":"inject","z":"a851d623.c788e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":108,"y":400,"wires":[["ea561a6e.6ff788"]]},{"id":"ea561a6e.6ff788","type":"moment","z":"a851d623.c788e8","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"w","locale":"C","output":"","outputType":"msg","outTz":"Europe/London","x":288,"y":400,"wires":[["5cbab497.27bbbc","d54f7704.2ac7a"]]},{"id":"fdb0b869.2e5e68","type":"debug","z":"a851d623.c788e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":526,"y":400,"wires":[]},{"id":"5cbab497.27bbbc","type":"function","z":"a851d623.c788e8","name":"","func":"if( msg.payload%2 === 0 ) { \n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":218,"y":440,"wires":[["93409395.365ec"]]},{"id":"93409395.365ec","type":"switch","z":"a851d623.c788e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":338,"y":440,"wires":[["fdb0b869.2e5e68"],["5b618605.f4a8f"]],"outputLabels":["trash","recycling"]},{"id":"5b618605.f4a8f","type":"debug","z":"a851d623.c788e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":526,"y":480,"wires":[]},{"id":"d54f7704.2ac7a","type":"debug","z":"a851d623.c788e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":526,"y":352,"wires":[]},{"id":"f4815b82.20ac88","type":"debug","z":"b3c5a6b9.91186","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":462,"y":712,"wires":[]},{"id":"d9788ae9.23a8f","type":"debug","z":"b3c5a6b9.91186","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":416,"wires":[]},{"id":"7d284cf3.179034","type":"debug","z":"86a2cb87.41be4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":104,"wires":[]},{"id":"7f54a1c3.554e38","type":"debug","z":"86a2cb87.41be4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":774,"y":288,"wires":[]},{"id":"76921e05.02dc18","type":"debug","z":"86a2cb87.41be4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":782,"y":336,"wires":[]},{"id":"172acd0d.b7f0e3","type":"debug","z":"86a2cb87.41be4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":782,"y":392,"wires":[]},{"id":"746b4e75.f154f8","type":"inject","z":"86a2cb87.41be4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":116,"y":472,"wires":[["857a6e44.04aca8"]]},{"id":"40b19680.0dfdc8","type":"api-current-state","z":"a851d623.c788e8","name":"","server":"b27af49e.d9bd78","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"calendar.calendar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":756,"y":120,"wires":[["8c329cf.b1090e"]]},{"id":"737109cf.84eac8","type":"inject","z":"a851d623.c788e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":516,"y":120,"wires":[["40b19680.0dfdc8"]]},{"id":"8c329cf.b1090e","type":"debug","z":"a851d623.c788e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1066,"y":120,"wires":[]},{"id":"6ac1c091.2d8ef8","type":"http response","z":"85b0aa49.11501","name":"","statusCode":"","headers":{},"x":1138,"y":136,"wires":[]},{"id":"1fdf891f.a2ede7","type":"http in","z":"85b0aa49.11501","name":"","url":"webhook/gitlab/pipeline","method":"post","upload":false,"swaggerDoc":"","x":880,"y":136,"wires":[["6ac1c091.2d8ef8","acf144c9.115d3","9b2c53da.40e9d8"]]},{"id":"acf144c9.115d3","type":"debug","z":"85b0aa49.11501","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1138,"y":96,"wires":[]},{"id":"9b2c53da.40e9d8","type":"function","z":"85b0aa49.11501","name":"","func":"var id_no = msg.payload.project.id\nvar status = msg.payload.object_attributes.status\n\nmsg.topic = \"webhooks/gitlab/\" + id_no\nmsg.payload = status\nreturn msg;","outputs":1,"noerr":0,"x":986,"y":176,"wires":[["2c0103b5.36fb74","51ee6c60.1ef17c"]]},{"id":"2c0103b5.36fb74","type":"debug","z":"85b0aa49.11501","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1138,"y":224,"wires":[]},{"id":"51ee6c60.1ef17c","type":"mqtt out","z":"85b0aa49.11501","name":"","topic":"","qos":"2","retain":"true","broker":"f8fa9894.75c16","x":1138,"y":176,"wires":[]},{"id":"8c8d7a19.e3eec","type":"switch","z":"7c4edcbf.0aba1c","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":1632,"wires":[["cff1d328.d779d8"],["2c352f88.26d62"]]},{"id":"8e8132a8.3fd8d","type":"inject","z":"7c4edcbf.0aba1c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/5 5-21 * * *","once":false,"onceDelay":0.1,"x":302,"y":1632,"wires":[["a6bb7cc8.5640e8"]]},{"id":"6dc81024.cebb28","type":"function","z":"7c4edcbf.0aba1c","name":"","func":"var topic = \"eml/alerts/comics/upcoming\"\nvar mqtt_payloads = []\n\nmqtt = {}\nmqtt.topic = topic\nmqtt.payload = {}\nmqtt.payload.title = \"Nothing Coming Up\"\nmqtt.payload.issue = 0\nmqtt.payload.relase_date = msg.payload.relase_date\nmqtt_payloads.push(mqtt)\n\nreturn mqtt_payloads;","outputs":1,"noerr":0,"x":1018,"y":1632,"wires":[["4bdb1f4c.a03b48"]]},{"id":"cff1d328.d779d8","type":"moment","z":"7c4edcbf.0aba1c","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"dddd, MMMM Do","locale":"C","output":"payload.relase_date","outputType":"msg","outTz":"Europe/London","x":844,"y":1632,"wires":[["6dc81024.cebb28"]]},{"id":"48e7150e.fd996c","type":"debug","z":"7c4edcbf.0aba1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":698,"y":184,"wires":[]},{"id":"49573f1a.15e9d","type":"debug","z":"7c4edcbf.0aba1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":874,"y":344,"wires":[]},{"id":"3ae7491.85670b6","type":"debug","z":"85b0aa49.11501","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1126,"y":584,"wires":[]},{"id":"98b5d52f.d1c358","type":"inject","z":"85b0aa49.11501","name":"","topic":"","payload":"stuart","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":106,"y":432,"wires":[["671d2636.23d1e8"]]},{"id":"c945ef37.db7a8","type":"inject","z":"85b0aa49.11501","name":"","topic":"","payload":"kareen","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":106,"y":472,"wires":[["671d2636.23d1e8"]]},{"id":"ea0b6998.dd764","type":"inject","z":"85b0aa49.11501","name":"","topic":"","payload":"john","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":106,"y":512,"wires":[["671d2636.23d1e8"]]},{"id":"b4df47a5.7f2528","type":"inject","z":"85b0aa49.11501","name":"","topic":"","payload":"maureen","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":552,"wires":[["671d2636.23d1e8"]]},{"id":"671d2636.23d1e8","type":"change","z":"85b0aa49.11501","name":"","rules":[{"t":"set","p":"user","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":304,"y":488,"wires":[["d08dd213.b9c3b"]]},{"id":"9e114376.f9b15","type":"api-current-state","z":"85b0aa49.11501","name":"","server":"b27af49e.d9bd78","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":616,"y":488,"wires":[["c00bee2d.03559"]]},{"id":"d08dd213.b9c3b","type":"function","z":"85b0aa49.11501","name":"Person","func":"msg.payload = {}\nmsg.payload.entity_id = \"device_tracker.\" + msg.user\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":488,"wires":[["9e114376.f9b15"]]},{"id":"4f525bb3.cdde6c","type":"debug","z":"85b0aa49.11501","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1134,"y":480,"wires":[]},{"id":"c00bee2d.03559","type":"switch","z":"85b0aa49.11501","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"not_home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":762,"y":488,"wires":[["4f525bb3.cdde6c"],["c1b2efe4.dc692"]]},{"id":"c1b2efe4.dc692","type":"change","z":"85b0aa49.11501","name":"","rules":[{"t":"set","p":"location","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"location.lat","pt":"msg","to":"data.attributes.latitude","tot":"msg"},{"t":"set","p":"location.lon","pt":"msg","to":"data.attributes.longitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":304,"y":536,"wires":[["43597269.9f6874"]]},{"id":"f4f7cdb5.575cd8","type":"google geocoding","z":"85b0aa49.11501","name":"","geocodeBy":"coordinates","address":"","lat":"","lon":"","googleAPI":"5f40507b.89b3b","bounds":"","language":"","region":"","components":"","x":334,"y":584,"wires":[["9e6a154f.654b2","9ced7567.a2e5e"]]},{"id":"9e6a154f.654b2","type":"change","z":"85b0aa49.11501","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.results[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":554,"y":584,"wires":[["99c783fd.cb373"]]},{"id":"99c783fd.cb373","type":"function","z":"85b0aa49.11501","name":"","func":"var i;\nfor (i = 0; i < msg.payload.address_components.length; i++) {\n    if ( msg.payload.address_components[i].types[0] == \"locality\" ) {\n        msg.adr_name = msg.payload.address_components[i].long_name\n        return msg;\n    } else if ( msg.payload.address_components[i].types[0] == \"postal_town\" ) {\n        msg.adr_name = msg.payload.address_components[i].long_name\n        return msg;\n    }\n}\nmsg.adr_name = msg.payload.formatted_address\nreturn msg;","outputs":1,"noerr":0,"x":738,"y":584,"wires":[["32000580.af41fa","1d149074.413b98"]]},{"id":"32000580.af41fa","type":"function","z":"85b0aa49.11501","name":"","func":"var name = msg.adr_name\nvar address = msg.payload.formatted_address\nvar lat = msg.payload.geometry.location.lat\nvar lon = msg.payload.geometry.location.lng\n\nmsg.topic = \"INSERT INTO `geofences` (`id`, `name`, `address`, `lat`, `lng`) VALUES (NULL, '\"+name+\"', '\"+address+\"', '\"+lat+\"', '\"+lon+\"') ON DUPLICATE KEY UPDATE name='\"+name+\"',  address='\"+address+\"';\"\nreturn msg;","outputs":1,"noerr":0,"x":738,"y":624,"wires":[["3bcdc143.47129e"]]},{"id":"3bcdc143.47129e","type":"mysql","z":"85b0aa49.11501","mydb":"9f200a8c.8e82","name":"","x":900,"y":624,"wires":[["7fe79f5f.575bc"]]},{"id":"7fe79f5f.575bc","type":"debug","z":"85b0aa49.11501","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1126,"y":624,"wires":[]},{"id":"92bba6f4.6f9e1","type":"debug","z":"85b0aa49.11501","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1134,"y":528,"wires":[]},{"id":"43597269.9f6874","type":"function","z":"85b0aa49.11501","name":"","func":"var lat = msg.location.lat\nvar lon = msg.location.lon\n\nmsg.topic = \"SELECT name, ( 6371 * acos( cos( radians(\" + lat + \") ) * cos( radians( geofences.lat ) ) * cos( radians(geofences.lng) - radians(\" + lon + \")) + sin(radians(\" + lat + \")) * sin( radians(geofences.lat)))) AS distance FROM geofences HAVING distance < 0.25 ORDER BY distance LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":536,"wires":[["39595090.f387c"]]},{"id":"39595090.f387c","type":"mysql","z":"85b0aa49.11501","mydb":"9f200a8c.8e82","name":"","x":596,"y":536,"wires":[["429177a5.1fcdc"]]},{"id":"429177a5.1fcdc","type":"switch","z":"85b0aa49.11501","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":762,"y":536,"wires":[["8b7002aa.ea35a8"],["f4f7cdb5.575cd8"]]},{"id":"8b7002aa.ea35a8","type":"change","z":"85b0aa49.11501","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].name","tot":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":928,"y":528,"wires":[["92bba6f4.6f9e1"]]},{"id":"1d149074.413b98","type":"change","z":"85b0aa49.11501","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"adr_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":584,"wires":[["3ae7491.85670b6"]]},{"id":"9ced7567.a2e5e","type":"debug","z":"85b0aa49.11501","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":624,"wires":[]}]